<template>
    <div class="innerMenuPageList">
        <h1 class="innerMenuPageList__h1 h1">{{ articleDetail.title }}</h1>
        <div class="innerMenuPageList__content" v-html="articleDetail.body"></div>
    </div>
</template>

<script>
import global from '~/mixins/global'
import { mapGetters } from 'vuex'
export default {
    mixins: [global],
    async asyncData ({ store, params }) {
        await store.dispatch('articlesAndNews/getOneArticle', params.slug)
    },
    computed: {
        ...mapGetters('articlesAndNews', [
            'getArticle'
        ]),
        slug () {
            return this.$route.params.slug
        },
        articleDetail () {
            return this.getArticle(this.slug)
        }
    }
}
</script>

<style lang="scss">
@import "~/assets/styles/articlesAndNews.scss";
</style>
