<template>
    <div class="innerMenuPage">
        <div class="innerMenuPage__content">
            <h1 class="h1 innerMenuPage__h1">Статьи и обзоры</h1>
            <div class="articlesAndNews" v-if="issetArticlesList">
                <div class="articlesAndNews__list">
                    <div class="articlesAndNews__item" v-for="(article, newsIndex) in articles.data">
                        <div class="articlesAndNews__img-wr">
                            <n-link :to="{ path: `/articles/${innerSlug(article.details)}` }" class="innerMenuPage__img-link">
                                <div class="innerMenuPage__relative"></div>
                                <img v-if="article.image" :src="`${$baseUrlImg}${article.image}`" alt="" class="innerMenuPage__relative-content">
                                <img v-else src="~/assets/img/empty-img.jpg" alt="" class="innerMenuPage__relative-content">
                            </n-link>
                        </div>
                        <div class="articlesAndNews__content">
                            <div class="articlesAndNews__title">{{ article.title }}</div>
                            <div class="articlesAndNews__date">{{ article.created_at }}</div>
                            <div class="articlesAndNews__description">{{ article.excerpt }}</div>
                            <n-link :to="{ path: `/articles/${innerSlug(article.details)}` }" class="articlesAndNews__button">Подробнее</n-link>
                        </div>
                    </div>
                </div>
                <pagination :data="articles" @pagination-change-page="getNewsPage" v-if="issetArticlesList && articles.meta.last_page > 1" :limit="2">
                    <span slot="prev-nav">&lt; Назад</span>
                    <span slot="next-nav">Вперед &gt;</span>
                </pagination>
            </div>
        </div>
    </div>
</template>

<script>
import global from '@/mixins/global'
import { mapFields } from 'vuex-map-fields'
import { mapActions, mapGetters } from 'vuex'
import pagination from 'laravel-vue-pagination'
export default {
    mixins: [global],
    components: {
        pagination
    },
    async asyncData ({ store, params }) {
        const isset = store.getters['articlesAndNews/issetArticlesList']
        if(!isset) {
            await store.dispatch('articlesAndNews/getArticlesList', {
                page: 1
            })
        }
    },
    computed: {
        ...mapFields('articlesAndNews', [
            'articles'
        ]),
        ...mapGetters('articlesAndNews', [
            'issetArticlesList'
        ]),
        ...mapFields('menu', [
            'showLoader'
        ]),
        innerSlug: () => url => {
            const adress = url.replace(/https?:\/\//, '')
            const adressArr = adress.split('/')
            return adressArr[adressArr.length - 1]
        },
    },
    methods: {
        ...mapActions('articlesAndNews', [
            'getArticlesList'
        ]),
        async getNewsPage(page = 1) {
            this.showLoader = true
            await this.getArticlesList({
                page
            })
            this.showLoader = false
        }
    }
}
</script>

<style lang="scss" >
@import '~/assets/styles/innerMenuPages.scss';
</style>
