<template>
    <footer class="footer">
        <div class="wrapper wrapper_hidden">
            <div class="footer__row">
                <div class="footer__col footer__col_left">
                    <div class="footer__sub-row">
                        <div class="footer__sub-col">
                            <div class="footer__sub-caption footer__sub-caption_mobile" :class="{ 'footer__sub-caption_active': showState.shop }" @click="toogleMenu('shop')">Магазин</div>
                            <div class="footer__links-block" v-show="showState.shop">
                                <n-link to="/promotions" class="footer__link">Акции и бонусы</n-link>
                            </div>
                        </div>
                        <div class="footer__sub-col">
                            <div class="footer__sub-caption footer__sub-caption_mobile" :class="{ 'footer__sub-caption_active': showState.info }" @click="toogleMenu('info')">Информация</div>
                            <div class="footer__links-block" v-show="showState.info">
                                <n-link to="/dostavka-i-oplata/" class="footer__link">Доставка и оплата</n-link>
                                <n-link to="/news/" class="footer__link">Новости</n-link>
                                <n-link to="/articles/" class="footer__link">Статьи</n-link>
                                <n-link to="/o-nas/" class="footer__link">О нас</n-link>
                                <n-link to="/kontakty/" class="footer__link">Контакты</n-link>
                                <n-link to="/reviews/" class="footer__link">Отзывы</n-link>
                                <n-link to="/bonusy-i-skidki/" class="footer__link">Скидки и бонусы</n-link>
                            </div>
                        </div>
                        <div class="footer__sub-col">
                            <div class="footer__sub-caption footer__sub-caption_mobile" :class="{ 'footer__sub-caption_active': showState.cabinet }" @click="toogleMenu('cabinet')">Личный кабинет</div>
                            <div class="footer__links-block" v-show="showState.cabinet">
                                <n-link to="/login" class="footer__link">Войти</n-link>
                                <n-link to="/register" class="footer__link">Зарегистрироваься</n-link>
                                <n-link to="/cart" class="footer__link">Корзина</n-link>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__col footer__col_right">
                    <div class="footer__sub-caption">Как с нами связаться</div>
                    <div class="footer__sub-row">
                        <div class="footer__sub-col">
<!--                            <div class="footer__button">Написать нам</div>-->
<!--                            <div class="footer__button">Обратный звонок</div>-->
                            <div class="footer__links-wr">
                                <a href="tel:+79289289823" class="footer__link"><img src="~/assets/img/phone.svg" class="footer__link-img" alt="">+7 928 928 98 23</a>
                                <a href="tel:+79889379143" class="footer__link"><img src="~/assets/img/whatsup.svg" class="footer__link-img" alt="">+7 988 937 91 43</a>
                            </div>
                        </div>
                        <div class="footer__sub-col">
                            <div class="footer__text-group">
                                <div class="footer__label">Telegram Канал</div>
                                <a href="https://t.me/greeeen_shooop" target="_blank" class="footer__link">greeeen_shooop</a>
                            </div>
                            <div class="footer__text-group">
                                <div class="footer__label">Telegram чат</div>
                                <a href="https://t.me/greenshop_chats" target="_blank" class="footer__link">greenshop_chats</a>
                            </div>
                            <div class="footer__text-group">
                                <div class="footer__label">Задать вопрос</div>
                                <a href="https://tlgg.ru/@mjcabinet" target="_blank" class="footer__link">@mjcabinet (Сын Ветра)</a>
                            </div>
                        </div>
                        <div class="footer__sub-col">
                            <div class="footer__text-group">
                                <div class="footer__label">Мы в соц сетях</div>
                                <a href="#" class="footer__link footer__link_inline"><img src="~/assets/img/faceFooter.svg" alt=""></a>
                                <a href="#" class="footer__link footer__link_inline"><img src="~/assets/img/instafooter.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copy">© Green Market 2012 - {{ getCurrentYear }}. Лучший сидшоп России по версии покупателей с 2012 г.</div>
        </div>
    </footer>
</template>

<script>
import NuxtSSRScreenSize from 'nuxt-ssr-screen-size'
    export default {
        name: 'Footer',
        mixins: [NuxtSSRScreenSize.NuxtSSRScreenSizeMixin],
        data: () => ({
            showState: {
                shop: true,
                info: true,
                cabinet: true
            }
        }),
        created () {
            this.setVisibleSubMenu()
        },
        computed: {
            getCurrentYear () {
                const date = new Date()
                return date.getFullYear()
            }
        },
        methods: {
            setVisibleSubMenu () {
                for (const key in this.showState) {
                    if (this.$vssWidth > 481) {
                        this.showState[key] = true
                    } else {
                        this.showState[key] = false
                    }

                }
            },
            toogleMenu(menu) {
                this.showState[menu] = !this.showState[menu]
            }
        },
        watch: {
            $vssWidth () {
                this.setVisibleSubMenu()
            }
        }
    }
</script>

<style lang="scss">
@import '~assets/styles/footer.scss';
</style>
