<template>
    <header class="header">
        <section class="header__top-panel header__top-panel_mobile header-top-panel">
            <div class="wrapper">
                <div class="header-top-panel__row">
                    <div class="header-top-panel__phone-group">
                        <a href="tel:+79289289823" class="header__phone">+7 928 928 98 23</a>
                        <a href="tel:+79889379143" class="header__phone">+7 988 937 91 43</a>
                    </div>
                    <button class="hamburger hamburger--collapse" :class="{ 'is-active': showTopPanelMenu }" type="button" @click="toggleTopPanelMenu" v-click-outside="hideTopPanelMenu">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                    <transition name="fade">
                        <nav class="header-top-panel__menu main-menu" v-show="showTopPanelMenu">
                            <n-link :to="{ path: `/kontakty/` }" class="main-menu__link">Контакты</n-link>
                            <n-link :to="{ path: `/dostavka-i-oplata/` }" class="main-menu__link">Доставка и оплата</n-link>
                            <n-link :to="{ path: `/articles/` }" class="main-menu__link">Статьи и обзоры</n-link>
                            <n-link :to="{ path: `/o-nas/` }" class="main-menu__link">О нас</n-link>
                            <n-link :to="{ path: `/news/` }" class="main-menu__link">Новости магазина</n-link>
                            <n-link :to="{ path: `/reviews/` }" class="main-menu__link">Отзывы</n-link>
                            <n-link :to="{ path: `/bonusy-i-skidki/` }" class="main-menu__link">Скидки и бонусы</n-link>
                        </nav>
                    </transition>
                </div>
                <div class="header-top-panel__logo-wr">
                    <n-link to="/" class="header-top-panel__logo-link">
                        <img src="~/assets/img/logo.svg" alt="">
                    </n-link>
                </div>
            </div>
        </section>
        <section class="header__top-panel">
            <div class="wrapper wrapper_hidden">
                <div class="header__row">
                    <div class="header__col header__col_left">
                        <n-link to="/" class="header__logo-link">
                            <img src="~/assets/img/logo.svg" alt="">
                        </n-link>
                        <nav class="header__main-menu main-menu">
                            <n-link :to="{ path: `/kontakty/` }" class="main-menu__link">Контакты</n-link>
                            <n-link :to="{ path: `/dostavka-i-oplata/` }" class="main-menu__link">Доставка и оплата</n-link>
                            <n-link :to="{ path: `/articles/` }" class="main-menu__link">Статьи и обзоры</n-link>
                            <n-link :to="{ path: `/o-nas/` }" class="main-menu__link">О нас</n-link>
                            <n-link :to="{ path: `/news/` }" class="main-menu__link">Новости магазина</n-link>
                            <n-link :to="{ path: `/reviews/` }" class="main-menu__link">Отзывы</n-link>
                            <n-link :to="{ path: `/bonusy-i-skidki/` }" class="main-menu__link">Скидки и бонусы</n-link>
                        </nav>
                    </div>
                    <div class="header__col header__col_right">
                        <!--                    <mjButton c-class="header__button">-->
                        <!--                        Написать нам-->
                        <!--                    </mjButton>-->
                        <!--                    <mjButton c-class="header__button header__button_margin">-->
                        <!--                        Обратный звонок-->
                        <!--                    </mjButton>-->
                        <div class="header__phone-wr">
                            <a href="tel:+79289289823" class="header__phone">+7 928 928 98 23</a>
                            <a href="tel:+79889379143" class="header__phone">+7 988 937 91 43</a>
                            <div class="header__phone-text">
                                Для звонков по всей России
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="header__main-menu-block" ref="menuBlock">
            <div class="wrapper wrapper_mobile-full">
                <div class="menu-block">
                    <div class="menu-block__left">
                        <div class="menu-block__catalog-button catalog-button" :class="{ 'catalog-button_active': showMenu }" @click="showMenu = !showMenu" v-click-outside="hideMenu">
                            <div class="catalog-button__wr">
                                <div class="catalog-button__icon">
                                    <div class="catalog-button__line catalog-button__line_1" />
                                    <div class="catalog-button__line catalog-button__line_2" />
                                    <div class="catalog-button__line catalog-button__line_3" />
                                </div>
                                Каталог товаров
                            </div>
                        </div>
                        <transition name="fade">
                            <div v-show="showMenu" class="menu-block__menu menu-block-menu">
                                <div class="menu-block-menu__row">
                                    <div class="menu-block-menu__col menu-block-menu__col_left">
                                        <div class="menu-block-menu__items-wr">
                                            <div v-for="(item, index) in catalogMenuItems" :key="index" class="menu-block-menu__item">
                                                <div class="menu-block-menu__link-wr" @click="toggleSubMenu(index)">
                                                    <n-link v-if="item.link" :to="item.link">
                                                        <img v-if="item.img" :src="item.img" :alt="item.name" class="menu-block-menu__icon">
                                                        {{ item.name }}</n-link>
                                                    <span v-else>
                                                        <img v-if="item.img" :src="item.img" :alt="item.name" class="menu-block-menu__icon">
                                                        {{ item.name }}</span>

                                                        <div v-if="item.hasSubMenu" class="menu-block-menu__submenu-arrow" :class="{ 'menu-block-menu__submenu-arrow_active': item.showSubMenu }"></div>
                                                </div>
                                                <transition name="fade">
                                                    <div v-if="item.hasSubMenu" v-show="item.showSubMenu" class="menu-block-menu__subMenu" :class="{ 'menu-block-menu__subMenu_scroll': item.showSubMenu }" ref="submenu">
                                                        <div class="menu-block-menu__subMenu-row">
                                                            <div v-for="category in modCatalog[item.slug]" :key="category.slug" class="menu-block-menu__subMenu-col">
                                                                <n-link class="menu-block-menu__submenu-link" :to="`${item.rootPath}/${item.slug}/${category.slug}`">
                                                                    <img v-if="category.icon" :src="`${$baseUrlImg}${category.icon}`" class="menu-block-menu__brand-icon" alt=""> {{ category.name }}
                                                                </n-link>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </transition>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </transition>
                        <div class="menu-block__input-wr">
                            <form action="" class="menu-block__search-form" @submit.prevent="gotoToSearchPage">
                                <input v-model="searchQuery" id="" type="text" name="" class="menu-block__input">
                                <div class="menu-block__search-button" @click.prevent="gotoToSearchPage">
                                    <img src="~/assets/img/search.svg" alt="" class="menu-block__search-img">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="menu-block__right">
                        <div class="main-icons-group">
                            <div class="main-icons-group__icon" @click="showCabinetMenu = !showCabinetMenu">
                                <img src="~/assets/img/cabinet.svg" alt="">
                            </div>
<!--                            <div class="main-icons-group__icon">-->
<!--                                <img src="~/assets/img/liked.svg" alt="">-->
<!--                            </div>-->
<!--                            <div class="main-icons-group__icon">-->
<!--                                <img src="~/assets/img/compare.svg" alt="">-->
<!--                            </div>-->
                            <div class="main-icons-group__icon main-icons-group__icon_cart" @click="showModalCart = !showModalCart">
                                <img src="~/assets/img/cart.svg" alt="">
                                <div class="main-icons-group__cart-count">
                                    {{ total }}
                                </div>
                            </div>
                        </div>
                        <transition name="fade">
                            <div class="menu-block__down-menu menu-block__down-menu_cabinet" v-if="showCabinetMenu">
                                <div class="menu-block__user-menu" v-if="$auth.loggedIn">
                                    <n-link :to="{ path: `/user/profile` }" class="menu-block__user-menu-link">Учетная запись</n-link>
                                    <n-link :to="{ path: `/user/orders` }" class="menu-block__user-menu-link">Заказы</n-link>
                                </div>
                                <div class="menu-block__buttons-row">
                                    <mjButton c-class="menu-block__button" @click.prevent="show = true" v-if="!$auth.loggedIn">
                                        Войти
                                    </mjButton>
                                    <mjButton theme="green" c-class="menu-block__button" v-if="!$auth.loggedIn" @click.prevent="$router.push({ path: '/register'})">
                                        Регистрация
                                    </mjButton>
                                    <mjButton theme="green" c-class="menu-block__button" v-if="$auth.loggedIn" @click.prevent="logout">
                                        Выйти
                                    </mjButton>
                                </div>
                            </div>
                        </transition>
                        <transition name="fade">
                            <div class="menu-block__down-menu menu-block__down-menu_cart cart-modal" v-if="showModalCart">
                                <div class="cart-modal__wr" v-if="cart.length">
                                    <div class="cart-modal__body">
                                        <div class="cart-modal__row" v-for="(product, index, key) in cart" :key="key">
                                            <div class="cart-modal__product-img">
                                                <n-link :to="{ path: product.productLink }" class="cart-modal__product-img-link">
                                                    <img :src="product.img" :alt="product.name">
                                                </n-link>
                                            </div>
                                            <div class="cart-modal__info">
                                                <n-link :to="{ path: product.productLink }" class="cart-modal__product-link">
                                                    {{ product.name }}
                                                </n-link>
                                                <div class="cart-modal__pack">Упаковка: {{ product.packingValue }} шт</div>
                                                <div class="cart-modal__pack">{{ product.count }} x {{ product.price }} руб.</div>
                                            </div>
                                            <div class="cart-modal__delete-button" @click="removeItem(index)"></div>
                                        </div>
                                    </div>
                                    <div class="cart-modal__buttons-wr">
                                        <n-link :to="{ path: `/cart` }" class="cart-modal__cart-button cart-modal__cart-button_cart">
                                            Корзина
                                        </n-link>
                                        <n-link :to="{ path: `/checkout` }" class="cart-modal__cart-button">
                                            Оформить заказ
                                        </n-link>
                                    </div>
                                </div>
                                <div class="cart-modal__wr" v-else>
                                    <div class="cart-modal__body">
                                        Корзина пуста
                                    </div>
                                </div>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
        </section>

        <loginModal v-model="show"></loginModal>
    </header>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import { mapMutations, mapGetters, mapActions } from 'vuex'
import mjButton from '@/components/mjButton'
import loginModal from '~/components/loginModal'
import ClickOutside from 'vue-click-outside'
import NuxtSSRScreenSize from 'nuxt-ssr-screen-size'
import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock';
export default {
    name: 'HeaderEquipment',
    mixins: [NuxtSSRScreenSize.NuxtSSRScreenSizeMixin],
    components: {
        mjButton,
        loginModal
    },
    directives: {
        ClickOutside
    },
    data: () => ({
        showCabinetMenu: false,
        showModalCart: false,
        show: false,
        showTopPanelMenu: false,
        offsetTop: null,
        heightMenu: null,
        pageYOffset: null,
        catalogMenuItems: []
    }),
    created () {

    },
    mounted () {
        this.showMenu = false
        window.removeEventListener('scroll', this.setStyckyEvents)
        this.addDropShippingMenuItems()
        this.stickyMenu()
        this.setVisibleSubMenu()
    },
    computed: {
        ...mapFields('cart', [
            'cart'
        ]),
        ...mapGetters('cart', [
            'total'
        ]),
        ...mapFields('menu', [
            'showMenu',
            'catalog',
            'menu',
            'showLoader'
        ]),
        ...mapFields('catalog', [
            'searchQuery'
        ]),
        ...mapFields('profile', [
            'ordersList'
        ]),
        ...mapFields('dropShipping', {
            dropCategories: 'categories',
            dropBrands: 'brands'
        }),
        modCatalog () {
            const result = {...this.catalog}
            this.dropCategories.forEach(dropCategory => {
                result[dropCategory.slug] = dropCategory.brands
            })
            return result
        }
    },
    methods: {
        ...mapMutations('cart', [
            'removeItem'
        ]),
        ...mapActions('catalog', [
            'getSearchResult'
        ]),
        ...mapActions('checkout', [
            'getСumulativeDiscount'
        ]),
        addDropShippingMenuItems () {
            this.dropCategories.forEach(dropCategory => {
                this.catalogMenuItems.push({
                    name: dropCategory.name,
                    rootPath: '/equipment/categories',
                    link: `/equipment/categories/${dropCategory.slug}`,
                    hasSubMenu: true,
                    slug: dropCategory.slug,
                    showSubMenu: false
                })
            })
        },
        async logout () {
            this.showLoader = true
            try {
                await this.$auth.logout()
                await this.getСumulativeDiscount()
                this.ordersList = []
            } catch (e) {
                console.log(e)
            } finally {
                this.showLoader = false
            }
        },
        async gotoToSearchPage () {
            if(this.searchQuery) {
                this.showLoader = true
                await this.getSearchResult({
                    query: this.searchQuery,
                    page: 1
                })
                await this.$router.push({ path: '/search', query: { name: this.searchQuery }})
                this.showLoader = false
            }
        },
        hideCabinetMenu () {
            this.showCabinetMenu = false
        },
        hideModalCart () {
            if(this.showModalCart) {
                this.showModalCart = false
            }
        },
        hideMenu () {
            if(this.$vssWidth > 768) {
                this.showMenu = false
            }
        },
        toggleTopPanelMenu () {
            this.showTopPanelMenu = !this.showTopPanelMenu
        },
        hideTopPanelMenu () {
            this.showTopPanelMenu = false
        },
        stickyMenu () {
            const body = document.querySelector('body');
            this.offsetTop = this.$refs.menuBlock.getBoundingClientRect().top
            this.heightMenu = this.$refs.menuBlock.getBoundingClientRect().height
            if(pageYOffset > this.offsetTop) {
                this.$refs.menuBlock.classList.add('header__main-menu-block_sticky')
                body.setAttribute('style', `padding-top:${this.heightMenu}px`)
            } else {
                this.$refs.menuBlock.classList.remove('header__main-menu-block_sticky')
                body.removeAttribute('style')
            }
            window.addEventListener('scroll', this.setStyckyEvents)
        },
        setStyckyEvents () {
            const body = document.querySelector('body');
            const menuBlock = document.querySelector('.header__main-menu-block')
            if(pageYOffset > this.offsetTop) {
                menuBlock.classList.add('header__main-menu-block_sticky')
                body.setAttribute('style', `padding-top:${this.heightMenu}px`)
            } else {
                menuBlock.classList.remove('header__main-menu-block_sticky')
                body.removeAttribute('style')
            }
        },
        setVisibleSubMenu () {
            this.catalogMenuItems.forEach(item => {
                if(item.hasOwnProperty('showSubMenu')) {
                    if(this.$vssWidth > 768) {
                        item.showSubMenu = true
                    } else {
                        item.showSubMenu = false
                    }
                }
            })
        },
        toggleSubMenu (index) {
            if(this.$vssWidth <= 768) {
                this.catalogMenuItems[index].showSubMenu = !this.catalogMenuItems[index].showSubMenu
                if (this.catalogMenuItems[index].showSubMenu) {
                    disableBodyScroll(this.$refs.submenu[index])
                } else {
                    clearAllBodyScrollLocks();
                }
            }
        },
    },
    watch: {
        $vssWidth(){
            this.setVisibleSubMenu()
        },
        $route() {
            this.showMenu = false
            clearAllBodyScrollLocks();
        }
    }
}
</script>

<style lang="scss">
.header {
    &__button {
        &_margin {
            margin-left: 14px;
        }
    }
}
</style>

<style lang="scss">
@import '~assets/styles/header.scss';
</style>
