<template>
    <div class="innerProduct">
        <h1 class="h1 innerProduct__h1">{{ product.name }}</h1>
        <div class="innerProduct__brand">
<!--            <img :src="`${$baseUrlImg}${getBrandIcon}`" alt="" class="innerProduct__brand-img">-->
            <span class="innerProduct__brand-name">{{ product.brand }}</span>
        </div>
        <div class="innerProduct__product innerProduct-product">
            <div class="innerProduct-product__row">
                <div class="innerProduct-product__col innerProduct-product__col_left">
                    <div class="innerProduct-product__img-wr">
                        <div class="innerProduct-product__relative"></div>
                        <img class="innerProduct-product__relative-content" :src="`${$baseUrlImg}${product.image}`" alt="">
                    </div>
                    <div class="innerProduct-product__not-available" v-if="isProductAvailble">Нет в наличии</div>
                </div>
                <div class="innerProduct-product__col innerProduct-product__col_right">
                    <div class="product-container">
                        <div class="product-container__row">
                            <div class="product-container__col product-container__col_left">
                                <div class="product-container__stars">
                                    <star-rating :rating="rating" :starStyle="starConfig.style"></star-rating>
                                    <span class="product-container__ratings-count">({{ ratingsCount }})</span>
                                </div>
                                <div class="product-container__feedback-link" @click="show = true">Оставить отзыв</div>
                                <div class="product-container__price"><span>{{ product.price }} ₽</span></div>
                                <div class="product-container__text-label">Количество</div>
                                <div class="product-container__count">
                                    <input type="number" v-model="count" class="product-container__count-input">
                                    <div class="product-container__changeCount product-container__changeCount_decriment" :class="{'product-container__changeCount_disabled': isDiabledDecriment}" @click="decriment"></div>
                                    <div class="product-container__count-value">{{ count }}</div>
                                    <div class="product-container__changeCount product-container__changeCount_increment" :class="{'product-container__changeCount_disabled': isDiabledIncrement}" @click="increment"></div>
                                </div>
                                <div class="product-container__button-wr">
                                    <productButton type="toCart" c-class="product-container__button" @click="addToCart" :disabled="maxCount <= 0">В корзину</productButton>
                                </div>
                            </div>
                            <div class="product-container__col product-container__col_right">
                                <div class="product-container__info-block product-info-block">
                                    <div class="product-info-block__caption">
                                        <img src="~/assets/img/delivery.svg" alt="" class="product-info-block__img">Варианты доставки
                                    </div>
                                    <ul class="product-info-block__list">
                                        <li class="product-info-block__list-item" v-for="(shippingType) in shippingTypes" :key="shippingType.id" v-if="isDropMethod(shippingType)">{{ shippingType.name }}</li>
                                    </ul>
                                </div>
                                <div class="product-container__info-block product-info-block">
                                    <div class="product-info-block__caption">
                                        <img src="~/assets/img/pay.svg" alt="" class="product-info-block__img">Способы оплаты
                                    </div>
                                    <ul class="product-info-block__list">
                                        <li class="product-info-block__list-item" v-for="(paymentType) in paymentTypes" :key="paymentType.id" v-if="isDropMethod(paymentType)">{{ paymentType.name }}</li>
                                    </ul>
                                    <div class="product-info-block__images">
                                        <img v-for="(paymentType) in paymentTypes" :key="paymentType.id" :src="`${$domainRoot}${paymentType.logo}`" :alt="paymentType.name" v-if="isDropMethod(paymentType)" class="product-info-block__pay-img">
                                    </div>
                                </div>
                                <!--                                <div class="product-container__info-block product-info-block">-->
                                <!--                                    <div class="product-info-block__caption">-->
                                <!--                                        <img src="~/assets/img/term.svg" alt="" class="product-info-block__img">Стоимость и сроки доставки в-->
                                <!--                                        <span class="product-info-block__location">-->
                                <!--                                            <img src="~/assets/img/location.svg" alt="" class="product-info-block__location-img"> Ростов-на-Дону-->
                                <!--                                        </span>-->
                                <!--                                    </div>-->
                                <!--                                    <div class="product-info-block__row">-->
                                <!--                                        <div class="product-info-block__col product-info-block__col_left">-->
                                <!--                                            <img src="~/assets/img/delivery2.svg" alt="" class="product-info-block__delivery-img">-->
                                <!--                                            Доставка-->
                                <!--                                        </div>-->
                                <!--                                        <div class="product-info-block__col product-info-block__col_center">от 3 до 9 дней</div>-->
                                <!--                                        <div class="product-info-block__col product-info-block__col_right">от 350.00 ₽</div>-->
                                <!--                                    </div>-->
                                <!--                                    <div class="product-info-block__row">-->
                                <!--                                        <div class="product-info-block__col product-info-block__col_left">-->
                                <!--                                            <img src="~/assets/img/location2.svg" alt="" class="product-info-block__delivery-img">-->
                                <!--                                            Самовывоз-->
                                <!--                                        </div>-->
                                <!--                                        <div class="product-info-block__col product-info-block__col_center"><span class="product-info-block__action">33 пункта самовывоза</span></div>-->
                                <!--                                        <div class="product-info-block__col product-info-block__col_right">от 295.00 ₽</div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <productButton type="empty" c-class="product-container__button product-container__button_auto">Купить в один клик</productButton>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="innerProduct__tabs">
            <tabs :options="{ useUrlFragment: false }">
                <tab name="Описание">
                    <div class="tabs-text" v-html="product.description"></div>
                </tab>
<!--                <tab name="Особенности">-->
<!--                    <div class="tabs-table">-->
<!--                        <div class="tabs-table__row">-->
<!--                            <div class="tabs-table__col tabs-table__col_left">Производитель</div>-->
<!--                            <div class="tabs-table__col tabs-table__col_right">{{ dropProduct.brand }}</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </tab>-->
                <!--                <tab name="Обзоры и статьи">-->
                <!--                    This is Svelte-->
                <!--                </tab>-->
                <tab :name="`Отзывы (${product.comments.length})`">
                    <div class="reviews" v-if="product.comments.length">
                        <div class="reviews__item" v-for="(comment, index) in product.comments">
                            <div class="reviews__row reviews__row_flex">
                                <div class="reviews__name">{{ comment.user }}</div>
                                <div class="reviews__date">{{ viewDate(comment.created_at)}}</div>
                            </div>
                            <div class="reviews__row">
                                <star-rating :rating="comment.rating" :starStyle="starConfig.style" ></star-rating>
                            </div>
                            <div class="reviews__row">
                                <div class="reviews__comment-caption">Комментарий</div>
                                <div class="reviews__comment">{{ comment.message }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews" v-else>
                        Пока нет отзывов
                    </div>
                </tab>
            </tabs>
        </div>
        <feedbackModal v-model="show" :productId="product.id" url-api="/drop/product/comment"></feedbackModal>
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
import global from '@/mixins/global'
import product from '@/mixins/product'
import packingRadio from '@/components/packingRadio'
import productButton from '@/components/productButton'
import { Tabs, Tab } from 'vue-tabs-component'
import StarRating from 'vue-dynamic-star-rating'
import feedbackModal from '@/components/feedbackModal'
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'
moment.locale('ru')
export default {
    layout: 'equipment',
    mixins: [global],
    components: {
        packingRadio,
        productButton,
        Tabs,
        Tab,
        StarRating,
        feedbackModal
    },
    async asyncData ({ params, store }) {
        await store.dispatch('product/getDropProduct', params.product)
    },
    data: () => ({
        show: false,
        count: 1,
        starConfig: {
            style: {
                FullStarColor: '#F5BF00',
                EmptyStarColor: '#9c9c9c',
                StarWidth: 16,
                StarHeight: 16
            }
        }
    }),
    filters: {
        empty (value) {
            return value || 'Неизвестно'
        }
    },
    computed: {
        ...mapFields('product', [
            'dropProduct'
        ]),
        ...mapFields('menu', [
            'showLoader'
        ]),
        ...mapFields('checkout', [
            'shippingTypes',
            'paymentTypes'
        ]),
        ...mapGetters('cart', [
            'getCurrentCountDropProduct',
            'isSeedsCart',
        ]),
        product () {
            return this.dropProduct
        },
        isDropMethod: () => type => {
            return type.use_to === 'dropshipping_only' || type.use_to === 'seeds_and_dropshipping'
        },
        isProductAvailble () {
            return this.maxCount <= 0
        },
        maxCount () {
            return this.product.quantity
        },
        rating () {
            return this.product.ratings || 0
        },
        ratingsCount () {
            return this.product.ratings_count || 0
        },
        isDiabledIncrement () {
            return this.count >= this.maxCount
        },
        isDiabledDecriment () {
            return this.count <= 1
        },
        viewDate: () => date => {
            return moment(date).format('L, LT')
        }
    },
    methods: {
        ...mapActions('cart', [
            'vuexDropAddToCart'
        ]),
        increment() {
            if(this.count < this.maxCount) {
                this.count += 1
            }
        },
        decriment() {
            if(this.count > 1) {
                this.count -= 1
            }
        },
        async addToCart() {
            if (this.maxCount > 0) {
                if(this.isSeedsCart) {
                    this.$notify({ group: 'all', ignoreDuplicates: true, duration: -1, text: this.$const.WARN_DROP_MESSAGE, type: 'warn' })
                } else {
                    this.showLoader = true
                    const countInCart = this.getCurrentCountDropProduct(this.product.id)
                    let count = this.count
                    const isMaxCountMoreInCart = this.count > this.maxCount - countInCart
                    if(isMaxCountMoreInCart) {
                        count = this.maxCount - countInCart
                        this.$notify({ group: 'all', text: `Добавлено максимальное количество упаковок ${this.product.name} в корзину`, type: 'error' })
                    }
                    let item = {
                        name: this.product.name,
                        price: this.product.price,
                        oldPrice: this.product.price,
                        count,
                        discount: 0,
                        maxCount: this.maxCount,
                        img: `${this.$baseUrlImg}${this.product.image}`,
                        // brandSlug: this.brandSlug,
                        productLink: `/equipment/${this.product.slug}`,
                        product_id: this.product.id,
                        productType: 'drop'
                    }
                    this.vuexDropAddToCart(item)
                    await new Promise(resolve => setTimeout(() => {
                        this.showLoader = false
                        resolve()
                    }, 300))
                    if(!isMaxCountMoreInCart) {
                        this.$notify({ group: 'all', text: 'Товар добавлен в корзину', type: 'success' })
                    }
                }
            }
        }
    }
}
</script>

<style lang="scss">
.indicator {
    display: none;
}
.star-rating {
    display: inline-flex !important;
}
@import "assets/styles/innerProduct";
</style>
