<template>
    <div class="innerMenuPage">
        <h1 class="h1 innerMenuPage__h1">Отзывы</h1>
        <div class="reviewsWidget">
            <div class="reviewsWidget__row">
                <div class="reviewsWidget__col reviewsWidget__col_left">
                    <div class="reviewsWidget__rating">{{ totalRating.value }}</div>
                    <star-rating :rating="totalRating.star" :starStyle="starConfig.style" :isIndicatorActive="false"></star-rating>
                    <div class="reviewsWidget__text">Общий рейтинг</div>
                    <div class="reviewsWidget__text reviewsWidget__text_green">{{ reviewsCount.total }} {{ declOfNum(reviewsCount.total) }}</div>
                </div>
                <div class="reviewsWidget__col reviewsWidget__col_center">
                    <div class="reviewsWidget-scale-row" v-for="(rating, index) in ratingReverse" :key="rating.key">
                        <div class="reviewsWidget-scale-row__rating">{{ 5 - index }}</div>
                        <div class="reviewsWidget-scale-row__bar">
                            <div class="reviewsWidget-scale-row__bg">
                                <div class="reviewsWidget-scale-row__status" :style="{ width: `${getScale(rating.value)}%` }">
                                </div>
                            </div>
                        </div>
                        <div class="reviewsWidget-scale-row__count">{{ rating.value }} {{ declOfNum(rating.value) }}</div>
                    </div>
                </div>
                <div class="reviewsWidget__col reviewsWidget__col_right">
                    <mjButton theme="green" c-class="reviewsWidget__button" @click.prevent="show = !show">
                        Написать отзыв
                    </mjButton>
                </div>
            </div>
        </div>
        <client-only>
            <div class="reviews-list" v-if="reviews.data.length">
                <div class="reviews-list__item" v-for="(review, index) in reviews.data" :key="index">
                    <div class="reviews-list__row reviews-list__row_flex">
                        <div class="reviews-list__name">{{ review.author }}</div>
                        <div class="reviews-list__date">{{ viewDate(review.created_at) }}</div>
                    </div>
                    <div class="reviews-list__row">
                        <star-rating :rating="review.rating" :starStyle="starConfig.styleInList" :isIndicatorActive="false"></star-rating>
                    </div>
                    <div class="reviews-list__row">
                        <div class="reviews-list__caption">
                            Достоинства
                        </div>
                        <div class="reviews-list__text">{{ review.advantages }}</div>
                    </div>
                    <div class="reviews-list__row">
                        <div class="reviews-list__caption">
                            Недостатки
                        </div>
                        <div class="reviews-list__text">{{ review.disadvantages }}</div>
                    </div>
                    <div class="reviews-list__row">
                        <div class="reviews-list__caption">
                            Комментарий
                        </div>
                        <div class="reviews-list__text">{{ review.comment }}</div>
                    </div>
                    <div class="reviews-list__row reviews-list__row_images" v-if="review.attachments.length">
                        <div class="reviews-list__col-img" v-for="(img, imgIndex) in review.attachments" :key="`${img}-${imgIndex}`" @click="getImages(review, imgIndex)">
                            <div class="reviews-list__img-relative"></div>
                            <img :src="`${$domainRoot}${img.path}`" class="reviews-list__attachImg">
                        </div>
                    </div>
                    <div class="reviews-list__admin" v-if="review.answer">
                        <div class="reviews-list__row reviews-list__row_flex">
                            <div class="reviews-list__name">Ответ от Green Market</div>
                            <div class="reviews-list__date">{{ viewDate(review.answer_created_at) }}</div>
                        </div>
                        <div class="reviews-list__row">
                            <div class="reviews-list__text">{{ review.answer }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>Нет отзывов</div>
            <client-only>
                <infinite-loading @infinite="infiniteHandler" spinner="spiral">
                    <div class="innerCatalog__infiniteScrollMessage" slot="no-more">Показан весь список отзывов</div>
                    <div class="innerCatalog__infiniteScrollMessage" slot="no-results">Показан весь список отзывов</div>
                </infinite-loading>
            </client-only>
        </client-only>
        <siteFeedbackModal v-model="show"></siteFeedbackModal>
        <transition name="fade">
            <hooperGallery v-if="showHooperGallery" :images="images" :init-slide="imgIndex"></hooperGallery>
        </transition>
    </div>
</template>

<script>
import global from '@/mixins/global'
import hooperGallery from '~/components/hooperGallery'
import StarRating from 'vue-dynamic-star-rating'
import mjButton from '@/components/mjButton'
import { mapFields } from 'vuex-map-fields'
import moment from 'moment'
import siteFeedbackModal from '~/components/siteFeedbackModal'
import InfiniteLoading from 'vue-infinite-loading';
import { mapActions } from 'vuex'
moment.locale('ru')
export default {
    mixins: [global],
    components: {
        StarRating,
        mjButton,
        siteFeedbackModal,
        InfiniteLoading,
        hooperGallery
    },
    async asyncData ({ store }) {
        await Promise.all([
            store.dispatch('reviews/getReviewsCount'),
            store.dispatch('reviews/getReviews', { page: 1 })
        ])
    },
    data: () => ({
        show: false,
        infiniteState: null,
        imgIndex: null,
        images: [],
        starConfig: {
            rating: 0,
            style: {
                FullStarColor: '#F5BF00',
                EmptyStarColor: '#9c9c9c',
                StarWidth: 20,
                StarHeight: 20
            },
            styleInList: {
                FullStarColor: '#F5BF00',
                EmptyStarColor: '#9c9c9c',
                StarWidth: 16,
                StarHeight: 16
            }
        }
    }),
    computed: {
        ...mapFields('reviews', [
            'reviewsCount',
            'reviews'
        ]),
        ...mapFields('menu', [
            'showHooperGallery'
        ]),
        viewDate: () => date => {
            return moment(date).format('L, LT')
        },
        declOfNum: () => number => {
            const declWords = ['отзыв', 'отзыва', 'отзывов']
            return declWords[(number % 100 > 4 && number % 100 < 20) ? 2 : [2, 0, 1, 1, 1, 2][(number % 10 < 5) ? number % 10 : 5]];
        },
        totalRating() {
            let ratingSum = 0
            let factor = this.reviewsCount.total || 1
            this.ratingReverse.forEach(rating => {
                ratingSum += rating.rating * rating.value
            })
            return {
                value: (ratingSum / factor).toFixed(1),
                star: (ratingSum / factor)
            }
        },
        ratingReverse () {
            const newArray = []
            const obj = this.reviewsCount.ratings
            Object.keys(obj)
                .sort()
                .reverse()
                .forEach(key => {
                    newArray.push({
                        key: key,
                        value: obj[key],
                        rating: parseInt(key[1])
                    })
                })
            return newArray
        }
    },
    methods: {
        ...mapActions('reviews', [
            'getInfiniteReviews'
        ]),
        async infiniteHandler ($state) {
            this.infiniteState = $state
            const currentPage = this.reviews.meta.current_page
            const lastPage = this.reviews.meta.last_page
            if (currentPage < lastPage) {
                await this.getInfiniteReviews()
                $state.loaded()
            } else {
                $state.complete();
            }
        },
        getScale(value) {
            const total = this.reviewsCount.total || 1
            return Math.round(value / total * 100)
        },
        getImages (review, index) {
            let images = review.attachments || []
            images = images.map((img) => {
                return `${this.$domainRoot}${img.path}`
            })
            this.images = images
            this.imgIndex = index
            this.showHooperGallery = true
        }
    }
}
</script>

<style lang="scss">
.reviews-list {
    .star-container {
        width: 16px;
        height: 16px;
    }
}
.reviewsWidget {
    .star-container {
        width: 20px;
        height: 20px;
    }
}
.reviewsWidget {
    &__button {
        font-size: 16px;
    }
}
</style>

<style lang="scss" scoped>
@import '~/assets/styles/reviews.scss';
</style>
