<template>
    <div class="innerCatalog">
        <div class="innerCatalog__content">
            <div class="innerCatalog__row">
                <client-only>
                    <div class="innerCatalog__col innerCatalog__col_right innerCatalog__col_full" v-if="getInnerDropPage">
                        <h1 class="h1 innerCatalog__h1">{{ getInnerDropPageTitle }}</h1>
                        <div class="innerCatalog__view-row">
                            <div class="innerCatalog__view-item" @click="setActive('plites')" :class="{ 'innerCatalog__view-item_active': isActive('plites') }">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="10.3181" y="0.5" width="7.18177" height="7.18177" rx="0.5" stroke="#00210B" stroke-opacity="0.5"/>
                                    <rect x="10.3181" y="10.3182" width="7.18177" height="7.18177" rx="0.5" stroke="#00210B" stroke-opacity="0.5"/>
                                    <rect x="0.5" y="0.500122" width="7.18177" height="7.18177" rx="0.5" stroke="#00210B" stroke-opacity="0.5"/>
                                    <rect x="0.5" y="10.3182" width="7.18177" height="7.18177" rx="0.5" stroke="#00210B" stroke-opacity="0.5"/>
                                </svg>
                            </div>
                            <div class="innerCatalog__view-item" @click="setActive('list')" :class="{ 'innerCatalog__view-item_active': isActive('list') }">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="#809085" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="7.18182" height="7.18182" rx="0.5" stroke="white"/>
                                    <rect x="0.5" y="10.3181" width="7.18182" height="7.18182" rx="0.5" stroke="white"/>
                                    <mask id="path-3-inside-1" fill="white">
                                        <rect x="9.81818" width="8.18182" height="3.27273" rx="0.4"/>
                                    </mask>
                                    <rect x="9.81818" width="8.18182" height="3.27273" rx="0.4" stroke="white" stroke-width="2" mask="url(#path-3-inside-1)"/>
                                    <mask id="path-4-inside-2" fill="white">
                                        <rect x="9.81818" y="4.90918" width="8.18182" height="3.27273" rx="0.4"/>
                                    </mask>
                                    <rect x="9.81818" y="4.90918" width="8.18182" height="3.27273" rx="0.4" stroke="white" stroke-width="2" mask="url(#path-4-inside-2)"/>
                                    <mask id="path-5-inside-3" fill="white">
                                        <rect x="9.81818" y="9.81812" width="8.18182" height="3.27273" rx="0.4"/>
                                    </mask>
                                    <rect x="9.81818" y="9.81812" width="8.18182" height="3.27273" rx="0.4" stroke="white" stroke-width="2" mask="url(#path-5-inside-3)"/>
                                    <mask id="path-6-inside-4" fill="white">
                                        <rect x="9.81818" y="14.7273" width="8.18182" height="3.27273" rx="0.4"/>
                                    </mask>
                                    <rect x="9.81818" y="14.7273" width="8.18182" height="3.27273" rx="0.4" stroke="white" stroke-width="2" mask="url(#path-6-inside-4)"/>
                                </svg>
                            </div>
                        </div>
                        <div class="innerCatalog__product-container" >
                            <dropProduct v-for="(product) in getInnerDropPage.data" :key="product.id" :product="product" :views-type="activeView"></dropProduct>
                        </div>

                        <infinite-loading @infinite="infiniteHandler" spinner="spiral">
                            <div class="innerCatalog__infiniteScrollMessage" slot="no-more">Показан весь список товаров</div>
                            <div class="innerCatalog__infiniteScrollMessage" slot="no-results">Показан весь список товаров</div>
                        </infinite-loading>

                        <pagination :data="getInnerDropPage" @pagination-change-page="getResults" v-if="getInnerDropPage" :limit="1" ref="pagination">
                        </pagination>
                    </div>
                </client-only>
            </div>
        </div>
    </div>
</template>

<script>
import global from '~/mixins/global'
import InfiniteLoading from 'vue-infinite-loading';
import pagination from 'laravel-vue-pagination'
import { mapFields } from 'vuex-map-fields'
import { mapActions, mapGetters } from 'vuex'
import dropProduct from '~/components/dropProduct'
export default {
    layout: 'equipment',
    components: {
        pagination,
        InfiniteLoading,
        dropProduct
    },
    async asyncData ({store, params}) {
        await store.dispatch('dropShipping/getBrand', {slug: params.brand, page: 1})
    },
    mixins: [global],
    computed: {
        ...mapFields('dropShipping', [
            'activeView'
        ]),
        ...mapGetters('dropShipping', [
            'getCurrentMetaPageBySlug'
        ]),
        getInnerDropPage () {
            return this.$store.getters['dropShipping/getInnerDropPage'](this.slug)
        },
        slug () {
            return this.$route.params.brand
        },
        getInnerDropPageTitle () {
            return this.$store.getters['dropShipping/getInnerDropPageTitle']({
                slug: this.slug,
                targetArray: 'brands'
            })
        },
    },
    methods: {
        ...mapActions('dropShipping', [
            'getCategory',
            'getInfiniteCategory'
        ]),
        isActive (view) {
            return this.activeView === view
        },
        setActive (view) {
            this.activeView = view
        },
        async infiniteHandler ($state) {
            this.infiniteState = $state
            const currentPage = this.getCurrentMetaPageBySlug(this.slug).current_page
            const lastPage = this.getCurrentMetaPageBySlug(this.slug).last_page
            if (currentPage < lastPage) {
                await this.getInfiniteCategory({
                    slug: this.slug,
                    url: '/drop/brand/'
                })
                $state.loaded()
            } else {
                $state.complete();
            }
        },
        async getResults(page = 1) {
            this.showLoader = true
            await this.getCategory({slug: this.slug, page: page})
            this.showLoader = false
        },
    }
}
</script>

<style lang="scss" scoped>
@import '/assets/styles/catalog';
</style>
