<template>
    <div class="checkbox-wr">
        <div class="checkbox-wr__caption" v-if="caption">{{ caption }}</div>
        <div class="checkbox-wr__checkbox" v-for="(item, index) in groupItems" :key="item.id">
            <input v-model="inputValue" type="checkbox" :name="item.id" :id="item.id" class="checkbox-wr__checkbox-input" :value="item.value">
            <label :for="item.id" class="checkbox-wr__label"><span>{{ item.label }}</span></label>
        </div>
    </div>
</template>

<script>
export default {
    name: 'checkboxFilter',
    props: {
        params: {
            type: Array
        },
        caption: {
            type: String,
        },
        labelText: {
            type: String
        },
        fieldName: {
            type: String
        },
        value: {
            type: [String, Array, Boolean]
        }
    },
    data: () => ({
        inputValue: [],
        firstLoad: true
    }),
    mounted () {
        this.inputValue = this.value
        this.$nextTick(() => {
            this.firstLoad = false
        })
    },
    computed: {
        groupItems () {
            let result = []
            if (this.params) {
                if (typeof this.params[0] === 'object') {
                    result = this.params
                    result['id'] = this.id
                } else {
                    this.params.forEach(item => {
                        result.push({
                            label: item,
                            value: item,
                            id: this.id
                        })
                    })
                }
            } else {
                result = [{
                    label: this.labelText,
                    value: this.value,
                    id: this.fieldName
                }]
            }
            return result
        },
    },
    watch: {
        inputValue (n, o) {
            if(!this.firstLoad) {
                this.$emit('input', this.inputValue)
            }
        },
        value (n, o) {
            this.inputValue = this.value
        }
    }
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/vars.scss';
.checkbox-wr {
    &__caption {
        font-size: 18px;
        margin-bottom: 16px;
        color: $color_black;
        font-weight: 700;
    }
    &__checkbox {
        margin-bottom: 8px;
    }
    &__checkbox-input {
        display: none;
        &:checked {
            + .checkbox-wr__label {
                &:before {
                    background-image: url('../assets/img/check.svg');
                    background-color: $color_green;;
                    opacity: 1;
                }
            }
        }
    }
    &__label {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #4d6454;
        cursor: pointer;
        user-select: none;
        &::before {
            content: '';
            display: block;
            margin-right: 6px;
            box-sizing: border-box;
            border-radius: 2px;
            border: 1px solid $color_black;
            opacity: 0.3;
            transition: 0.3s;
            background-color: #fff;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
</style>
