<template>
    <div class="product" :class="`product_${viewsType}`">
        <div class="product__row">
            <div class="product__not-available" v-if="isProductAvailble">Нет в наличии</div>
            <div class="product__col product__col_left">
                <n-link :to="`/equipment/${product.slug}`" class="product__img-link">
                    <div class="product__relative"></div>
                    <img :src="`${$baseUrlImg}${product.image}`" alt="" class="product__img">
                </n-link>
            </div>
            <div class="product__col product__col_right">
                <div class="product__sub-row">
                    <div class="product__sub-col product__sub-col_left">
                        <div class="product__group product__group_max-height">
                            <div class="product__container product__container_caption">
                                <h2 class="product__caption"><n-link class="product__caption-link" :to="`/`">{{ product.name }}</n-link></h2>
                                <star-rating :rating="starConfig.rating" :starStyle="starConfig.style" :isIndicatorActive="false"></star-rating>
                            </div>
                            <div class="product__margin-group">
                                <div class="product__container product__container_brand">
<!--                                    <img :src="`${$baseUrlImg}${getBrandIcon}`" alt="" class="product__brand-img"> -->
                                    <span class="product__brand-name">{{ product.brand }}</span>
                                </div>
                                <div class="product__plites-price">
                                    <div class="product__price"><span>{{ product.price }} ₽</span></div>
                                </div>
<!--                                <productButton type="toCart" @click="toProduct" c-class="product__button product__button_plites">Выбрать упаковку</productButton>-->
                            </div>
                        </div>
                        <div class="product__group product__group_absolute">
                            <div class="product__description" v-html="cutText(product.description, 200)"></div>
                        </div>
                    </div>
                    <div class="product__sub-col product__sub-col_right">
                        <div class="product__price"><span>{{ product.price }} ₽</span></div>
                        <div class="product__text-label">Количество</div>
                        <div class="product__count">
                            <input type="number" v-model="count" class="product__count-input">
                            <div class="product__changeCount product__changeCount_decriment" :class="{'product__changeCount_disabled': isDiabledDecriment}" @click="decriment"></div>
                            <div class="product__count-value">{{ count }}</div>
                            <div class="product__changeCount product__changeCount_increment" :class="{'product__changeCount_disabled': isDiabledIncrement}" @click="increment"></div>
                        </div>
                        <div class="product__buttons-wr">
                            <div class="product__button-wr">
                                <productButton type="toCart" @click="addToCart" :disabled="maxCount <= 0">В корзину</productButton>
                            </div>
<!--                            <div class="product__button-wr">-->
<!--                                <productButton type="liked">Отложить</productButton>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import productButton from '~/components/productButton';
import StarRating from 'vue-dynamic-star-rating'
import { mapActions, mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'
export default {
    name: "Product",
    components: {
        productButton,
        StarRating
    },
    data: () => ({
        starConfig: {
            rating: 0,
            style: {
                FullStarColor: '#F5BF00',
                EmptyStarColor: '#9c9c9c',
                StarWidth: 16,
                StarHeight: 16
            }
        },
        count: 1,
    }),
    props: {
        product: {
            type: Object,
            required: true
        },
        viewsType: {
            type: String
        }
    },
    filters: {
        empty (value) {
            return value || 'Неизвестно'
        }
    },
    computed: {
        ...mapFields('menu', [
            'showLoader'
        ]),
        ...mapFields('cart', [
            'cart'
        ]),
        ...mapGetters('cart', [
            'getCurrentCountDropProduct',
            'isSeedsCart',
        ]),
        isProductAvailble () {
            return this.maxCount <= 0
        },
        maxCount () {
            return this.product.quantity
        },
        isDiabledIncrement () {
            return this.count >= this.maxCount
        },
        isDiabledDecriment () {
            return this.count <= 1
        },
    },
    methods: {
        ...mapActions('cart', [
            'vuexDropAddToCart'
        ]),
        increment() {
            if(this.count < this.maxCount) {
                this.count += 1
            }
        },
        decriment() {
            if(this.count > 1) {
                this.count -= 1
            }
        },
        async addToCart() {
            if (this.maxCount > 0) {
                if(this.isSeedsCart) {
                    this.$notify({ group: 'all', ignoreDuplicates: true, duration: -1, text: this.$const.WARN_DROP_MESSAGE, type: 'warn' })
                } else {
                    this.showLoader = true
                    const countInCart = this.getCurrentCountDropProduct(this.product.id)
                    let count = this.count
                    const isMaxCountMoreInCart = this.count > this.maxCount - countInCart
                    if(isMaxCountMoreInCart) {
                        count = this.maxCount - countInCart
                        this.$notify({ group: 'all', text: `Добавлено максимальное количество упаковок ${this.product.name} в корзину`, type: 'error' })
                    }
                    let item = {
                        name: this.product.name,
                        price: this.product.price,
                        oldPrice: this.product.price,
                        count,
                        discount: 0,
                        maxCount: this.maxCount,
                        img: `${this.$baseUrlImg}${this.product.image}`,
                        // brandSlug: this.brandSlug,
                        productLink: `/equipment/${this.product.slug}`,
                        product_id: this.product.id,
                        productType: 'drop'
                    }
                    this.vuexDropAddToCart(item)
                    await new Promise(resolve => setTimeout(() => {
                        this.showLoader = false
                        resolve()
                    }, 300))
                    if(!isMaxCountMoreInCart) {
                        this.$notify({ group: 'all', text: 'Товар добавлен в корзину', type: 'success' })
                    }
                }
            }
        },
        // toProduct () {
        //     this.$router.push({ path: `/brands/${this.brandSlug}/${this.productSlug}` })
        // },
        cutText(value, symbolsCount) {
            if(!value) {
                return ''
            }
            return value.length > symbolsCount
                ? value.slice(0, symbolsCount - 3) + '...'
                : value;
        }
    }
}
</script>

<style lang="scss">
    @import '~/assets/styles/product.scss';
</style>
