<template>
    <transition name="fade">
        <div class="feedbackModal" v-if="show">
            <div class="feedbackModal__overlay" @click="closeModal"></div>
            <div class="feedbackModal__window">
                <div class="feedbackModal__header">Оставить отзыв <span class="feedbackModal__close" @click="closeModal"></span></div>
                <div class="feedbackModal__content">
                    <star-rating
                        v-model="feedbackData.rating"
                        class="feedbackModal__stars"
                        :star-size="30"
                        :animate="true"
                        active-color="#F5BF00"
                        inactive-color="#9c9c9c"
                    ></star-rating>
                    <div class="input-component input-component_margin">
                        <label class="input-component__label"><span class="input-component__label-text input-component__label-text_required">Отзыв</span></label>
                        <twemoji-textarea
                            :emojiData="emojiDataAll"
                            :emojiGroups="emojiGroups"
                            :pickerWidth="320"
                            @contentChanged="setContent"
                            ref="twemoji"
                        >
                        </twemoji-textarea>
                        <div class="input-component__inputHint input-component__inputHint_error">
                            <span v-if="$v.feedbackData.message.$anyDirty && $v.feedbackData.message.$anyError">Обязательное поле</span>
                        </div>
                    </div>
                    <div class="feedbackModal__button-wr">
                        <productButton c-class="feedbackModal__button" type="empty" @click="sendComment" :disabled="!isValid">Отправить</productButton>
                    </div>
                </div>
                <div class="message-wr" v-if="pending">
                    <div class="message-wr__loader" v-if="showLoader"></div>
                </div>

            </div>
        </div>
    </transition>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import inputText from '@/components/inputText'
    import textArea from '@/components/textArea'
    import { required } from 'vuelidate/lib/validators'
    import productButton from '~/components/productButton';
    import { TwemojiTextarea } from '@kevinfaguiar/vue-twemoji-picker';
    import EmojiAllData from '@kevinfaguiar/vue-twemoji-picker/emoji-data/ru/emoji-all-groups.json';
    import EmojiGroups from '@kevinfaguiar/vue-twemoji-picker/emoji-data/emoji-groups.json';
    export default {
        mixins: [validationMixin],
        components: {
            inputText,
            textArea,
            productButton,
            'twemoji-textarea': TwemojiTextarea
        },
        data: () => ({
            feedbackData: {
                rating: null,
                message: null,
                product_id: null
            },
            show: false,
            message: null,
            showLoader: false,
            pending: false,
        }),
        validations() {
            return {
                feedbackData: {
                    message: {
                        required
                    },
                    rating: {
                        required
                    }
                }
            }
        },
        props: {
            value: {
                type: Boolean
            },
            productId: {
                type: Number,
                required: true
            },
            urlApi: {
                type: String,
                default: '/semena/product/comment'
            }
        },
        created () {
            this.feedbackData.product_id = this.productId
        },
        computed: {
            isValid() {
                return !this.$v.$invalid
            },
            emojiDataAll() {
                return EmojiAllData;
            },
            emojiGroups() {
                return EmojiGroups;
            }
        },
        methods: {
            closeModal () {
                this.show = false
            },
            setContent(content) {
                this.feedbackData.message = content
                this.$v.feedbackData.message.$touch()
            },
            async sendComment () {
                if (this.isValid) {
                    this.pending = true
                    this.showLoader = true
                    try {
                        const res = await this.$axios.$post(this.urlApi, this.feedbackData)
                        this.showLoader = false
                        this.message = res.data.message
                        this.feedbackData.message = null
                        this.feedbackData.rating = null
                        this.$v.$reset()
                        this.$notify({ group: 'all', text: res.data.message, type: 'success' })
                        setTimeout(() => {
                            this.show = false
                            this.message = null
                        },3000)
                    } catch (e) {
                        this.message = e.message
                        this.$notify({ group: 'all', text: e.message, type: 'error' })
                    } finally {
                        this.pending = false
                        this.showLoader = false
                    }
                }
            }
        },
        watch: {
            value (n) {
                this.show = this.value
                if (!n) {
                    this.feedbackData.message = null
                    this.$v.feedbackData.message.$reset()
                    this.$refs.twemoji.cleanText()
                }
            },
            show () {
                this.$emit('input', this.show)
            }
        }
    }
</script>

<style scoped>
.input-component_margin {
    margin-bottom: 16px;
}
</style>

<style lang="scss">
@import '~/assets/styles/modal.scss';
</style>
