<template>
    <div class="hooperGallery">
        <div class="hooperGallery__overlay" @click="closeGallery"></div>
        <div class="hooperGallery__close" @click="closeGallery"></div>
        <hooper :settings="hooperSettings" class="hooperGallery__slider">
            <slide v-for="(img, index) in imgList" :key="img" :index="index">
                <img :src="img" alt="">
            </slide>
            <hooper-navigation slot="hooper-addons"></hooper-navigation>
        </hooper>
    </div>
</template>

<script>
import { Hooper, Slide, Navigation as HooperNavigation } from 'hooper';
import 'hooper/dist/hooper.css';
import { mapFields } from 'vuex-map-fields'
export default {
    name: 'gallery',
    components: {
        Hooper,
        Slide,
        HooperNavigation,
    },
    data: () => ({
        imgIndex: null
    }),
    props: {
        images: {
            type: Array,
            default() {
                return []
            }
        },
        initSlide: {
            type: Number,
            default: 0
        }
    },
    computed: {
        ...mapFields('menu', [
            'showHooperGallery'
        ]),
        imgList () {
            return this.images || []
        },
        hooperSettings () {
            return {
                itemsToShow: 1,
                itemsToSlide: 1,
                wheelControl: false,
                initialSlide: this.initSlide,
            }
        }
    },
    methods: {
        closeGallery () {
            this.showHooperGallery = false
        }
    }
}
</script>

<style lang="scss">
.hooperGallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0,0,0,0.4);
    }
    &__close {
        z-index: 3;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 50px;
        top: 50px;
        cursor: pointer;
        @media (max-width: 480px) {
            right: 15px;
            top: 15px;
            width: 40px;
            height: 40px;
        }
        &:before {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translate(0, -50%) rotate(-45deg);
            background: #fff;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translate(0, -50%) rotate(45deg);
            background: #fff;
        }
    }
    &__slider {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 700px;
        max-height: 700px;
        height: auto;
        z-index: 2;
        transform: translate(-50%, -50%);
        outline: none !important;
        border: none !important;
        font-size: 0 !important;
        box-shadow: none !important;
    }
    .hooper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hooper-track {
        will-change: transform;
    }
    .hooper-prev, .hooper-next {
        transform: translate(0, -50%);
        &:focus {
            outline: 0;
        }
        svg {
            height: 40px;
            width: 40px;
            fill: #fff;
        }
    }
    .hooper-next.is-disabled,
    .hooper-prev.is-disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
    .hooper-prev {
        left: -50px !important;
        @media (max-width: 480px) {
            left: 0px !important;
        }
    }
    .hooper-next {
        right: -50px !important;
        @media (max-width: 480px) {
            right: 0px !important;
        }
    }
}
</style>
