<template>
    <div class="input-component">
        <label
            v-show="showLabel && labelText"
            :for="this.fieldName"
            class="input-component__label">
            <span class="input-component__label-text" :class="{'input-component__label-text_required' : isRequired }">{{ labelText }}</span>
        </label>
        <div class="input-component__wr" :class="{'input-component__wr_valid' : isValid}">
            <input
                :id="this.fieldName"
                :name="this.fieldName"
                :type="inputType"
                :class="classListInput"
                v-model.trim="modifiedInputValue"
                @focus="changeFocus()"
                @blur="changeFocus($event)"
                ref="input"
                :placeholder="placeholder"
                :disabled="disabled"
            >
        </div>
        <div :class="classListHint" v-if="showHint" v-html="hint"></div>
    </div>
</template>

<script>
    if(process.client) {
        let InputMask = require('inputmask')
    }

    export default {
        data: () => ({
            changeValueFromThisComponent: false,
            inputValue: '',
            errorMessages: {
                required: 'Обязательное поле'
            },
        }),
        props: {
            validator: {
                type: Object,
                default: () => {
                    return {}
                }
            },
            value: {
                type: [String, Number, Date, Boolean, Array, Object]
            },
            inputType: {
                type: String,
                default: 'text'
            },
            labelText: {
                type: String,
                default: ''
            },
            mask: {
                type: [String, Object],
                default: ''
            },
            maskOptions: {
                type: Object,
                default: () => {
                    return {}
                }
            },
            fieldName: {
                type: String,
                default: 'default',
                required: true
            },
            placeholder: {
                type: String,
                default: ''
            },
            required: {
                type: Boolean,
                default: false
            },
            maxlength: {
                type: Number
            },
            disabled: {
                type: Boolean,
                default: false
            },
            replaceCharactersRegExp: {
                type: RegExp
            },
            inputHint: {
                type: String,
                default: ''
            },
            showLabel: {
                type: Boolean,
                default: true
            },
            errorMessage: {
                type: Object,
                default: () => {
                    return {}
                }
            }
        },
        created () {
            this.inputValue = this.value || ''
            this.errorMessages = {...this.errorMessages, ...this.errorMessage}
        },
        mounted () {
            if (this.mask) {
                Inputmask(`${this.mask}`, this.maskOptions).mask(this.$refs.input)
            }
        },
        computed: {
            $validator () {
                return this.validator
            },
            showHint () {
                return Object.keys(this.$validator).length || this.inputHint.length
            },
            classListHint () {
                let obj = {}
                obj['input-component__inputHint'] = true
                obj[`input-component__inputHint_hint`] = this.inputHint.length && !this.$validator.$error
                obj[`input-component__inputHint_error`] = this.isInvalid
                return obj
            },
            classListInput () {
                let obj = {}
                obj[`input-component__input`] = true
                obj[`input-component__input_focus`] = this.onFucus || !!this.modifiedInputValue.toString().length
                obj[`input-component__input_valid`] = this.isValid
                obj[`input-component__input_invalid`] = this.isInvalid
                obj[`input-component__input_disabled`] = this.disabled && this.isRequired
                return obj
            },
            hint () {
                return this.getInputHint(this.$validator)
            },
            isValidValidator () {
                return !this.$validator.$invalid
            },
            isValid() {
                return this.activated && this.isValidValidator && this.isRequired
            },
            isInvalid() {
                return this.activated && !this.isValidValidator && this.isRequired
            },
            isRequired () {
                let result = this.required
                let required = this.required
                if (this.$validator.hasOwnProperty('$params')) {
                    let validatorParams = Object.keys(this.$validator.$params)
                    if (validatorParams.includes('required')) {
                        if (this.$validator.$params.required.type === 'required') {
                            required = true
                        } else {
                            required = this.$validator.$params.required.prop()
                        }
                    }

                    result = required || !!this.modifiedInputValue
                }
                return result
            },
            activated () {
                let result = this.$validator.$anyDirty || this.modifiedInputValue.toString().length
                if (typeof this.modifiedInputValue === 'boolean') {
                    result = this.$validator.$anyDirty || this.changeValueFromThisComponent
                }
                return result
            },
            modifiedInputValue: {
                get () {
                    let value = this.inputValue
                    return value
                },
                set (value) {
                    let setValue = value
                    this.changeValueFromThisComponent = true
                    setValue = this.replaceCharactersRegExp ? setValue.replace(this.replaceCharactersRegExp, '') : setValue
                    this.inputValue = setValue
                    if (this.$validator.hasOwnProperty('$touch') && setValue) {
                        this.$validator.$touch()
                    }
                    this.$forceUpdate()
                }
            },
        },
        methods: {
            changeFocus (e) {
                this.onFucus = !this.onFucus
                if (e) {
                    this.$emit('blur')
                }
            },
            getInputHint (validator) {
                let message = ''
                if (this.isInvalid) {
                    let params = Object.keys(validator.$params)
                    let key
                    params.some(function (param) {
                        if (!validator[param]) {
                            key = param
                            return true
                        }
                        return false
                    })
                    message = this.errorMessages.required
                    if (key && this.errorMessages.hasOwnProperty(key)) {
                        switch (key) {
                            case 'minLength':
                            case 'minValue':
                                message = this.errorMessages[key].replace('{min}', validator.$params[key].min)
                                break
                            case 'minLength':
                            case 'maxLength':
                                message = this.errorMessages[key].replace('{max}', validator.$params[key].max)
                                break
                            default:
                                message = this.errorMessages[key]
                                break
                        }
                    }
                }
                if (this.inputHint.length > 0 && !validator.$error) {
                    message = this.inputHint
                }

                return message
            },
        },
        watch: {
            inputValue () {
                this.getInputHint(this.$validator)
                this.$emit('input', this.inputValue)
            },
            value () {
                this.inputValue = this.value || ''
            }
        }
    }
</script>

<style lang="scss">
    @import '~/assets/styles/vars.scss';
    .input-component {
        &__label {
            margin-bottom: 10px;
            display: inline-block;
        }
        &__label-text {
            font-family: RotondaC;
            font-size: 16px;
            color: $color_black;
            &_required {
                &::after {
                    content: '*';
                    color: $color_red;
                }
            }
        }
        &__input {
            border: 1px solid rgba(0, 33, 11, 0.5);
            box-sizing: border-box;
            filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.2));
            border-radius: 5px;
            padding: 12px 24px;
            transition: 0.3s;
            font-size: 20px;
            outline: 0;
            width: 100%;
            &_invalid {
                border: 1px solid $color_red;
            }
            &_valid {
                border: 1px solid $color_light_green;
            }
        }
        &__inputHint {
            line-height: 1.5;
            min-height: 24px;
            transition: all 0.3s;
            &_hint {
                color: $color_black;
            }
            &_error {
                color: $color_red;
            }

        }
    }
</style>
