<template>
    <transition name="fade">
        <div class="preloader" :class="{'preloader_fixed': fixed}" v-show="show">
            <div class="preloader__overlay" :class="{'preloader__overlay_transparent' : transparent}"></div>
            <div class="preloader__wr">
                <div class="preloader__spinner"></div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'Loader',
    data: () => ({
        show: false,
    }),
    props: {
        fixed: {
            type: Boolean,
            default: false
        },
        transparent: {
            type: Boolean,
            default: false
        },
        value: {
            type: Boolean
        },
    },
    created () {
        this.show = this.value
    },
    watch: {
        value () {
            this.show = this.value
        },
        show () {
            this.$emit('input', this.show)
        }
    }
}
</script>

<style scoped lang="scss">
@import '~/assets/styles/vars.scss';
.preloader {
    position: absolute;
    &_fixed {
        position: fixed;
    }
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(255,255,255,1);
        &_transparent {
            opacity: 0.5;
        }
    }

    &__wr {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__logo-wr {
        max-width: 200px;
        margin-top: 15px;
        user-select: none;
    }

    &__logo {
        width: 100%;
    }

    &__spinner {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-bottom: 3px solid $color_green;
        border-top: 3px solid $color_green;
        animation: rotate 1s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
</style>
