<template>
    <transition name="fade">
        <div class="feedbackModal" v-if="show">
            <div class="feedbackModal__overlay" @click="closeModal"></div>
            <div class="feedbackModal__window">
                <div class="feedbackModal__header">Авторизация <span class="feedbackModal__close" @click="closeModal"></span></div>
                <div class="feedbackModal__content">
                    <form action="" class="feedbackModal__form" @submit.prevent="sendForm">
                        <inputText
                            field-name="email"
                            input-type="email"
                            v-model="formData.email"
                            label-text="Email"
                            :validator="$v.formData.email"
                        />
                        <inputText
                            field-name="password"
                            input-type="password"
                            v-model="formData.password"
                            label-text="Пароль"
                            :validator="$v.formData.password"
                        />

                        <div class="feedbackModal__button-wr">
                            <productButton button-type="submit" c-class="feedbackModal__button" type="empty" :disabled="!isValid">Войти</productButton>
                        </div>
                    </form>
                </div>
                <div class="message-wr" v-if="pending">
                    <div class="message-wr__loader" v-if="showLoader"></div>
                </div>

            </div>
        </div>
    </transition>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import inputText from '@/components/inputText'
    import textArea from '@/components/textArea'
    import { required } from 'vuelidate/lib/validators'
    import productButton from '~/components/productButton';
    import { mapActions } from 'vuex'
    export default {
        mixins: [validationMixin],
        components: {
            inputText,
            textArea,
            productButton
        },
        data: () => ({
            formData: {
                email: null,
                password: null
            },
            show: false,
            message: null,
            showLoader: false,
            pending: false,
        }),
        validations: {
            formData: {
                email: {
                    required
                },
                password: {
                    required
                }
            }
        },
        props: {
            value: {
                type: Boolean
            }
        },
        computed: {
            isValid() {
                return !this.$v.$invalid
            }
        },
        methods: {
            ...mapActions('checkout', [
                'getСumulativeDiscount'
            ]),
            closeModal () {
                this.show = false
            },
            async sendForm () {
                if (this.isValid) {
                    this.pending = true
                    this.showLoader = true
                    try {
                        await this.$auth.loginWith('local', { data: this.formData })
                        await this.getСumulativeDiscount()
                        this.formData.email = null
                        this.formData.password = null
                        this.$v.$reset()
                        this.show = false
                        this.$notify({ group: 'all', text: 'Вы успешно авторизованы', type: 'success' })
                    } catch (err) {
                        this.$notify({ group: 'all', text: 'Неправильная пара логин/пароль', type: 'error' })
                    }
                    finally {
                        this.showLoader = false
                        this.pending = false
                    }
                }
            }
        },
        watch: {
            value () {
                this.show = this.value
            },
            show () {
                this.$emit('input', this.show)
            }
        }
    }
</script>

<style lang="scss">
    @import '~/assets/styles/modal.scss';
</style>
