<template>
    <section class="main__mailing mailing">
        <div class="mailing__row">
            <h2 class="main__h2 mailing__h2">Наша рассылка</h2>
            <div class="mailing__text">Подпишитесь на рассылку GreenMarket. Узнавайте о новых акциях и новостях нашего магазина по e-mail</div>
            <form action="" class="mailing__form" @submit.prevent="send">
                <div class="mailing__input-wr">
                    <inputText
                        field-name="send-email"
                        v-model="form.email"
                        placeholder="Введите E-mail"
                        input-type="email"
                        :validator="$v.form.email"
                        :errorMessage="{
                            required: 'Укажите email',
                            email: 'Не верный формат email'
                        }"
                    />
                </div>
                <button class="mailing__button" type="submit" @click.prevent="send">Подписаться</button>
            </form>
            <h3 class="mailing__h3">Присоединяйтесь</h3>
            <div class="mailing__text">
                <a href="https://t.me/greeeen_shooop" target="_blank" class="mailing__link">Вступайте в группу в телеграме</a> и узнавайте первыми о новых акциях и выгодных предложениях
            </div>
        </div>
    </section>
</template>

<script>
import inputText from '@/components/inputText'
import { validationMixin } from 'vuelidate'
import {required, email} from "vuelidate/lib/validators";
export default {
    mixins: [validationMixin],
    components: {
        inputText
    },
    validations: {
        form: {
            email: {
                required,
                email
            }
        }
    },
    data: () => ({
        form: {
            email: null
        }
    }),
    computed: {
        isValid() {
            return !this.$v.$invalid
        }
    },
    methods: {
        send() {
            this.$v.$touch()
            if (this.isValid) {

            }
        }
    }
}
</script>

<style lang="scss">
@import '~/assets/styles/vars.scss';
.mailing {
    margin-bottom: 40px;
    &__row {
        max-width: 500px;
    }
    &__h2 {
        margin-bottom: 24px;
    }
    &__text {
        margin-bottom: 16px;
    }
    &__h3 {
        font-family: 'Capture it';
        font-size: 28px;
        line-height: 1.2;
        color: $color_black;
        margin-bottom: 16px;
    }
    &__input-wr {
        margin-bottom: 10px;
    }
    &__button {
        outline: 0;
        font-size: 16px;
        background: #FEBD3E;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.32);
        border-radius: 4px;
        padding: 8px 10px;
        cursor: pointer;
        margin-bottom: 24px;
        transition: 0.3s;
        &:hover {
            background: lighten(#FEBD3E, 10%);
        }
    }
    &__link {
        color: $color_light_green;
        text-decoration: none;
    }
}
</style>
