<template>
    <div class="mjBUtton-wr">
        <a :href="href" :class="classObject" @click="emit($event)">
            <slot>Название кнопки</slot>
        </a>
    </div>
</template>

<script>
export default {
    name: 'MjButton',
    props: {
        href: {
            type: String,
            default: '#'
        },
        cClass: {
            type: String,
            default: ''
        },
        theme: {
            type: String,
            default: '',
            validator: (value) => {
                const availableValues = ['', 'yellow', 'green']
                const isValid = availableValues.includes(value)
                if (!isValid) {
                    console.error(`Не допустимое значение '${value}', параметра theme`)
                    console.warn('Доступные свойства:')
                    console.warn(availableValues.join(', '))
                }
                return isValid
            }
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        classObject () {
            const obj = {}
            obj[`${this.cClass}`] = this.cClass
            obj['mjButton'] = true
            if (this.theme) {
                obj[`mjButton_${this.theme}`] = true
            }
            obj[`mjButton_disabled`] = this.disabled
            return obj
        }
    },
    methods: {
        emit ($event) {
            if (!this.disabled) {
                this.$emit('click', $event)
            }
        }
    }
}
</script>

<style lang="scss">
@import "assets/styles/vars";
.mjButton {
    padding: 8px 20px;
    font-size: 12px;
    border: 1px solid $color_black;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color: $color_black;
    transition: background 0.3s;
    &:hover {
        background: $color_light_green;
    }
    &_yellow {
        border: 1px solid black;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.32);
        background: $color_yellow;
    }
    &_green {
        box-shadow: 0px 2px 16px rgba(0, 105, 34, 0.4);
        background: $color_green;
        color: #fff;
        &:hover {
            background: lighten($color_green, 10%) !important;
        }
    }
    &_disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
</style>
