<template>
    <div class="radio-wr">
        <div class="radio-wr__radio" v-for="(item, index) in packings" :key="index">
            <input type="radio" class="radio-wr__radio-input" :id="`packingRadio_${item.id}`" :name="`packingRadio_${item.id}`" v-model="inputValue" :value="item.name" :disabled="!item.quantity">
            <label :for="`packingRadio_${item.id}`" class="radio-wr__label" :class="{'radio-wr__label_disabled': !item.quantity}">
                <span class="radio-wr__label-packing">{{ item.name }} шт</span>
                <span class="radio-wr__label-price">{{ item.price }} ₽</span>
            </label>
        </div>
    </div>
</template>

<script>
export default {
    name: 'packingRadio',
    props: {
        value: {
            type: [String, Number, Object],
            required: true
        },
        packings: {
            type: Array
        }
    },
    created () {
        this.findAvailablePackings()
    },
    data () {
        return {
            inputValue: ''
        }
    },
    methods: {
        findAvailablePackings () {
            let arr = this.packings.find(item => {
                return item.quantity > 0
            })
            try {
                this.inputValue = arr ? arr.name : this.packings[0].name
            }
            catch (e) {
                console.log(e.message)
            }


        }
    },
    watch: {
        inputValue() {
            this.$emit('input', this.inputValue)
            let packingTypeArr = this.packings.find(item => {
                return item.name === this.inputValue
            })
            this.$emit('packingTypeArr', packingTypeArr)
        },
        value() {
            this.inputValue = this.value
        },
        packings: {
            handler () {
                let packingTypeArr = this.packings.find(item => {
                    return item.name === this.inputValue
                })
                this.$emit('packingTypeArr', packingTypeArr)
            },
            deep: true
        }
    }
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/vars.scss';
    .radio-wr {
        &__label {
            padding: 6px 12px;
            display: flex;
            align-items: center;
            font-family: RotondaC;
            font-size: 14px;
            background: #FFFFFF;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            cursor: pointer;
            margin: 4px 0;
            width: 100%;
            color: $color_green;
            transition: 0.3s;
            user-select: none;
            &_disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }
        }
        &__label-packing {
            width: 50%;
        }
        &__label-price {
            width: 50%;
            text-align: right;
        }
        &__radio-input {
            display: none;
            &:checked {
                + .radio-wr__label {
                    background: $color_green_catalog;
                    color: #fff;
                }
            }
        }
    }
</style>
