<template>
    <button :type="buttonType" :class="classList" @click="emit($event)">
        <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="type === 'toCart'" class="productButton__toCartImg">
            <path d="M5.22693 2.40163C8.7681 2.40312 12.3093 2.4046 15.8504 2.40609C16.8266 2.39578 17.0495 2.78019 16.8293 3.33729C16.0703 5.0988 15.3499 6.77052 14.5909 8.53203C14.3012 9.1678 13.9919 9.15909 13.397 9.16325L5.47802 9.16058C4.81479 6.84131 4.15155 4.52206 3.48832 2.2028C3.26776 1.67072 3.07167 1.44671 2.39816 1.4574L0.335693 1.47049" stroke="#EDFFB3" stroke-miterlimit="22.9256" />
            <path d="M5.47809 9.16077C5.88131 10.3332 6.13683 10.9628 7.04224 10.9905L13.6949 11.0075" stroke="#EDFFB3" stroke-miterlimit="22.9256" />
            <path d="M6.86126 15.5428C7.632 15.5428 8.25681 14.9166 8.25681 14.1442C8.25681 13.3717 7.632 12.7455 6.86126 12.7455C6.09051 12.7455 5.4657 13.3717 5.4657 14.1442C5.4657 14.9166 6.09051 15.5428 6.86126 15.5428Z" stroke="#EDFFB3" stroke-miterlimit="22.9256" />
            <path d="M13.6159 15.5428C14.3866 15.5428 15.0115 14.9166 15.0115 14.1442C15.0115 13.3717 14.3866 12.7455 13.6159 12.7455C12.8451 12.7455 12.2203 13.3717 12.2203 14.1442C12.2203 14.9166 12.8451 15.5428 13.6159 15.5428Z" stroke="#EDFFB3" stroke-miterlimit="22.9256" />
        </svg>
        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="type === 'liked'" class="productButton__likedImg">
            <path fill-rule="nonzero" clip-rule="evenodd" d="M10.381 17.5244C13.8785 14.9138 20.8344 9.7955 19.5337 4.573C18.6103 0.865709 14.1861 -0.973397 10.3791 2.75011C6.57214 -0.973397 2.14789 0.865709 1.22457 4.573C-0.0761258 9.79547 6.88341 14.9138 10.381 17.5244Z" stroke="#124D25" stroke-width="1.4" stroke-miterlimit="22.9256" />
        </svg>
        <slot>Название кнопки</slot>
    </button>
</template>

<script>
export default {
    name: 'productButton',
    props: {
        type: {
            default: 'empty',
            validator: (value) => {
                    let availableValues = ['empty','toCart', 'liked']
                    let isValid = availableValues.indexOf(value) >= 0
                    if (!isValid) {
                        console.error(`Не допустимое значение '${value}', параметра type`)
                        console.warn('Доступные свойства:')
                        console.warn(availableValues.join(', '))
                    }
                    return isValid
                }
        },
        cClass: {
            type: String
        },
        disabled: {
            type: Boolean,
            default: false
        },
        buttonType: {
            type: String,
            default: 'button'
        }
    },
    computed: {
        classList () {
            let result = {}
            result[`${this.cClass}`] = !!this.cClass
            result[`productButton`] = true
            result[`productButton_disabled`] = this.disabled
            result[`productButton_empty`] = this.type === 'empty' || this.type === 'liked'
            return result
        }
    },
    methods: {
        emit ($event) {
            if (!this.disabled) {
                this.$emit('click', $event)
            }
        }
    }
}
</script>

<style lang="scss">
@import '~/assets/styles/vars.scss';
    .productButton {
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        //box-shadow: 0px 2px 16px rgba(0, 105, 34, 0.4);
        border-radius: 2px;
        background: $color_green;
        color: #EDFFB3;
        font-size: 12px;
        cursor: pointer;
        text-decoration: none;
        padding: 0 16px;
        transition: 0.3s;
        outline: 0;
        border: 0;
        &_empty {
            color: $color_black;
            box-shadow: none;
            border: 1px solid $color_black;
            background: transparent;
            transition: background 0.3s, border 0.3s, color 0.3s;
            margin-top: auto;
            border-radius: 4px;
            &:hover {
                background: $color_green;
                border: 1px solid $color_green;
                color: #EDFFB3;
                .productButton__likedImg {
                    fill: #EDFFB3;
                }
            }
        }
        &_disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        svg {
            margin-right: 8px;
        }
        &__toCartImg {

        }
        &__likedImg {
            fill: #fff;
        }
    }
</style>
