<template>
    <div :class="cClass">
        <div class="product-slider-slide__row">
            <div class="product-slider-slide__col product-slider-slide__col_left">
                <div class="product-slider-slide__img-wr">
                    <div class="product-slider-slide__label" v-if="label">{{ label }}</div>
                    <div class="product-slider-slide__label product-slider-slide__label_discount">-{{ discountMod }}%</div>
                    <div class="product-slider-slide__img">
                        <div class="product-slider-slide__relative"></div>
                        <img :src="`${$baseUrlImg}${product.image}`" alt="" class="product-slider-slide__relative-content">
                    </div>
                </div>
                <div class="product-slider-slide__ratio">
                    <star-rating :rating="product.ratings" :starStyle="starConfig.style" :isIndicatorActive="false"></star-rating>
                    <span class="product-slider-slide__comment-count">({{ product.ratings_count }})</span>
                </div>
                <div class="product-slider-slide__name">
                    <img class="product-slider-slide__sex-icon" src="@/assets/img/sex-fem-icon.svg" alt="">
                    {{ product.name }}
                </div>
                <div class="product-slider-slide__brand">
                    <img class="product-slider-slide__brand-icon" :src="`${$baseUrlImg}${getBrandIcon}`" alt="">
                    {{ getBrandName }}
                </div>
                <div class="product-slider-slide__price-block">
                    <div class="product-slider-slide__price-row">
                        <div class="product-slider-slide__price-col product-slider-slide__price-col_left">
                            <div class="product-slider-slide__discount-price" v-if="discountMod">
                                от <span class="product-slider-slide__discount-price-value">{{ getDiscountPrice }} ₽</span>
                            </div>
                            <div class="product-slider-slide__price">
                                <span class="product-slider-slide__price-value" :class="{ 'product-slider-slide__price-value_old-value': discountMod }"><span v-if="!discountMod">от</span> {{ getOldPrice }} ₽</span>
                            </div>
                        </div>
                        <div class="product-slider-slide__price-col product-slider-slide__price-col_right" v-if="discountMod">
                            <div class="product-slider-slide__text">Экономия</div>
                            <div class="product-slider-slide__price">
                                <span class="product-slider-slide__saving-value">{{ getSaving }} ₽</span>
                            </div>
                        </div>
                    </div>
                </div>
                <productButton type="toCart" @click="toProduct">Выбрать упаковку</productButton>
            </div>
            <div class="product-slider-slide__col product-slider-slide__col_right">
                <div class="product-slider-slide__params-block" v-for="(category, index) in product.features.categories" :key="index">
                    <p class="product-slider-slide__params-label">{{ category.cat_group }}</p>
                    <p class="product-slider-slide__params-value">{{ category.name }}</p>
                </div>
                <productButton @click="toProduct">Все характеристики</productButton>
            </div>
        </div>
    </div>
</template>

<script>
    import productButton from '@/components/productButton';
    import { mapGetters } from 'vuex'
    import product from '~/mixins/product'
    import StarRating from 'vue-dynamic-star-rating'
    export default {
        mixins: [product],
        components: {
            productButton,
            StarRating
        },
        data: () => ({
            starConfig: {
                style: {
                    StarWidth: 14,
                    StarHeight: 14
                }
            }
        }),
        props: {
            customClass: {
                type: String
            },
            product: {
                type: Object,
                required: true
            },
            label: {
                type: [String, Number]
            },
        },
        computed: {
            cClass() {
                let obj = {}
                obj[`${this.customClass}`] = this.customClass
                obj['product-slider-slide'] = true
                return obj
            },
            discountMod() {
                return this.discount ? parseInt(this.discount) : 0
            },
            getMinPrice () {
                const min = Math.min.apply(null, this.product.packing.map((item) => {
                    return parseFloat(item.price);
                }))
                return min
            },
            getOldPrice() {
                return this.getMinPrice
            },
            getDiscountPrice() {
                let result = this.getMinPrice - this.getMinPrice * this.discountMod / 100
                return Math.round(result)
            },
            getSaving() {
                return (this.getOldPrice - this.getDiscountPrice)
            }
        },
        methods: {
            toProduct () {
                this.$router.push({ path: `/brands/${this.brandSlug}/${this.productSlug}` })
            }
        }
    }
</script>

<style lang="scss">
@import '@/assets/styles/vars.scss';
@import '@/assets/styles/mixins.scss';
.product-slider-slide {
    &__row {
        position: relative;
        height: 100%;
        .star-container {
            width: 14px;
            height: 14px;
        }
        .indicator {
            display: none;
        }
        @media (min-width: 769px) {
            &:hover {
                .product-slider-slide__col_right {
                    visibility: visible;
                }
                .product-slider-slide__col {
                    visibility: visible;
                    &_right {
                        border-right: 1px solid rgba(0, 0, 0, 0.24);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
                        border-top: 1px solid rgba(0, 0, 0, 0.24);
                    }
                    &_left {
                        border-left: 1px solid rgba(0, 0, 0, 0.24);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
                        border-top: 1px solid rgba(0, 0, 0, 0.24);
                    }
                }
            }
        }
    }
    &__col {
        height: 100%;
        &_left {
            display: flex;
            flex-direction: column;
            padding-left: 12px;
            padding-top: 8px;
            border-left: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-top: 1px solid transparent;
            padding-bottom: 12px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            .productButton {
                margin-top: auto;
                flex: 0 0 auto;
            }
        }
        &_right {
            padding-top: 8px;
            position: absolute;
            right: calc(-100% - 40px);
            top: 0;
            width: calc(100% + 40px);
            height: 100%;
            visibility: hidden;
            padding-left: 40px;
            padding-right: 24px;
            background: #fff;
            z-index: 10;
            display: flex;
            flex-direction: column;
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-top: 1px solid transparent;
            padding-bottom: 12px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    &__img-wr {
        position: relative;
        margin-bottom: 8px;
    }
    &__img {
        position: relative;
    }
    &__relative {
        width: 100%;
        padding-bottom: 100%;
    }
    &__relative-content {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
    }
    &__label {
        font-family: 'Rotonda Bold';
        font-size: 16px;
        padding: 4px 12px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-radius: 2px;
        color: #ffffff;
        background: $color_orange;
        &_discount {
            left: auto;
            right: 0;
        }
    }
    &__ratio {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
        align-items: center;
    }
    &__stars {
        margin-right: 6px;
    }
    &__comment-count {
        font-family: RotondaC;
        font-size: 13px;
        color: $color_light_green;
        margin-left: 6px;
    }
    &__sex-icon {
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }
    &__brand-icon {
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }
    &__price-block {
        margin-bottom: 20px;
    }
    &__name {
        display: flex;
        align-items: center;
        font-family: 'Capture it';
        font-size: 18px;
        line-height: 1.2;
        color: $color_black;
        margin-bottom: 8px;
    }
    &__brand {
        display: flex;
        align-items: center;
        font-family: RotondaC;
        font-size: 16px;
        line-height: 1.2;
        color: rgba(0, 33, 11, 0.7);
        margin-bottom: 12px;
    }
    &__price-row {
        @include row(10px);
        align-items: flex-end;
    }
    &__price-col {
        &_left {
            @include col(7, 0px);
            padding: 0 10px;
        }
        &_right {
            @include col(5, 0px);
            padding: 0 10px;
            border-left: 1px solid #DDDDDD;
        }
    }
    &__params-block {
        font-size: 14px;
        font-family: RotondaC;
    }
    &__params-label {
        color: rgba(0, 33, 11, 0.5);
        margin-bottom: 8px;
    }
    &__params-value {
        color: $color_black;
        margin-bottom: 8px;
        position: relative;
    }
    &__discount-price {
        font-family: Roboto;
        font-size: 12px;
        line-height: 1.2;
        color: #4D6454;
        margin-bottom: 6px;
    }
    &__discount-price-value {
        font-family: 'Rotonda Bold';
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: $color-orange;
    }
    &__price-value {
        font-family: 'Rotonda Bold';
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: $color_green;
        position: relative;
        &_old-value {
            font-size: 16px;
            &:before {
                content: '';
                position: absolute;
                border-bottom: 2px solid $color-orange;
                width: 100%;
                height: 50%;
                transform: rotate(8deg);
                z-index: 1;
            }
        }

    }
    &__text {
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 1.2;
        color: #4D6454;
    }
    &__saving-value {
        font-family: 'Rotonda Bold';
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: $color_green;
    }
}

</style>
