<template>
    <div class="product" :class="`product_${viewsType}`">
        <div class="product__row">
            <div class="product__not-available" v-if="isProductAvailble">Нет в наличии</div>
            <div class="product__col product__col_left">
                <n-link :to="`/brands/${brandSlug}/${productSlug}`" class="product__img-link">
                    <div class="product__relative"></div>
                    <img :src="`${$baseUrlImg}${product.image}`" alt="" class="product__img">
                    <div class="product__label" v-if="discount">-{{ discount }}%</div>
                </n-link>
            </div>
            <div class="product__col product__col_right">
                <div class="product__sub-row">
                    <div class="product__sub-col product__sub-col_left">
                        <div class="product__group product__group_max-height">
                            <div class="product__container product__container_caption">
                                <h2 class="product__caption"><n-link class="product__caption-link" :to="`/brands/${brandSlug}/${productSlug}`">{{ product.name }}</n-link></h2>
                                <star-rating :rating="starConfig.rating" :starStyle="starConfig.style" :isIndicatorActive="false"></star-rating>
                            </div>
                            <div class="product__margin-group">
                                <div class="product__container product__container_brand">
                                    <span class="product__brand-name"><img :src="`${$baseUrlImg}${getBrandIcon}`" alt="" class="product__brand-img">{{ getBrandName }}</span>
                                </div>
                                <div class="product__plites-price">
                                    <div v-if="discount" class="product__price product__price_discount"><span>{{ price }} ₽</span></div>
                                    <div class="product__price" :class="{ 'product__price_old': discount }"><span>{{ oldPrice }} ₽</span></div>
                                    <div class="product__text product__text_save" v-if="this.discount">Экономия</div>
                                    <div class="product__price" v-if="this.discount">
                                        <span class="product__saving-value">{{ getSaving }} ₽</span>
                                    </div>
                                </div>
                                <productButton type="toCart" @click="toProduct" c-class="product__button product__button_plites">Выбрать упаковку</productButton>
                            </div>
                        </div>
                        <div class="product__group product__group_absolute">
                            <div class="product__description" v-html="cutText(product.description, 200)"></div>
                            <div class="product__params">
                                <div class="product__params-row" v-for="(param, index) in modifiedCategories" :key="index">
                                    <div class="product__params-col product__params-col_label">{{ param.cat_group }}</div>
                                    <div class="product__params-col product__params-col_dots"></div>
                                    <div class="product__params-col product__params-col_value">{{ param.name }}</div>
                                </div>
                                <div class="product__params-row">
                                    <div class="product__params-col product__params-col_label">Генотип</div>
                                    <div class="product__params-col product__params-col_dots"></div>
                                    <div class="product__params-col product__params-col_value">{{ product.features.composition | empty }}</div>
                                </div>
                                <div class="product__params-row">
                                    <div class="product__params-col product__params-col_label">КБД</div>
                                    <div class="product__params-col product__params-col_dots"></div>
                                    <div class="product__params-col product__params-col_value">{{ product.features.kbd | empty}}</div>
                                </div>
                                <div class="product__params-row">
                                    <div class="product__params-col product__params-col_label">ТГК</div>
                                    <div class="product__params-col product__params-col_dots"></div>
                                    <div class="product__params-col product__params-col_value">{{ product.features.tgk | empty}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__sub-col product__sub-col_right">
                        <div v-if="discount" class="product__price product__price_discount"><span>{{ price }} ₽</span></div>
                        <div class="product__price" :class="{ 'product__price_old': discount }"><span>{{ oldPrice }} ₽</span></div>
                        <div class="product__text product__text_save" v-if="this.discount">Экономия</div>
                        <div class="product__price" v-if="this.discount">
                            <span class="product__saving-value">{{ getSaving }} ₽</span>
                        </div>
                        <div class="product__text-label">Тип упаковки</div>
                        <div class="product__packings">
                            <packingRadio v-model="packingValue" :packings="modifiedPacking" @packingTypeArr="quantityManagement"></packingRadio>
                        </div>
                        <div class="product__text-label">Количество упаковок</div>
                        <div class="product__count">
                            <input type="number" v-model="count" class="product__count-input">
                            <div class="product__changeCount product__changeCount_decriment" :class="{'product__changeCount_disabled': isDiabledDecriment}" @click="decriment"></div>
                            <div class="product__count-value">{{ count }}</div>
                            <div class="product__changeCount product__changeCount_increment" :class="{'product__changeCount_disabled': isDiabledIncrement}" @click="increment"></div>
                        </div>
                        <div class="product__buttons-wr">
                            <div class="product__button-wr">
                                <productButton type="toCart" @click="addToCart" :disabled="maxCount <= 0">В корзину</productButton>
                            </div>
<!--                            <div class="product__button-wr">-->
<!--                                <productButton type="liked">Отложить</productButton>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import packingRadio from '~/components/packingRadio';
import productButton from '~/components/productButton';
import product from '@/mixins/product'
import StarRating from 'vue-dynamic-star-rating'
import { mapActions, mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'
export default {
    name: "Product",
    mixins: [product],
    components: {
        packingRadio,
        productButton,
        StarRating
    },
    data: () => ({
        starConfig: {
            style: {
                StarWidth: 16,
                StarHeight: 16
            }
        }
    }),
    props: {
        product: {
            type: Object,
            required: true
        },
        viewsType: {
            type: String
        }
    },
    filters: {
        empty (value) {
            return value || 'Неизвестно'
        }
    },
    computed: {
        ...mapFields('menu', [
            'showLoader'
        ]),
        ...mapFields('cart', [
            'cart'
        ]),
        ...mapGetters('cart', [
            'getCurrentCountPackingProductInCart',
            'isDropCart'
        ]),
        isProductAvailble () {
            return this.modifiedPacking.every(item => {
                return item.quantity <= 0
            })
        },
        getSaving () {
            return this.oldPrice - this.price
        }
    },
    methods: {
        ...mapActions('cart', [
            'vuexAddToCart'
        ]),
        async addToCart() {
            if (this.maxCount > 0) {
                if(this.isDropCart) {
                    this.$notify({ group: 'all', ignoreDuplicates: true, duration: -1, text: this.$const.WARN_SEEDS_MESSAGE, type: 'warn' })
                } else {
                    this.showLoader = true
                    const countInCart = this.getCurrentCountPackingProductInCart(this.packingId)
                    let count = this.count
                    const isMaxCountMoreInCart = this.count > this.maxCount - countInCart
                    if(isMaxCountMoreInCart) {
                        count = this.maxCount - countInCart
                        this.$notify({ group: 'all', text: `Добавлено максимальное количество упаковок ${this.product.name} в корзину`, type: 'error' })
                    }
                    let item = {
                        name: this.product.name,
                        packingValue: this.packingValue,
                        price: this.price,
                        oldPrice: this.oldPrice,
                        packingId: this.packingId,
                        count,
                        discount: this.discount,
                        maxCount: this.maxCount,
                        img: `${this.$baseUrlImg}${this.product.image}`,
                        brandSlug: this.brandSlug,
                        productLink: `/brands/${this.brandSlug}/${this.productSlug}`,
                        product_id: this.product.id,
                        productType: 'seeds'
                    }
                    this.vuexAddToCart(item)
                    await new Promise(resolve => setTimeout(() => {
                        this.showLoader = false
                        resolve()
                    }, 300))
                    if(!isMaxCountMoreInCart) {
                        this.$notify({ group: 'all', text: 'Товар добавлен в корзину', type: 'success' })
                    }
                }
            }
        },
        toProduct () {
            this.$router.push({ path: `/brands/${this.brandSlug}/${this.productSlug}` })
        },
        cutText(value, symbolsCount) {
            if(!value) {
                return ''
            }
            return value.length > symbolsCount
                ? value.slice(0, symbolsCount - 3) + '...'
                : value;
        }
    }
}
</script>

<style lang="scss">
    @import '~/assets/styles/product.scss';
</style>
