<template>
    <div class="reviewItem">
        <div class="reviewItem__block">
            <div class="reviewItem__row reviewItem__row_flex">
                <div class="reviewItem__name">{{ reviewItem.author }}</div>
                <div class="reviewItem__date">{{ viewDate(reviewItem.answer_created_at) }}</div>
            </div>
            <div class="reviewItem__row">
                <star-rating :rating="5" :starStyle="starConfig.style" :isIndicatorActive="false"></star-rating>
            </div>
            <div class="reviewItem__text-wr">
                <perfect-scrollbar>
                    <p>{{ reviewItem.comment }}</p>
                </perfect-scrollbar>
            </div>
        </div>

    </div>
</template>

<script>
    import moment from 'moment'
    import StarRating from 'vue-dynamic-star-rating'
    moment.locale('ru')
    export default {
        components: {
            StarRating
        },
        props: {
            reviewItem: {
                type: Object,
                required: true
            }
        },
        data: () => ({
            starConfig: {
                rating: 0,
                style: {
                    FullStarColor: '#F5BF00',
                    EmptyStarColor: '#9c9c9c',
                    StarWidth: 16,
                    StarHeight: 16
                }
            }
        }),
        computed: {
            viewDate: () => date => {
                return moment(date).format('L, LT')
            },
        }
    }
</script>

<style lang="scss">
@import '@/assets/styles/vars.scss';
@import '@/assets/styles/mixins.scss';
.reviewItem {
    padding: 10px;
    &__block {
        border: 1px solid rgba(0, 0, 0, 0.24);
        border-radius: 8px;
        padding: 10px;
    }
    &__row {
        margin-bottom: 10px;
    }
    &__name {
        font-family: Capture it;
        font-size: 16px;
        margin-right: 16px;
        margin-bottom: 8px;
    }
    &__date {
        color: $color-green;
    }
    .star-svg {
        width: 16px;
        height: 16px;
    }
}
.ps {
    height: 100px;
}
</style>
