<template>
    <transition name="fade">
        <div class="feedbackModal" v-show="show">
            <div class="feedbackModal__overlay" @click="closeModal"></div>
            <div class="feedbackModal__window" ref="window">
                <div class="feedbackModal__header">Оставить отзыв <span class="feedbackModal__close" @click="closeModal"></span></div>
                <div class="feedbackModal__content">
                    <div class="feedbackModal__row">
                        <client-only>
                            <star-rating
                                v-model="feedbackData.rating"
                                class="feedbackModal__stars"
                                :star-size="30"
                                :animate="true"
                                active-color="#F5BF00"
                                inactive-color="#9c9c9c"
                            ></star-rating>
                        </client-only>
                    </div>

                    <div class="feedbackModal__row">
                        <inputText field-name="userName" label-text="Ваше имя" v-model="feedbackData.author" :validator="$v.feedbackData.author"></inputText>
                    </div>

                    <div class="feedbackModal__row">
                        <textArea
                            label-text="Преимущества"
                            v-model="feedbackData.advantages"
                            fieldName="advantages"
                            :required="true"
                            :validator="$v.feedbackData.advantages"
                        ></textArea>
                    </div>

                    <div class="feedbackModal__row">
                        <textArea
                            label-text="Недостатки"
                            v-model="feedbackData.disadvantages"
                            fieldName="disadvantages"
                            :required="true"
                            :validator="$v.feedbackData.disadvantages"
                        ></textArea>
                    </div>

                    <div class="feedbackModal__row">
<!--                        <textArea-->
<!--                            label-text="Сообщение"-->
<!--                            v-model="feedbackData.comment"-->
<!--                            fieldName="message"-->
<!--                            :validator="$v.feedbackData.comment"-->
<!--                            :required="true"-->
<!--                        ></textArea>-->
                        <client-only>
                            <div class="input-component input-component_margin">
                                <label class="input-component__label"><span class="input-component__label-text input-component__label-text_required">Отзыв</span></label>
                                <twemoji-textarea
                                    :emojiData="emojiDataAll"
                                    :emojiGroups="emojiGroups"
                                    :pickerWidth="320"
                                    @contentChanged="setContent"
                                    ref="twemoji"
                                >
                                </twemoji-textarea>
                                <div class="input-component__inputHint input-component__inputHint_error">
                                    <span v-if="$v.feedbackData.comment.$anyDirty && $v.feedbackData.comment.$anyError">Обязательное поле</span>
                                </div>
                            </div>
                        </client-only>
                    </div>

                    <div class="feedbackModal__row">
                        <div class="feedbackModal__fileList fileList" v-show="feedbackData.files.length">
                            <div class="fileList__item" v-for="(file, index) in feedbackData.files" :key="index">
                                <div class="fileList__fileName">{{ file.name }} ({{transformSize(file.size)}} КБ)</div>
                                <img class="fileList__delete" src="@/assets/img/trash.svg" alt="" @click.prevent="deleteFile(index)">
                            </div>
                        </div>
                        <div class="feedbackModal__col feedbackModal__col_file" v-show="feedbackData.files.length < 5">
                            <input type="file" name="" id="" ref="files" class="feedbackModal__file" @change="onImageSelection($event.target.files)">
                            <productButton @click.prevent="browseFiles">
                                <img class="feedbackModal__clip" src="@/assets/img/clip.svg" alt="">Прикрепить файл
                            </productButton>
                        </div>
                        <div class="feedbackModal__ext">
                            Допустимые форматы<br>{{ availableExtentions.join(', ') }}
                        </div>
                    </div>

                    <div class="feedbackModal__button-wr">
                        <productButton c-class="feedbackModal__button" type="empty" @click="sendComment" :disabled="!isValid">Отправить</productButton>
                    </div>
                </div>
                <div class="message-wr" v-if="pending">
                    <div class="message-wr__loader" v-if="showLoader"></div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import inputText from '@/components/inputText'
    import textArea from '@/components/textArea'
    import { required } from 'vuelidate/lib/validators'
    import productButton from '~/components/productButton';
    import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock';
    import NuxtSSRScreenSize from 'nuxt-ssr-screen-size'
    import { TwemojiTextarea } from '@kevinfaguiar/vue-twemoji-picker';
    import EmojiAllData from '@kevinfaguiar/vue-twemoji-picker/emoji-data/ru/emoji-all-groups.json';
    import EmojiGroups from '@kevinfaguiar/vue-twemoji-picker/emoji-data/emoji-groups.json';
    export default {
        mixins: [validationMixin,NuxtSSRScreenSize.NuxtSSRScreenSizeMixin],
        components: {
            inputText,
            textArea,
            productButton,
            'twemoji-textarea': TwemojiTextarea
        },
        data: () => ({
            feedbackData: {
                author: null,
                advantages: null,
                disadvantages: null,
                rating: null,
                comment: null,
                files: []
            },
            show: false,
            message: null,
            showLoader: false,
            pending: false,
            availableSize: 15728640,
            availableExtentions: [
                'jpg', 'jpeg', 'bmp', 'png'
            ],
        }),
        validations() {
            return {
                feedbackData: {
                    author: {
                        required
                    },
                    advantages: {
                        required
                    },
                    disadvantages: {
                        required
                    },
                    comment: {
                        required
                    },
                    rating: {
                        required
                    }
                }
            }
        },
        props: {
            value: {
                type: Boolean
            },
        },
        created () {
        },
        computed: {
            isValid() {
                return !this.$v.$invalid
            },
            emojiDataAll() {
                return EmojiAllData;
            },
            emojiGroups() {
                return EmojiGroups;
            }
        },
        methods: {
            transformSize (value) {
                return Math.round(value / 1024)
            },
            setContent(content) {
                this.feedbackData.comment = content
                this.$v.feedbackData.comment.$touch()
            },
            deleteFile (index) {
                let files = [...this.feedbackData.files]
                files.splice(index, 1)
                this.feedbackData.files = [...files]
            },
            onImageSelection (files) {

                if (!files.length) {
                    return false
                }
                const file = files[0]
                const ext = /[^.]+$/.exec(file.name)[0].toLowerCase()
                if (!this.availableExtentions.includes(ext)) {
                    this.$notify({ group: 'all', text: 'Недопустимое расширение файла', type: 'error' })
                    return false
                }
                let sumFilesSize = this.feedbackData.files.reduce((sum, current) => {
                    return sum + current.size
                }, 0) + file.size
                if (sumFilesSize > this.availableSize) {
                    this.$notify({ group: 'all', text: 'Суммарный размер файлов не должен превышать 15 МБ', type: 'error' })
                    return false
                }
                this.feedbackData.files.push(file)
            },
            browseFiles () {
                this.$refs.files.click()
            },
            closeModal () {
                this.show = false
            },
            sendComment () {
                if (this.isValid) {
                    this.pending = true
                    this.showLoader = true
                    const formData = new FormData()
                    for (const key in this.feedbackData) {
                        if (this.feedbackData.hasOwnProperty(key)) {
                            if (key !== 'files') {
                                if (this.feedbackData[key]) {
                                    formData.append(key, this.feedbackData[key])
                                }
                            } else {
                                if (this.feedbackData[key].length) {
                                    let files = this.feedbackData[key]
                                    files.forEach((element, index) => {
                                        formData.append(`file${index}`, element)
                                    })
                                }
                            }
                        }
                    }

                    this.$axios.$post('/add_review', formData)
                        .then(res => {
                            this.showLoader = false
                            this.message = res.data.message
                            for (const key in this.feedbackData) {
                                if (this.feedbackData.hasOwnProperty(key)) {
                                    this.feedbackData[key] = null
                                }
                            }
                            this.feedbackData.files = []
                            this.$v.$reset()
                            this.showLoader = false
                            this.$notify({ group: 'all', text: res.data.message, type: 'success' })
                            setTimeout(() => {
                                this.show = false
                                this.message = null
                            },3000)
                        })
                        .catch(e => {
                            this.message = e.message
                            this.$notify({ group: 'all', text: e.message, type: 'error' })
                        })
                        .finally(() => {
                            this.showLoader = false
                            this.pending = false
                        })
                }
            }
        },
        watch: {
            value (n) {
                if (!n) {
                    this.feedbackData.comment = null
                    this.$v.feedbackData.comment.$reset()
                    this.$refs.twemoji.cleanText()
                }
                this.show = this.value
                if(this.$vssWidth <= 768) {
                    if (this.show) {
                        disableBodyScroll(this.$refs.window)
                    } else {
                        clearAllBodyScrollLocks();
                    }
                }
            },
            show () {
                this.$emit('input', this.show)
            }
        }
    }
</script>

<style scoped>
.input-component_margin {
    margin-bottom: 16px;
}
</style>

<style lang="scss">
@import '~/assets/styles/modal.scss';
</style>
