<template>
    <div :class="cClass">
        <div class="timer__row">
            <div class="timer-wr">
                <div class="timer__block">
                    <div class="timer__value">{{ days[0] }}</div>
                    <div class="timer__value">{{ days[1] }}</div>
                </div>
                <div class="timer__label">Дней</div>
            </div>
            <div class="timer__separator">:</div>
            <div class="timer__wr">
                <div class="timer__block">
                    <div class="timer__value">{{ hours[0] }}</div>
                    <div class="timer__value">{{ hours[1] }}</div>
                </div>
                <div class="timer__label">Часов</div>
            </div>
            <div class="timer__separator">:</div>
            <div class="timer__wr">
                <div class="timer__block">
                    <div class="timer__value">{{ minutes[0] }}</div>
                    <div class="timer__value">{{ minutes[1] }}</div>
                </div>
                <div class="timer__label">Минут</div>
            </div>
            <div class="timer__separator">:</div>
            <div class="timer__wr">
                <div class="timer__block">
                    <div class="timer__value">{{ seconds[0] }}</div>
                    <div class="timer__value">{{ seconds[1] }}</div>
                </div>
                <div class="timer__label">Секунд</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            deadline: {
                type: String,
                required: true,
            },
            speed: {
                type: Number,
                default: 1000,
            },
            customClass: {
                type: String
            }
        },
        data() {
            return {
                currentTime: Date.parse(this.deadline) - Date.parse(new Date())
            };
        },
        mounted() {
            setTimeout(this.countdown, 1000)
        },
        computed: {
            seconds() {
                return this.splitTimerValue(Math.floor((this.currentTime / 1000) % 60))
            },
            minutes() {
                return this.splitTimerValue(Math.floor((this.currentTime / 1000 / 60) % 60))
            },
            hours() {
                return this.splitTimerValue(Math.floor((this.currentTime / (1000 * 60 * 60)) % 24))
            },
            days() {
                return this.splitTimerValue(Math.floor(this.currentTime / (1000 * 60 * 60 * 24)))
            },
            cClass() {
                let obj = {}
                obj[`${this.customClass}`] = this.customClass
                obj['timer'] = true
                return obj
            }
        },
        methods: {
            splitTimerValue(value) {
                value = value < 10 ? `0${value}` : value.toString()
                return value.split('')
            },
            countdown() {
                this.currentTime = Date.parse(this.deadline) - Date.parse(new Date())
                if (this.currentTime > 0) {
                    setTimeout(this.countdown, this.speed)
                } else {
                    this.currentTime = null;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
@import '@/assets/styles/vars.scss';
.timer {
    &__row {
        display: flex;
        align-items: flex-start;
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 10px;
        width: 75px;
        height: 60px;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        @media (max-width: 480px) {
            width: 55px;
            height: 45px;
        }
        &::before {
            content: '';
            height: 32px;
            width: 1px;
            background: #DDD;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__value {
        color: $color_green;
        font-family: 'Rotonda Bold';
        font-size: 36px;
        padding: 0 6px;
        @media (max-width: 480px) {
            font-size: 24px;
            padding: 0 4px;
        }
    }
    &__separator {
        font-size: 46px;
        display: flex;
        align-items: center;
        line-height: 1;
        @media (max-width: 480px) {
            font-size: 36px;
            line-height: 1;
        }
    }
    &__label {
        text-align: center;
        margin-top: 6px;
        color: $color_green;
    }

}
</style>
