<template>
    <div class="innerCatalog">
        <div class="innerCatalog__content">
            <div class="innerCatalog__row">
                <div class="innerCatalog__col innerCatalog__col_left">
                    <div class="innerCatalog__filter innerCatalog-filter">
                        <div class="innerCatalog-filter__caption">Фильтр</div>
                        <div class="innerCatalog-filter__group-params" v-for="(groupParams) in filterParams" :key="groupParams.attributeType">
                            <div class="innerCatalog-filter__group" v-for="(item) in groupParams.attributeGroup">
                                <checkboxFilter :caption="item.caption" :params="item.props" v-model="filterValue[groupParams.attributeType]"></checkboxFilter>
                            </div>
                        </div>
                    </div>
                </div>
                <client-only>
                    <div class="innerCatalog__col innerCatalog__col_right" v-if="getInnerCatalogPage">
                        <h1 class="h1 innerCatalog__h1">{{ getInnerCatalogPageTitle }}</h1>
                        <div class="innerCatalog__view-row">
                            <div class="innerCatalog__view-item" @click="setActive('plites')" :class="{ 'innerCatalog__view-item_active': isActive('plites') }">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="10.3181" y="0.5" width="7.18177" height="7.18177" rx="0.5" stroke="#00210B" stroke-opacity="0.5"/>
                                    <rect x="10.3181" y="10.3182" width="7.18177" height="7.18177" rx="0.5" stroke="#00210B" stroke-opacity="0.5"/>
                                    <rect x="0.5" y="0.500122" width="7.18177" height="7.18177" rx="0.5" stroke="#00210B" stroke-opacity="0.5"/>
                                    <rect x="0.5" y="10.3182" width="7.18177" height="7.18177" rx="0.5" stroke="#00210B" stroke-opacity="0.5"/>
                                </svg>
                            </div>
                            <div class="innerCatalog__view-item" @click="setActive('list')" :class="{ 'innerCatalog__view-item_active': isActive('list') }">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="#809085" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="7.18182" height="7.18182" rx="0.5" stroke="white"/>
                                    <rect x="0.5" y="10.3181" width="7.18182" height="7.18182" rx="0.5" stroke="white"/>
                                    <mask id="path-3-inside-1" fill="white">
                                        <rect x="9.81818" width="8.18182" height="3.27273" rx="0.4"/>
                                    </mask>
                                    <rect x="9.81818" width="8.18182" height="3.27273" rx="0.4" stroke="white" stroke-width="2" mask="url(#path-3-inside-1)"/>
                                    <mask id="path-4-inside-2" fill="white">
                                        <rect x="9.81818" y="4.90918" width="8.18182" height="3.27273" rx="0.4"/>
                                    </mask>
                                    <rect x="9.81818" y="4.90918" width="8.18182" height="3.27273" rx="0.4" stroke="white" stroke-width="2" mask="url(#path-4-inside-2)"/>
                                    <mask id="path-5-inside-3" fill="white">
                                        <rect x="9.81818" y="9.81812" width="8.18182" height="3.27273" rx="0.4"/>
                                    </mask>
                                    <rect x="9.81818" y="9.81812" width="8.18182" height="3.27273" rx="0.4" stroke="white" stroke-width="2" mask="url(#path-5-inside-3)"/>
                                    <mask id="path-6-inside-4" fill="white">
                                        <rect x="9.81818" y="14.7273" width="8.18182" height="3.27273" rx="0.4"/>
                                    </mask>
                                    <rect x="9.81818" y="14.7273" width="8.18182" height="3.27273" rx="0.4" stroke="white" stroke-width="2" mask="url(#path-6-inside-4)"/>
                                </svg>
                            </div>
                        </div>
                        <div class="innerCatalog__product-container" >
                            <product v-for="(product) in getInnerCatalogPage.data" :key="product.id" :product="product" :views-type="activeView"></product>
                        </div>

                        <infinite-loading @infinite="infiniteHandler" spinner="spiral">
                            <div class="innerCatalog__infiniteScrollMessage" slot="no-more">Показан весь список товаров</div>
                            <div class="innerCatalog__infiniteScrollMessage" slot="no-results">Показан весь список товаров</div>
                        </infinite-loading>

                        <pagination :data="getInnerCatalogPage" @pagination-change-page="getResults" v-if="getInnerCatalogPage" :limit="1" ref="pagination">
                        </pagination>
                    </div>
                </client-only>
            </div>
        </div>
    </div>
</template>

<script>
import product from '~/components/product'
import checkboxFilter from '~/components/checkboxFilter'
import global from '@/mixins/global'
import pagination from 'laravel-vue-pagination'
import { mapFields } from 'vuex-map-fields'
import { mapActions, mapGetters } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading';

export default {
    name: 'InnerCatalog',
    mixins: [global],
    components: {
        product,
        checkboxFilter,
        pagination,
        InfiniteLoading
    },
    async asyncData ({store, params}) {
        const isset = store.getters['catalog/getInnerCatalogPage'](params.slug)
        if(!isset) {
            await store.dispatch('catalog/getCategory', {slug: params.slug, page: 1})
        }
        if(!Object.keys(store.state.catalog.filterParams).length) {
            await store.dispatch('catalog/getFilterParams')
        }

    },
    data: () => ({
        filterValue: {
            attributes: [],
            category_items: [],
            type_packings: []
        },
        isBaseFilterState: true,
        isFilterMethodActive: false,
        infiniteState: null
    }),
    mounted () {
        this.setFeatureId()
        this.$nextTick(() => {
            this.isBaseFilterState = false
        })
    },
    computed: {
        ...mapFields('catalog', [
            'innerCatalogPage',
            'filterParams',
            'activeView'
        ]),
        ...mapGetters('catalog', [
            'getCurrentMetaPageBySlug'
        ]),
        ...mapFields('menu', [
            'showLoader'
        ]),
        ...mapFields('cart', [
            'cart'
        ]),
        getInnerCatalogPage () {
            return this.$store.getters['catalog/getInnerCatalogPage'](this.slug)
        },
        getInnerCatalogPageTitle () {
            return this.$store.getters['menu/getInnerCatalogPageTitle'](this.slug)
        },
        getCurrentFeatureId () {
            return this.$store.getters['catalog/getCurrentFeatureId'](this.slug)
        },
        slug () {
            return this.$route.params.slug
        }
    },
    methods: {
        ...mapActions('catalog', [
            'filterProducts',
            'getInfiniteCategory',
            'getInfiniteFilterProducts'
        ]),
        isActive (view) {
            return this.activeView === view
        },
        setActive (view) {
            this.activeView = view
        },
        async getResults(page = 1) {
            this.showLoader = true
            await this.filterProducts({filterValue: this.filterValue, slug: this.slug, page: page})
            this.showLoader = false
        },
        setFeatureId () {
            if(!this.filterValue.category_items.includes(this.getCurrentFeatureId)) {
                this.filterValue.category_items.push(this.getCurrentFeatureId)
            }
        },
        async infiniteHandler ($state) {
            this.infiniteState = $state
            const currentPage = this.getCurrentMetaPageBySlug(this.slug).current_page
            const lastPage = this.getCurrentMetaPageBySlug(this.slug).last_page
            if (currentPage < lastPage) {
                if(this.isFilterMethodActive) {
                    await this.getInfiniteFilterProducts({
                        slug: this.slug,
                        filterValue: this.filterValue
                    })
                } else {
                    await this.getInfiniteCategory({
                        slug: this.slug
                    })
                }
                $state.loaded()
            } else {
                $state.complete();
            }
        }
    },
    watch: {
        filterValue: {
            async handler(n, o) {
                if(!this.isBaseFilterState) {
                    this.showLoader = true
                    await this.filterProducts({filterValue: this.filterValue, slug: this.slug, page: 1})
                    this.isFilterMethodActive = true
                    this.showLoader = false
                    if(this.infiniteState) {
                        this.infiniteState.reset()
                    }
                }
            },
            deep: true
        },
        getCurrentFeatureId () {
            this.setFeatureId()
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '/assets/styles/catalog.scss';
</style>
