<template>
    <div class="orders">
        <client-only>
            <h1 class="h1 orders__h1">Список заказов</h1>
            <table class="orders__table" v-if="ordersList.length">
                <thead>
                    <tr>
                        <th scope="col">Номер заказа</th>
                        <th scope="col">Статус заказа</th>
                        <th scope="col">Список товаров</th>
                        <th scope="col">Тип доставки</th>
                        <th scope="col">Стоимость доставки</th>
                        <th scope="col">Способ оплаты</th>
                        <th scope="col">Общая скидка</th>
                        <th scope="col">Общая стоимость товаров</th>
                    </tr>

                </thead>
                <tbody>
                    <tr v-for="(order, index) in ordersList" :key="index">
                        <td data-label="Номер заказа">{{ order.order_nr }}</td>
                        <td data-label="Статус заказа">{{ order.status }}</td>
                        <td class="orders__product-col" data-label="Список товаров">
                            <div v-for="(orderItem, indexItem) in order.order_items" class="orders__product-info" :key="indexItem">
                                Производитель: {{ orderItem.brand }}<br>
                                Название: {{ orderItem.product }}<br>
                                Упаковка: {{ orderItem.packing_type }} шт. <br>
                                Скидка: {{ orderItem.discount }}% <br>
                                Количество/цена: {{ orderItem.quantity }} Х {{ orderItem.price }} р.
                            </div>
                        </td>
                        <td data-label="Тип доставки">{{ order.shipping_type }}</td>
                        <td data-label="Стоимость доставки">{{ order.shipping_taxi }} р.</td>
                        <td data-label="Способ оплаты">{{ order.payment_type }}</td>
                        <td data-label="Общая скидка">{{ order.discount || 0 }}%</td>
                        <td data-label="Общая стоимость товаров">{{ order.subtotal }} р.</td>
                    </tr>
                </tbody>
            </table>
            <div class="orders__products" v-else>
                <div class="orders__empty-text">У вас нет заказов</div>
            </div>
        </client-only>
    </div>
</template>

<script>
    import global from '~/mixins/global'
    import { mapFields } from 'vuex-map-fields'
    export default {
        mixins: [global],
        middleware: 'auth',
        async asyncData ({ store }) {
            const isset = store.getters['profile/orderListCount']
            if(!isset) {
                await store.dispatch('profile/getOrders')
            }
        },
        computed: {
            ...mapFields('profile', [
                'ordersList'
            ])
        }
    }
</script>

<style lang="scss">
.orders {
    &__empty-text {
        text-align: center;
        padding: 30px 10px;
        background: #f6f6f6;
        font-size: 18px;
    }
    &__h1 {
        margin-bottom: 30px;
    }
    &__table {
        width: 100%;
        thead {
            @media (max-width: 768px) {
                display: none;
            }
        }
        th {
            font-weight: 700;
        }
        th,td {
            padding: 10px;
            text-align: center;
        }
        tr {
            &:nth-child(2n) {
                background: #e0e0e0;
            }
            @media (max-width: 768px) {
                margin-bottom: 10px;
                display: block;
                border-bottom: 2px solid #ddd;
            }
        }
        td {
            @media (max-width: 768px) {
                display: block;
                text-align: right;
                font-size: 14px;
                border-bottom: 1px dotted #ccc;
                border-right: 1px solid transparent;
                &:last-child {
                    border-bottom: 0;
                }
                &:before {
                    content: attr(data-label);
                    float: left;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
    &__product-info {
        text-align: left;
        margin-bottom: 10px;
    }
    &__product-col {
        @media (max-width: 768px) {
            display: flex !important;
            flex-direction: column;
            &:before {
                float: none !important;
                text-align: left;
                margin-bottom: 10px;
            }
        }
    }
}
</style>
