<template>
    <div class="profile">
        <h1 class="h1 profile__h1">Профиль</h1>
        <div class="profile__userData">
            <h1 class="h2 profile__h2">Данные пользователя</h1>
            <form action="" class="profile__form" @submit.prevent="sendUserData">
                <div class="profile__row">
                    <div class="profile__col">
                        <inputText
                            v-model="userData.name"
                            label-text="Имя"
                            field-name="userName"
                            :validator="$v.userData.name"
                        />
                    </div>
                    <div class="profile__col">
                        <inputText
                            v-model="userData.last_name"
                            label-text="Фамилия"
                            field-name="last_name"
                            :validator="$v.userData.last_name"
                        />
                    </div>
                    <div class="profile__col">
                        <inputText
                            v-model="userData.patronymic_name"
                            label-text="Отчество"
                            field-name="patronymic_name"
                            :validator="$v.userData.patronymic_name"
                        />
                    </div>
                    <div class="profile__col">
                        <inputText
                            v-model="userData.email"
                            label-text="Email"
                            field-name="userEmail"
                            :validator="$v.userData.email"
                        />
                    </div>
                    <div class="profile__col">
                        <inputText
                            v-model="userData.phone"
                            label-text="Телефон"
                            field-name="userPhone"
                            mask="+9(999) 999-99-99"
                            :validator="$v.userData.phone"
                        />
                    </div>
                    <div class="profile__col">
                        <label for="shipping" class="input-component__label"><span class="input-component__label-text">Страна</span></label>
                        <div class="select-wr">
                            <select name="shipping" id="shipping" v-model="userData.country">
                                <option value="" selected disabled>...</option>
                                <option v-for="(country, index) in availableCountries" :value="country" :key="index">{{ country }}</option>
                            </select>
                            <img src="~/assets/img/selectArrow.svg" alt="">
                        </div>
                    </div>
                    <div class="profile__col">
                        <inputText
                            v-model="userData.city"
                            label-text="Город"
                            field-name="userCity"
                        />
                    </div>
                    <div class="profile__col">
                        <inputText
                            v-model="userData.postal_code"
                            label-text="Индекс"
                            field-name="userPostalCode"
                        />
                    </div>
                    <div class="profile__col">
                        <inputText
                            v-model="userData.street"
                            :validator="$v.userData.street"
                            label-text="Улица"
                            placeholder="Введите название улицы"
                            field-name="userPostalCode"
                        />
                    </div>
                </div>
                <div class="profile__row">
                    <div class="profile__col profile__col_adress">
                        <label class="input-component__label"><span class="input-component__label-text input-component__label-text_required">Дом</span></label>
                        <div class="profile__sub-row">
                            <div class="profile__sub-col">
                                <inputText
                                    v-model="userData.house"
                                    placeholder="Номер"
                                    field-name="userHouse"
                                    :validator="$v.userData.house"
                                />
                            </div>
                            <div class="profile__sub-col">
                                <inputText
                                    v-model="userData.block"
                                    placeholder="Корпус"
                                    field-name="userBlock"
                                    :validator="$v.userData.block"
                                />
                            </div>
                            <div class="profile__sub-col">
                                <inputText
                                    v-model="userData.building"
                                    placeholder="Строение"
                                    field-name="userBuilding"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="profile__col profile__col_adress">
                        <label class="input-component__label"><span class="input-component__label-text input-component__label-text_required">Квартира</span></label>
                        <div class="profile__sub-row">
                            <div class="profile__sub-col">
                                <inputText
                                    v-model="userData.apartment"
                                    placeholder="Номер"
                                    field-name="userBuilding"
                                    :disabled="userData.private_house"
                                />
                            </div>
                            <div class="profile__sub-col profile__sub-col_center">
                                <checkboxFilter v-model="userData.private_house" label-text="Частный дом" field-name="userPrivate_house" />
                            </div>
                        </div>
                    </div>
                </div>
                <productButton button-type="submit" c-class="profile__button" type="empty" :disabled="!isValidUserData">Сохранить</productButton>
            </form>
        </div>
        <div class="profile__password">
            <h1 class="h2 profile__h2">Сменить пароль</h1>
            <form action="" class="profile__form" @submit.prevent="sendUserPasswordData">
                <div class="profile__row">
                    <div class="profile__col">
                        <inputText
                            v-model="passwordData.password"
                            label-text="Новый пароль"
                            field-name="userPassword"
                            :validator="$v.passwordData.password"
                            :error-message="{
                                'minLength': 'Минимальная длина парола 6 символов'
                            }"
                            input-type="password"
                        />
                    </div>
                    <div class="profile__col">
                        <inputText
                            v-model="passwordData.password_confirmation"
                            label-text="Повторите пароль"
                            field-name="userPasswordConfirm"
                            :validator="$v.passwordData.password_confirmation"
                            :error-message="{
                                'sameAsPassword': 'Пароли должны совпадать'
                            }"
                            input-type="password"
                        />
                    </div>
                </div>
                <productButton button-type="submit" c-class="profile__button" type="empty" :disabled="!isValidPasswordUserData">Сохранить</productButton>
            </form>
        </div>
    </div>
</template>

<script>
    import global from '~/mixins/global'
    import { mapFields } from 'vuex-map-fields'
    import inputText from '@/components/inputText'
    import { validationMixin } from 'vuelidate'
    import { required, sameAs, minLength, requiredIf } from 'vuelidate/lib/validators'
    import productButton from '~/components/productButton'
    import checkboxFilter from '~/components/checkboxFilter'
    export default {
        middleware: 'auth',
        mixins: [global, validationMixin],
        components: {
            inputText,
            productButton,
            checkboxFilter
        },
        mounted () {
            this.userData = {...this.userData, ...this.$auth.user}
        },
        data: () => ({
            passwordData: {
                password: null,
                password_confirmation: null
            },
            userData: {
                name: null,
                last_name: null,
                patronymic_name: null,
                email: null,
                avatar: null,
                address: null,
                street: null,
                house: null,
                block: null,
                building: null,
                apartment: null,
                private_house: false,
                phone: null,
                city: null,
                country: null,
                postal_code: null,
                settings: []
            }
        }),
        validations () {
            return {
                userData: {
                    name: {
                        required
                    },
                    last_name: {
                        required
                    },
                    patronymic_name: {
                        required
                    },
                    email: {
                        required
                    },
                    phone: {
                        required
                    },
                    street: {
                        required
                    },
                    house: {
                        required
                    },
                    apartment: {
                        required: requiredIf(() => {
                            return !this.userData.private_house
                        })
                    }
                },
                passwordData: {
                    password: {
                        required,
                        minLength: minLength(6)
                    },
                    password_confirmation: {
                        sameAsPassword: sameAs('password')
                    }
                }
            }
        },
        computed: {
            ...mapFields('menu', [
                'showLoader'
            ]),
            ...mapFields('profile', [
                'availableCountries'
            ]),
            isValidUserData() {
                return !this.$v.userData.$invalid
            },
            isValidPasswordUserData() {
                return !this.$v.passwordData.$invalid
            }
        },
        methods: {
            async sendUserData () {
                if (this.isValidUserData) {
                    this.showLoader = true
                    try {
                        const response = await this.$axios.$put('/profile/update', this.userData)
                        this.$notify({ group: 'all', text: 'Данные успешно сохранены', type: 'success' })
                    } catch (e) {
                        this.$notify({ group: 'all', text: 'Ошибка сохранения', type: 'error' })
                    } finally {
                        this.showLoader = false
                    }
                }
            },
            async sendUserPasswordData () {
                if (this.isValidPasswordUserData) {
                    this.showLoader = true
                    try {
                        const response = await this.$axios.$put('/profile/password_update', this.passwordData)
                        this.$notify({ group: 'all', text: 'Пароль успешно обновлен', type: 'success' })
                        this.passwordData.password = null
                        this.passwordData.password_confirmation = null
                        this.$v.passwordData.$reset()
                    } catch (e) {
                        this.$notify({ group: 'all', text: 'Ошибка сохранения', type: 'error' })
                    } finally {
                        this.showLoader = false
                    }
                }
            }
        },
        watch: {
            'userData.private_house' (n, o) {
                if(n) {
                    this.userData.apartment = null
                }
            }
        }
    }
</script>

<style lang="scss">
@import '~assets/styles/profile.scss';
</style>
