<template>
    <div class="innerMenuPage">
        <div class="innerMenuPage__content" v-html="getDescription"></div>
    </div>
</template>

<script>
import global from '@/mixins/global'
export default {
    mixins: [global],
    async asyncData ({ store, route }) {
        await store.dispatch('staticPages/getMenuInnerPage', route.name)
    },
    computed: {
        slug () {
            return this.$route.name
        },
        getInnerMenuPageContent () {
            return this.$store.getters['staticPages/getInnerMenuPageContent'](this.slug) ? this.$store.getters['staticPages/getInnerMenuPageContent'](this.slug).content[0] : ''
        },
        getDescription () {
            return this.getInnerMenuPageContent.hasOwnProperty('description') ? this.getInnerMenuPageContent.description : ''
        }
    },
    methods: {
    }
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/innerMenuPages.scss';
</style>
