<template>
    <div class="innerProduct">
        <h1 class="h1 innerProduct__h1">{{ product.name }}</h1>
        <div class="innerProduct__brand">
            <img :src="`${$baseUrlImg}${getBrandIcon}`" alt="" class="innerProduct__brand-img">
            <span class="innerProduct__brand-name">{{ product.features.brand_name }}</span>
        </div>
        <div class="innerProduct__product innerProduct-product">
            <div class="innerProduct-product__row">
                <div class="innerProduct-product__col innerProduct-product__col_left">
                    <div class="innerProduct-product__img-wr" @click="openGallery(0)">
                        <div class="innerProduct-product__relative"></div>
                        <img class="innerProduct-product__relative-content" :src="`${$baseUrlImg}${this.product.image}`" alt="">
                        <div v-show="discount" class="innerProduct-product__label">-{{ discount }}%</div>
                    </div>
                    <div class="innerProduct-product__not-available" v-if="isProductAvailble">Нет в наличии</div>
                    <div class="innerProduct__img-row" v-if="images.length > 1">
                        <div class="innerProduct__img-col" v-for="(img, index) in images" :key="index" @click="openGallery(index)" v-show="index >= 1">
                            <div class="innerProduct__img-relative"></div>
                            <img :src="img" alt="" class="innerProduct__additional-img">
                        </div>
                    </div>
                </div>
                <div class="innerProduct-product__col innerProduct-product__col_right">
                    <div class="product-container">
                        <div class="product-container__row">
                            <div class="product-container__col product-container__col_left">
                                <div class="product-container__stars">
                                    <star-rating :rating="starConfig.rating" :starStyle="starConfig.style"></star-rating>
                                    <span class="product-container__ratings-count">({{ ratingsCount }})</span>
                                </div>
                                <div class="product-container__feedback-link" @click="show = true">Оставить отзыв</div>
                                <div v-if="discount" class="product-container__price product-container__price_discount"><span>{{ price }} ₽</span></div>
                                <div class="product-container__price" :class="{ 'product-container__price_old': discount }"><span>{{ oldPrice }} ₽</span></div>
                                <div class="product-container__text product-container__text_save" v-if="discount">Экономия</div>
                                <div class="product-container__price" v-if="discount">
                                    <span class="product-container__saving-value">{{ getSaving }} ₽</span>
                                </div>
                                <div class="product-container__text-label">Тип упаковки</div>
                                <div class="product-container__packings">
                                    <packingRadio v-model="packingValue" :packings="modifiedPacking" @packingTypeArr="quantityManagement"></packingRadio>
                                </div>
                                <div class="product-container__text-label">Количество упаковок</div>
                                <div class="product-container__count">
                                    <input type="number" v-model="count" class="product-container__count-input">
                                    <div class="product-container__changeCount product-container__changeCount_decriment" :class="{'product-container__changeCount_disabled': isDiabledDecriment}" @click="decriment"></div>
                                    <div class="product-container__count-value">{{ count }}</div>
                                    <div class="product-container__changeCount product-container__changeCount_increment" :class="{'product-container__changeCount_disabled': isDiabledIncrement}" @click="increment"></div>
                                </div>
                                <div class="product-container__button-wr">
                                    <productButton type="toCart" c-class="product-container__button" @click="addToCart" :disabled="maxCount <= 0">В корзину</productButton>
                                </div>
                            </div>
                            <div class="product-container__col product-container__col_right">
                                <div class="product-container__info-block product-info-block">
                                    <div class="product-info-block__caption">
                                        <img src="~/assets/img/delivery.svg" alt="" class="product-info-block__img">Варианты доставки
                                    </div>
                                    <ul class="product-info-block__list">
                                        <li class="product-info-block__list-item" v-for="(shippingType) in shippingTypes" :key="shippingType.id" v-if="isSeedsMethod(shippingType)">{{ shippingType.name }}</li>
                                    </ul>
                                </div>
                                <div class="product-container__info-block product-info-block">
                                    <div class="product-info-block__caption">
                                        <img src="~/assets/img/pay.svg" alt="" class="product-info-block__img">Способы оплаты
                                    </div>
                                    <ul class="product-info-block__list">
                                        <li class="product-info-block__list-item" v-for="(paymentType) in paymentTypes" :key="paymentType.id" v-if="isSeedsMethod(paymentType)">{{ paymentType.name }}</li>
                                    </ul>
                                    <div class="product-info-block__images">
                                        <img v-for="(paymentType) in paymentTypes" :key="paymentType.id" :src="`${$domainRoot}${paymentType.logo}`" :alt="paymentType.name" v-if="isSeedsMethod(paymentType)" class="product-info-block__pay-img">
                                    </div>
                                </div>
<!--                                <div class="product-container__info-block product-info-block">-->
<!--                                    <div class="product-info-block__caption">-->
<!--                                        <img src="~/assets/img/term.svg" alt="" class="product-info-block__img">Стоимость и сроки доставки в-->
<!--                                        <span class="product-info-block__location">-->
<!--                                            <img src="~/assets/img/location.svg" alt="" class="product-info-block__location-img"> Ростов-на-Дону-->
<!--                                        </span>-->
<!--                                    </div>-->
<!--                                    <div class="product-info-block__row">-->
<!--                                        <div class="product-info-block__col product-info-block__col_left">-->
<!--                                            <img src="~/assets/img/delivery2.svg" alt="" class="product-info-block__delivery-img">-->
<!--                                            Доставка-->
<!--                                        </div>-->
<!--                                        <div class="product-info-block__col product-info-block__col_center">от 3 до 9 дней</div>-->
<!--                                        <div class="product-info-block__col product-info-block__col_right">от 350.00 ₽</div>-->
<!--                                    </div>-->
<!--                                    <div class="product-info-block__row">-->
<!--                                        <div class="product-info-block__col product-info-block__col_left">-->
<!--                                            <img src="~/assets/img/location2.svg" alt="" class="product-info-block__delivery-img">-->
<!--                                            Самовывоз-->
<!--                                        </div>-->
<!--                                        <div class="product-info-block__col product-info-block__col_center"><span class="product-info-block__action">33 пункта самовывоза</span></div>-->
<!--                                        <div class="product-info-block__col product-info-block__col_right">от 295.00 ₽</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <productButton type="empty" c-class="product-container__button product-container__button_auto">Купить в один клик</productButton>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="innerProduct__tabs">
            <tabs :options="{ useUrlFragment: false }">
                <tab name="Описание">
                    <div class="tabs-text" v-html="product.description"></div>
                </tab>
                <tab name="Особенности">
                    <div class="tabs-table">
                        <div class="tabs-table__row">
                            <div class="tabs-table__col tabs-table__col_left">Производитель</div>
                            <div class="tabs-table__col tabs-table__col_right">{{ product.features.brand_name }}</div>
                        </div>
                        <div class="tabs-table__row" v-for="(param, index) in modifiedCategories" :key="index">
                            <div class="tabs-table__col tabs-table__col_left">{{ param.cat_group }}</div>
                            <div class="tabs-table__col tabs-table__col_right">{{ param.name | empty }}</div>
                        </div>
                        <div class="tabs-table__row">
                            <div class="tabs-table__col tabs-table__col_left">Высота</div>
                            <div class="tabs-table__col tabs-table__col_right">{{ product.features.plant_high | empty }}</div>
                        </div>
                        <div class="tabs-table__row">
                            <div class="tabs-table__col tabs-table__col_left">Урожай</div>
                            <div class="tabs-table__col tabs-table__col_right">{{ product.features.harvest | empty }}</div>
                        </div>
                        <div class="tabs-table__row">
                            <div class="tabs-table__col tabs-table__col_left">Период цветения</div>
                            <div class="tabs-table__col tabs-table__col_right">{{ product.features.flowering_period | empty }}</div>
                        </div>
                        <div class="tabs-table__row">
                            <div class="tabs-table__col tabs-table__col_left">Генотип</div>
                            <div class="tabs-table__col tabs-table__col_right">{{ product.features.composition | empty }}</div>
                        </div>
                        <div class="tabs-table__row">
                            <div class="tabs-table__col tabs-table__col_left">Генетика</div>
                            <div class="tabs-table__col tabs-table__col_right">{{ product.features.genetics | empty }}</div>
                        </div>
                        <div class="tabs-table__row">
                            <div class="tabs-table__col tabs-table__col_left">Среда выращивания</div>
                            <div class="tabs-table__col tabs-table__col_right">{{ product.features.growth_means | empty }}</div>
                        </div>

                        <div class="tabs-table__row">
                            <div class="tabs-table__col tabs-table__col_left">КБД</div>
                            <div class="tabs-table__col tabs-table__col_right">{{ product.features.kbd | empty }}</div>
                        </div>
                        <div class="tabs-table__row">
                            <div class="tabs-table__col tabs-table__col_left">ТГК</div>
                            <div class="tabs-table__col tabs-table__col_right">{{ product.features.tgk | empty }}</div>
                        </div>
                    </div>
                </tab>
<!--                <tab name="Обзоры и статьи">-->
<!--                    This is Svelte-->
<!--                </tab>-->
                <tab :name="`Отзывы (${product.comments.length})`">
                    <div class="reviews" v-if="product.comments.length">
                        <div class="reviews__item" v-for="(comment, index) in product.comments">
                            <div class="reviews__row reviews__row_flex">
                                <div class="reviews__name">{{ comment.user }}</div>
                                <div class="reviews__date">{{ viewDate(comment.created_at)}}</div>
                            </div>
                            <div class="reviews__row">
                                <star-rating :rating="comment.rating" :starStyle="starConfig.style" ></star-rating>
                            </div>
                            <div class="reviews__row">
                                <div class="reviews__comment-caption">Комментарий</div>
                                <div class="reviews__comment">{{ comment.message }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews" v-else>
                        Пока нет отзывов
                    </div>
                </tab>
            </tabs>
        </div>
        <feedbackModal v-model="show" :productId="product.id"></feedbackModal>
        <transition name="fade">
            <hooperGallery v-if="showHooperGallery" :images="images" :init-slide="imgIndex"></hooperGallery>
        </transition>
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
import hooperGallery from '~/components/hooperGallery'
import global from '@/mixins/global'
import product from '@/mixins/product'
import packingRadio from '@/components/packingRadio'
import productButton from '@/components/productButton'
import { Tabs, Tab } from 'vue-tabs-component'
import StarRating from 'vue-dynamic-star-rating'
import feedbackModal from '~/components/feedbackModal'
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'
moment.locale('ru')
export default {
    mixins: [global, product],
    components: {
        packingRadio,
        productButton,
        Tabs,
        Tab,
        StarRating,
        feedbackModal,
        hooperGallery
    },
    async asyncData ({ params, store }) {
        await store.dispatch('product/getProduct', params.product)
    },
    data: () => ({
        show: false,
        token: null,
        starConfig: {
            style: {
                StarWidth: 16,
                StarHeight: 16
            }
        },
        imgIndex: null
    }),
    filters: {
        empty (value) {
            return value || 'Неизвестно'
        }
    },
    computed: {
        ...mapFields('product', [
            'product'
        ]),
        ...mapFields('menu', [
            'showLoader',
            'showHooperGallery'
        ]),
        ...mapFields('checkout', [
            'shippingTypes',
            'paymentTypes'
        ]),
        ...mapGetters('cart', [
            'getCurrentCountPackingProductInCart',
            'isDropCart'
        ]),
        ratingsCount () {
            return this.product.ratings_count || 0
        },
        isProductAvailble () {
            return this.modifiedPacking.every(item => {
                return item.quantity <= 0
            })
        },
        viewDate: () => date => {
            return moment(date).format('L, LT')
        },
        images () {
            let result = []
            result = [`${this.$baseUrlImg}${this.product.image}`]
            let images = JSON.parse(this.product.images)
            if (images) {
                images = images.map((img) => {
                    return `${this.$baseUrlImg}${img}`
                })
                result = [...result, ...images]
            }
            return result
        },
        getSaving () {
            return this.oldPrice - this.price
        }
    },
    methods: {
        ...mapActions('cart', [
            'vuexAddToCart'
        ]),
        openGallery (index) {
            this.imgIndex = index
            this.showHooperGallery = true
        },
        async addToCart() {
            if (this.maxCount > 0) {
                if(this.isDropCart) {
                    this.$notify({ group: 'all', duration: -1, text: this.$const.WARN_SEEDS_MESSAGE, type: 'warn' })
                } else {
                    this.showLoader = true
                    const countInCart = this.getCurrentCountPackingProductInCart(this.packingId)
                    let count = this.count
                    const isMaxCountMoreInCart = this.count > this.maxCount - countInCart
                    if(isMaxCountMoreInCart) {
                        count = this.maxCount - countInCart
                        this.$notify({ group: 'all', text: `Добавлено максимальное количество упаковок ${this.product.name} в корзину`, type: 'error' })
                    }
                    let item = {
                        name: this.product.name,
                        packingValue: this.packingValue,
                        price: this.price,
                        oldPrice: this.oldPrice,
                        packingId: this.packingId,
                        count,
                        discount: this.discount,
                        maxCount: this.maxCount,
                        img: `${this.$baseUrlImg}${this.product.image}`,
                        brandSlug: this.brandSlug,
                        productLink: `/brands/${this.brandSlug}/${this.product.slug}`,
                        product_id: this.product.id,
                        productType: 'seeds'
                    }
                    this.vuexAddToCart(item)
                    await new Promise(resolve => setTimeout(() => {
                        this.showLoader = false
                        resolve()
                    }, 300))
                    if(!isMaxCountMoreInCart) {
                        this.$notify({ group: 'all', text: 'Товар добавлен в корзину', type: 'success' })
                    }
                }
            }
        }
    }
}
</script>

<style lang="scss">
.indicator {
    display: none;
}
.star-rating {
    display: inline-flex !important;
}
@import "../../../../assets/styles/innerProduct";
</style>
