<template>
    <div class="innerMenuPageList">
        <h1 class="innerMenuPageList__h1 h1">{{ newsDetail.title }}</h1>
        <div class="innerMenuPageList__content" v-html="newsDetail.body"></div>
    </div>
</template>

<script>
import global from '~/mixins/global'
import { mapGetters } from 'vuex'
export default {
    mixins: [global],
    async asyncData ({ store, params }) {
        await store.dispatch('articlesAndNews/getOneNews', params.slug)
    },
    computed: {
        ...mapGetters('articlesAndNews', [
            'getNews'
        ]),
        slug () {
            return this.$route.params.slug
        },
        newsDetail () {
            return this.getNews(this.slug)
        }
    }
}
</script>

<style lang="scss">
@import '~/assets/styles/vars.scss';
.innerMenuPageList {
    &__h1 {
        margin-bottom: 36px;
    }
    &__content {
        font-size: 18px;
        strong {
            font-weight: 700;
        }
        p {
            margin-bottom: 24px;
            line-height: 1.2;
        }
        ol {
            list-style-type: decimal;
            padding-left: 30px;
            margin-bottom: 16px;
        }
        ul {
            list-style-type: disc;
            padding-left: 30px;
            margin-bottom: 16px;
        }
        li {
            margin: 6px 0;
            line-height: 1.2;
        }
        a {
            text-decoration: none;
            color: $color_green;
            transition: 0.3s;
            &:hover {
                color: lighten($color_green, 10%);
            }
        }
        i {
            font-style: italic;
        }
        h2 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        .align-center {
            text-align: center;
        }
    }
}
</style>
