<template>
    <section class="innerCatalog equipment">
        <h1 class="h1 innerCatalog__h1">Оборудование</h1>
        <div class="equipment__row">
            <n-link :to="{ path: `/equipment/categories/${category.slug}` }" class="equipment__col" v-for="category in dropCategories" :key="category.id">
                {{ category.name }}
            </n-link>
        </div>
        <section class="main__news news" v-if="newsOnMain.data.length">
            <div class="news__caption-row">
                <h2 class="main__h2 news__h2">Новости магазина</h2>
                <n-link to="/news/" class="mjLink news__link">Посмотреть все новости</n-link>
            </div>
            <div class="news__row">
                <div class="news__col" v-for="(news, index) in newsOnMain.data" :key="index">
                    <n-link :to="`/news/${innerSlug(news.details)}`" class="news__img-link">
                        <div class="news__relative"></div>
                        <img :src="`${$baseUrlImg}${news.image}`" :alt="news.title" class="news__relative-content">
                    </n-link>
                    <n-link :to="`/news/${innerSlug(news.details)}`" class="news__text-link">{{ news.title }}</n-link>
                </div>
            </div>
        </section>
        <section class="main__articles articles" v-if="articlesOnMain.data.length">
            <div class="articles__caption-row">
                <h2 class="main__h2 articles__h2">Статьи и обзоры</h2>
                <n-link to="/articles/" class="mjLink articles__link">Посмотреть все статьи</n-link>
            </div>
            <div class="articles__row">
                <div class="articles__col" v-for="(article, index) in articlesOnMain.data" :key="index">
                    <n-link :to="`/articles/${innerSlug(article.details)}`" class="articles__img-link">
                        <div class="articles__relative"></div>
                        <img :src="`${$baseUrlImg}${article.image}`" :alt="article.title" class="articles__relative-content">
                    </n-link>
                    <n-link :to="`/articles/${innerSlug(article.details)}`" class="articles__text-link">{{ article.title }}</n-link>
                </div>
            </div>
        </section>
        <section class="main__reviews mainReviews">
            <div class="mainReviews__caption-row">
                <h2 class="main__h2 mainReviews__h2">Отзывы о магазине</h2>
                <n-link to="/reviews/" class="mjLink mainReviews__link">Посмотреть все отзывы</n-link>
            </div>
            <hooper :settings="hooperSettingsReviews" class="product-slider hit__slider" ref="hitSlider">
                <slide v-for="(review, index) in reviewsOnMain.data" :key="index" :index="index">
                    <reviewsItem :review-item="review"></reviewsItem>
                </slide>
                <hooper-navigation slot="hooper-addons"></hooper-navigation>
            </hooper>
        </section>
    </section>
</template>

<script>
import global from '~/mixins/global'
import {mapFields} from "vuex-map-fields";
import {Hooper, Navigation as HooperNavigation, Slide} from "hooper";
import reviewsItem from "~/components/reviewsItem";
export default {
    layout: 'equipment',
    mixins:[global],
    components: {
        Hooper,
        Slide,
        HooperNavigation,
        reviewsItem
    },
    async asyncData({ store }) {
        await Promise.all([
            store.dispatch('articlesAndNews/getNewsOnMain'),
            store.dispatch('articlesAndNews/getArticlesOnMain'),
            store.dispatch('reviews/getReviews', { page: 1 })
        ])
    },
    data: () => ({
        hooperSettingsReviews: {
            itemsToShow: 1,
            itemsToSlide: 1,
            wheelControl: false,
            breakpoints: {
                480: {
                    itemsToShow: 2,
                },
                768: {
                    itemsToShow: 3
                }
            },
            trimWhiteSpace: true
        }
    }),
    computed: {
        ...mapFields('dropShipping', {
            dropCategories: 'categories'
        }),
        ...mapFields('articlesAndNews', [
            'newsOnMain',
            'articlesOnMain'
        ]),
        ...mapFields('reviews', [
            'reviewsOnMain'
        ]),
        innerSlug: () => url => {
            const adress = url.replace(/https?:\/\//, '')
            const adressArr = adress.split('/')
            return adressArr[adressArr.length - 1]
        },
    }
}
</script>

<style lang="scss">
@import '~assets/styles/mixins.scss';
@import '~assets/styles/vars.scss';
.equipment {
    &__row {
        @include row();
        margin-bottom: 40px;
    }
    &__col {
        display: block;
        @include col(3);
        margin-bottom: 16px;
        border: 1px solid #b3b3b3;
        border-radius: 6px;
        height: 200px;
        font-family: Capture it;
        font-size: 20px;
        line-height: 1.1;
        color: $color_black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 10px;
        @media (max-width: 768px) {
            @include col(6);
        }
        @media (max-width: 480px) {
            @include col(12);
        }
    }
}
</style>
