@import '~/assets/styles/vars.scss';

@font-face {
    font-family: 'Capture it';
    src: url('../fonts/Captureit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rotonda Bold';
    src: url('../fonts/RotondaBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RotondaC';
    src: url('../fonts/RotondaC.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

img {
    max-width: 100%;
}

html,
body * {
    box-sizing: border-box;
    font-family: 'RotondaC';
}

.h1 {
    font-family: Capture it;
    font-size: 36px;
    line-height: 1.1;
    color: $color_black;
    margin-bottom: 36px;
}

.mjLink {
    font-family: RotondaC;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    &::after {
        content: '';
        width: 8px;
        height: 8px;
        border-bottom: 1px solid;
        border-right: 1px solid;
        transform: rotate(-45deg);
        display: block;
        margin-left: 8px;

    }
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .sr-only {
        display: none;
    }
    .page-link {
        padding: 8px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        color: $color-black;
        border: 1px solid #b3b3b3;
        border-radius: 4px;
        line-height: 1;
        transition: 0.3s;
        &:hover {
            background: #b4b4b4;
        }
    }
    .pagination-page-nav {
        margin: 6px;

        &.active {
            .page-link {
                border: 1px solid $color_green;
                background: $color_green;
                color: #fff;
            }
        }

    }
}



.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
