@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';

.innerCatalog {
    &__h1 {
        margin-bottom: 24px;
    }
    &__row {
        @include row(10px)
    }
    &__product-container {
        display: flex;
        flex-wrap: wrap;
    }
    &__col {
        &_left {
            @include col(3, 10px);
            @media(max-width: 768px) {
                display: none;
            }
        }
        &_right {
            @include col(9, 10px);
            @media(max-width: 768px) {
                @include col(12, 10px);
            }
        }
        &_full {
            @include col(12, 10px);
        }
    }
    &__infiniteScrollMessage {
        margin-bottom: 20px;
        color: $color_grey;
    }
    &__more-link {
        cursor: pointer;
        color: $color_green_catalog;
        &::after{
            transform: rotate(45deg);
            color: $color_green_catalog;
            transition: 0.3s;
            margin-top: -5px;
        }
        &_active {
            &::after{
                transform: rotate(-135deg);
                margin-top: 5px;
            }
        }
    }
    &__description {
        font-size: 18px;
        &_brand {
            position: relative;
            overflow: hidden;
            margin-bottom: 30px;
            transition: 0.3s;
            &::before {
                content: '';
                display: block;
                box-shadow: inset 0 0 80px #fff, inset 0 0 80px #fff, inset 0 0 80px #fff;
                position: absolute;
                bottom: 0;
                left: -80px;
                width: 140%;
                height: 150%;
            }
        }
        &_active {
            &::before {
                display: none;
            }
        }
        strong {
            font-weight: 700;
        }
        p {
            margin-bottom: 24px;
            line-height: 1.2;
        }
        ol {
            list-style-type: decimal;
            padding-left: 30px;
            margin-bottom: 16px;
        }
        ul {
            list-style-type: disc;
            padding-left: 30px;
            margin-bottom: 16px;
        }
        li {
            margin: 6px 0;
            line-height: 1.2;
        }
        a {
            text-decoration: none;
            color: $color_green;
            transition: 0.3s;
            &:hover {
                color: lighten($color_green, 10%);
            }
        }
        i {
            font-style: italic;
        }
        h2 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        .align-center {
            text-align: center;
        }
    }
    &__view-row {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;
    }
    &__view-item {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 42px;
        height: 42px;
        &_active {
            background: $color_green_catalog;
            svg {
                rect {
                    stroke: #fff;
                }
            }
        }
    }
}

.innerCatalog-filter {
    &__caption {
        font-family: RotondaC;
        font-size: 18px;
        line-height: 1.5;
        color: $color_black;
        text-transform: uppercase;
        padding-bottom: 6px;
        border-bottom: 1px solid rgba(18, 77, 37, 0.3);
        margin-bottom: 20px;
    }
    &__group {
        margin-bottom: 40px;
    }
}
