@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';
@import '~/assets/styles/extend.scss';
.checkout {
    &__h2 {
        margin-bottom: 30px;
    }
    &__row {
        @include row();
    }
    &__box {
        background: #FFFFFF;
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
        border-radius: 12px;
        padding: 36px;
    }
    &__col {
        &_left {
            @include col(7);
            @media (max-width: 768px) {
                @include col(12);
                margin-bottom: 16px;
            }
        }
        &_right {
            @include col(5);
            @media (max-width: 768px) {
                @include col(12);
            }
        }
    }
    &__label {
        font-family: Rotonda Bold;
        font-weight: bold;
        font-size: 24px;
        color: $color_light_green;
        margin-bottom: 28px;
    }
    &__input-wr {
        margin-bottom: 24px;
        @media (max-width: 768px) {
            margin-bottom: 24px;
        }
    }
}

.checkout-right-col {
    &__caption {
        font-family: Capture it;
        font-size: 26px;
        margin-bottom: 26px;
        color: $color_light_green;
    }
    &__row {
        @include row(10px);
        margin-bottom: 26px;
    }
    &__col {
        font-size: 18px;
        @include col(6, 10px);
        @media (max-width: 480px) {
            @include col(12, 10px);
            margin-bottom: 12px;
        }
        &_bold {
            font-weight: 700;
            font-size: 26px;
        }
    }
    &__button {
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 16px;
    }
    &__product-link {
        font-family: "Capture it";
        color: $color_black;
        text-decoration: none;
    }
    &__list-item {
        margin-bottom: 10px;
    }
}

.checkout-userData {
    &__sub-row {
        @include row(10px);
    }
    &__sub-col {
        @include col(4, 10px);
        margin-bottom: 16px;
        &_center {
            display: flex;
            align-items: center;
        }
        @media (max-width: 768px) {
            @include col(6, 10px);
        }
        @media (max-width: 480px) {
            @include col(12, 10px);
        }
    }
}
