.productButton {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    //box-shadow: 0px 2px 16px rgba(0, 105, 34, 0.4);
    border-radius: 2px;
    background: $color_green;
    color: #EDFFB3 !important;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    padding: 0 16px;
    transition: 0.3s;
    outline: 0;
    border: 0;
    &_empty {
        color: $color_black !important;
        box-shadow: none;
        border: 1px solid $color_black;
        background: transparent;
        transition: background 0.3s, border 0.3s, color 0.3s;
        margin-top: auto;
        border-radius: 4px;
        &:hover {
            background: $color_green;
            border: 1px solid $color_green;
            color: #EDFFB3 !important;
            .productButton__likedImg {
                fill: #EDFFB3;
            }
        }
    }
    &_disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
    svg {
        margin-right: 8px;
    }
    &__toCartImg {

    }
    &__likedImg {
        fill: #fff;
    }
}
