@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';

.wrapper {
    &_hidden {
        overflow: hidden;
    }
}

.footer {
    padding: 40px 0;
    background: $color_green;
    margin-top: 40px;
    &__row {
        @include row(10px)
    }
    &__col {
        &_left {
            @include col(7, 10px);
            @media (max-width: 1000px) {
                @include col(12, 10px);
            }
        }
        &_right {
            @include col(5, 10px);
            @media (max-width: 1000px) {
                @include col(12, 10px);
                margin-top: 20px;
            }
            @media (max-width: 480px) {
                text-align: center;
                .footer {
                    &__link {
                        justify-content: center;
                        font-size: 20px;
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
    &__sub-caption {
        font-family: "Capture it";
        color: $color_green2;
        font-size: 16px;
        margin-bottom: 20px;
        &_mobile {
            @media (max-width: 480px) {
                position: relative;
                border-bottom: 1px solid $color_green2;
                padding: 10px 0;
                &::before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-bottom: 1px solid $color_green2;
                    border-right: 1px solid $color_green2;
                    position: absolute;
                    right: 0;
                    top: 40%;
                    transform: translate(0, -50%) rotate(45deg);
                    transition: transform 0.3s;
                }
            }
        }
        &_active {
            @media (max-width: 480px) {
                &::before {
                    transform: translate(0, -50%) rotate(-135deg);
                }
            }
        }
    }
    &__link {
        font-family: RotondaC;
        transition: 0.3s;
        color: $color_green2;
        margin-bottom: 8px;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover {
            color: $color_light_green;
        }
        &_inline {
            display: inline-flex;
            margin-right: 6px;
        }
    }
    &__sub-row {
        @include row(10px);
    }
    &__sub-col {
        @include col(4, 10px);
        @media (max-width: 480px) {
            @include col(12, 10px);
        }
    }
    &__button {
        font-family: RotondaC;
        font-size: 14px;
        color: $color_green2;
        border: 1px solid $color_green2;
        box-sizing: border-box;
        filter: drop-shadow(0px 2px 16px rgba(0, 105, 34, 0.4));
        border-radius: 3px;
        transition: 0.3s;
        padding: 8px;
        text-align: center;
        margin-bottom: 12px;
        &:hover {
            border: 1px solid $color_light_green;
            color: $color_light_green;
        }
    }
    &__link-img {
        margin-right: 4px;
        width: 16px;
        height: 16px;
    }
    &__links-wr {
        //margin-top: 20px;
    }
    &__label {
        font-family: RotondaC;
        font-size: 12px;
        color: $color_green3;
        margin-bottom: 4px;
    }
    &__copy {
        margin-top: 16px;
        color: $color_green2;
        text-align: center;
    }
}
