@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';
@import '~/assets/styles/extend.scss';
@import '~hamburgers/_sass/hamburgers/hamburgers';

.wrapper {
    &_hidden {
        overflow: hidden;
    }
    &_mobile-full {
        @media(max-width: 768px) {
            padding: 0;
        }
    }
}
.hamburger {
    padding: 10px;
    &:focus, &:active {
        outline: none;
    }
}

.hamburger-inner {
    height: 3px;
    background-color: $color_green_catalog;
    &:before {
        height: 3px;
        background-color: $color_green_catalog;
    }
    &:after {
        height: 3px;
        background-color: $color_green_catalog;
    }
}

.header-top-panel {
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 16px;
    }
    &__phone-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__menu {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 100;
        padding: 10px;
    }
    &__logo-wr {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__logo-link {
        display: block;
        img {
            width: 320px;
        }
    }
}

.header {
    &__top-panel {
        @media (max-width: 768px) {
            display: none;
        }
        &_mobile {
            display: none;
            @media (max-width: 768px) {
                display: block;
            }
        }
    }

    margin-bottom: 40px;
    &__row {
        @include row();
        padding: 16px 0;
    }
    &__col {
        &_left {
            @include col(10);
            display: flex;
            align-items: center;
        }
        &_right {
            display: flex;
            align-items: center;
            @include col(2);
        }
    }
    &__logo-link {
        display: inline-block;
        font-family: 'Capture it';
        text-decoration: none;
        flex: 0 0 auto;
    }
    &__main-menu {
        margin-left: 44px;
    }
    &__phone-wr {
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }
    &__button {
        &_margin {
            margin-left: 14px;
        }
    }
    &__phone {
        font-family: 'Rotonda Bold';
        color: $color_black;
        text-decoration: none;
        font-size: 20px;
        margin-bottom: 4px;
        @media (max-width: 768px) {
            margin: 4px;
            font-size: 16px;
        }
    }
    &__phone-text {
        font-size: 12px;
        color: rgba(0, 33, 11, 0.5);
    }
    &__main-menu-block {
        @media (max-width: 768px) {
            position: relative;
        }
    }
    &__main-menu-block {
        &_sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100;
        }
    }
}

.main-menu {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
    &__link {
        font-family: 'Capture it';
        font-size: 14px;
        text-decoration: none;
        color: $color_black;
        @media (min-width: 769px) {
            margin: 2px 16px 2px 0;
            display: inline-block;
            &:last-of-type {
                margin: 6px 0px 6px 0;
            }
        }
        @media (max-width: 768px) {
            margin: 10px 0;
        }
    }
}

.menu-block {
    padding: 8px;
    background: $color_light_green;
    display: flex;
    position: relative;
    &__left {
        display: flex;
        @media (min-width: 769px) {
            position: relative;
        }
        z-index: 10;
        flex: 1 1 auto;
    }
    &__right {
        display: flex;
        align-items: center;
        margin-left: auto;
        flex: 0 0 auto;
    }
    &__input-wr {
        height: 33px;
        max-width: 450px;
        margin-left: 12px;
        position: relative;
        flex: 1 1 auto;
    }
    &__input {
        width: 100%;
        height: 100%;
        border: 0;
        outline: 0;
        background: #FFFFFF;
        border-radius: 2px;
        padding: 8px 50px 8px 16px;
    }
    &__search-button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;
    }
    &__menu {
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        width: 100%;
        @media (max-width: 768px) {
            top: 100%;
        }
    }
    &__down-menu {
        position: absolute;
        padding: 16px;
        top: 100%;
        right: 0;
        width: 300px;
        background: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
        z-index: 10;
        max-height: 70vh;
        overflow: auto;
    }
    &__buttons-row {
        display: flex;
        justify-content: space-between;
    }
    &__button {
        margin: 0 6px;
        font-size: 14px;
    }
    &__user-menu {
        margin-bottom: 16px;
    }
    &__user-menu-link {
        display: block;
        text-decoration: none;
        color: $color_green;
        padding: 10px 6px;
        transition: 0.3s;
        &:hover {
            background-color: $color_green;
            color: #fff;
        }
    }
}

.catalog-button {
    @media (min-width: 769px) {
        width: 185px;
    }
    @media (max-width: 480px) {
        font-size: 13px;
    }
    height: 33px;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Rotonda Bold';
    font-size: 16px;
    position: relative;
    transition: 0.3s;
    user-select: none;
    &__wr {
        height: 33px;
        background: rgba(18, 77, 37, 0.3);
        padding: 7px;
        display: flex;
        color: $color_light_green_button;
        transition: 0.3s;
    }
    &_active {

        .catalog-button__line {
            background: $color_green;
        }
        .catalog-button__wr {
            color: $color_green;
            background: #fff;
            height: 44px;
        }
    }
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 12px;
    }
    &__line {
        height: 2px;
        background: #EDFFB3;
        transition: 0.3s;
        &_1 {
            width: 18px;
        }
        &_2 {
            width: 11px;
            margin: 6px 0;
        }
        &_3 {
            width: 16px;
        }
    }
}

.main-icons-group {
    display: flex;
    align-items: center;
    &__icon {
        margin-left: 16px;
        cursor: pointer;
        &_cart {
            margin-left: 28px;
            margin-right: 16px;
            position: relative;
        }
    }
    &__cart-count {
        position: absolute;
        width: 20px;
        height: 20px;
        font-family: RotondaC;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -50%;
        right: -50%;
        color: $color_light_green;
        background: #fff;
        border-radius: 50%;
    }
}

.menu-block-menu {
    &__row {
        display: flex;
        position: relative;
    }
    &__col {
        &_left {
            @media (min-width: 769px) {
                width: 185px;
                box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
            }
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
    &__submenu-arrow {
        @media (min-width: 769px) {
            display: none;
        }
    }
    &__items-wr {
        padding: 7px 0;
        background: #fff;
    }
    &__link-wr {
        display: flex;
        align-items: center;
        padding: 12px 7px;
        position: relative;
        @media (max-width: 768px) {
            padding: 12px 10px;
            border-bottom: 1px solid $color_green_catalog;
        }
    }
    &__submenu-arrow {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 40px;
        &:before {
            content: '';
            width: 10px;
            height: 10px;
            border-right: 1px solid $color_green;
            border-bottom: 1px solid $color_green;
            transform: translate(-50%, -50%) rotate(45deg);
            position: absolute;
            top: 42%;
            left: 50%;
            transition: 0.3s;
        }
        &_active {
            &:before {
                transform: translate(-50%, 0%) rotate(-135deg);
            }
        }
    }
    &__item {
        font-size: 16px;
        cursor: pointer;
        color: $color_green;
        transition: 0.3s;
        position: relative;
        a {
            display: flex;
            align-items: center;
            font-size: 16px;
            cursor: pointer;
            color: $color_green;
            transition: 0.3s;
            text-decoration: none;
            @media (min-width: 769px) {
                &:hover {
                    color: $color_light_green;

                    .menu-block-menu__subMenu {
                        visibility: visible;
                        opacity: 1;
                        transition: opacity 0.1s, visibility 0s 0.0s;
                    }
                }
            }
        }
        &:hover {
            color: $color_light_green;
            @media (min-width: 769px) {
                .menu-block-menu__subMenu {
                    visibility: visible;
                    opacity: 1;
                    transition: opacity 0.1s, visibility 0s 0.0s;
                }
            }
        }
    }
    &__icon {
        margin-right: 8px;
    }
    &__brand-icon {
        width: 20px;
        margin-right: 4px;
    }
    &__subMenu {
        @media (min-width: 769px) {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 185px;
            width: 600px;
            transition: opacity 0.1s, visibility 0s 0.1s;
            padding: 7px 10px 7px 30px;
            //border-left: 1px solid rgba(157, 187, 59, 0.4);
            background: #fff;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
        }
        @media (max-width: 768px) {
            padding: 0 30px;
            &_scroll {
                overflow-y: scroll;
                max-height: 20vh;
            }
        }
    }
    &__subMenu-row {
        @media (min-width: 769px) {
            @include row(16px);
        }
    }
    &__subMenu-col {
        @media (min-width: 769px) {
            @include col(6, 16px);
        }
    }
    &__submenu-link {
        padding: 12px 0;
        color: $color_black;
        transition: 0.3s;
        font-size: 15px;
        display: flex;
        align-items: center;
        text-decoration: none;
        &:hover {
            color: $color_light_green;
        }
    }
}

.cart-modal {
    color: $color_black;
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__row {
        display: flex;
        margin-bottom: 10px;
        padding-right: 20px;
        position: relative;
    }
    &__delete-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #a2a2a2;
        cursor: pointer;
        &:before {
            content: '';
            width: 12px;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            background: #fff;
        }
        &:after {
            content: '';
            width: 12px;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 50%;
            background: #fff;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &__product-img {
        flex: 0 0 50px;
        margin-right: 10px;
    }
    &__info {
        flex: 1 1 auto;
        line-height: 1.2;
    }
    &__product-link {
        font-family: "Capture it";
        color: $color_black;
        text-decoration: none;
    }
    &__buttons-wr {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    &__cart-button {
        @extend .productButton;
        &_cart {
            @extend .productButton_empty
        }

    }
}
