@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';

.main {
    &__banner {
        margin-bottom: 24px;
    }
    &__promo {
        margin-bottom: 54px;
    }
    &__h2 {
        font-family: 'Capture it';
        font-size: 32px;
        line-height: 1.2;
        color: $color_black;
    }
}

.main-banner {
    &__row {
        padding: 30px 30px 30px 205px;
    }
    &__banner-link {
        display: block;
        img {
            object-fit: cover;
        }
    }
    &__title {
        font-family: 'Capture it';
        color: $color_light_green_button;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.24);
        font-size: 44px;
        line-height: 1.2;
        margin-bottom: 20px;
        max-width: 500px;
    }
    &__description {
        font-family: RotondaC;
        font-size: 20px;
        line-height: 1.2;
        color: $color_light_green_button;
        margin-bottom: 22px;
        max-width: 400px;
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__button {
        width: 148px;
        height: 38px;
        font-family: RotondaC;
        font-size: 18px;
        text-align: center;
    }
    &__link {
        margin-left: 24px;
        color: $color_light_green_button;
        &::after {
            border-bottom: 1px solid $color_light_green_button;
            border-right: 1px solid $color_light_green_button;
        }
    }
}

.promo {
    border: 1px solid $color_orange;
    border-radius: 4px;
    padding: 24px 34px;
    @media (max-width: 480px) {
        padding: 24px 16px;
    }
    &__row {
        @include row (16px)
    }
    &__col {
        &_left {
            @include col(4, 16px);
            @media (max-width: 768px) {
                @include col(12, 16px);
            }
        }
        &_right {
            @include col(8, 16px);
            @media (max-width: 768px) {
                @include col(12, 16px);
            }
        }
    }
    &__label {
        width: 86px;
        height: 24px;
        font-family: 'Rotonda Bold';
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color_orange;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    &__title {
        font-family: 'Capture it';
        font-size: 36px;
        line-height: 1.2;
        color: $color_black;
        margin-bottom: 28px;
    }
    &__timer {
        margin-bottom: 58px;
        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
    }
    &__text {
        font-family: RotondaC;
        font-size: 16px;
        line-height: 1.2;
        color: $color_black;
        margin-bottom: 14px;
    }
    &__links {
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__link {
        color: $color_light_green;
        margin-bottom: 8px;
        &::after {
            border-bottom: 1px solid $color_light_green;
            border-right: 1px solid $color_light_green;
        }
    }
    &__slider {
        height: 100%;
        .hooper-slide {
            height: auto;
        }
    }
}

.product-slider {
    outline: 0;
    &__slide {
        padding: 10px 6px !important;
        height: 100%;
    }
    .hooper-list {
        padding: 15px 0;
    }
}

.promo-slider {
    outline: 0;
    &__slide {
        padding: 10px 6px !important;
        height: 100%;
    }
    .hooper-list {
        padding: 15px 0;
    }
    &__img-wr {
        position: relative;
        display: block;
    }
    &__relative {
        width: 100%;
        padding-bottom: 100%;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
    }
    &__remaining-info {
        border: 1px solid $color_orange;
        border-radius: 4px;
        padding: 6px;
        display: inline-block;
        color: $color_orange;
    }
    &__info-row {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    &__remaining-dates {
        color: $color_grey;
        font-size: 14px;
        margin-left: 10px;
    }
}

.hit {
    &__slider {
        height: 100%;
        .hooper-slide {
            height: auto;
        }
        .hooper-list {
            padding: 30px 0;
        }
        .hooper-prev, .hooper-next {
            padding: 10px;
            position: static;
            line-height: 0;
        }
        .hooper-navigation {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.news {
    margin-bottom: 50px;
    &__row {
        @include row();
    }
    &__col {
        @include col(4);
        margin-bottom: 16px;
        @media (max-width: 768px) {
            @include col(6);
        }
        @media (max-width: 480px) {
            @include col(12);
        }
    }
    &__h2 {

    }
    &__link {
        color: $color_light_green
    }
    &__img-link {
        display: block;
        position: relative;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
    }
    &__relative {
        width: 100%;
        padding-bottom: 56.25%;
    }
    &__relative-content {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
    }
    &__text-link {
        font-family: RotondaC;
        font-size: 18px;
        text-decoration: none;
        color: $color-black;
        margin-top: 12px;
        display: block;
    }
    &__caption-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 36px;
    }
}

.articles {
    margin-bottom: 50px;
    &__row {
        @include row();
    }
    &__col {
        @include col(4);
        margin-bottom: 16px;
        @media (max-width: 768px) {
            @include col(6);
        }
        @media (max-width: 480px) {
            @include col(12);
        }
    }
    &__h2 {

    }
    &__link {
        color: $color_light_green
    }
    &__img-link {
        display: block;
        position: relative;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
    }
    &__relative {
        width: 100%;
        padding-bottom: 56.25%;
    }
    &__relative-content {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
    }
    &__text-link {
        font-family: RotondaC;
        font-size: 18px;
        text-decoration: none;
        color: $color-black;
        margin-top: 12px;
        display: block;
    }
    &__caption-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 36px;
    }
}


.mainReviews {
    &__caption-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 36px;
    }
    &__link {
        color: $color_light_green
    }
}

.hooper {
    height: 100% !important;
}

.hooper-prev, .hooper-next {
    transform: translate(0, 0);
    &:focus {
        outline: 0;
    }
    svg {
        height: 26px;
        width: 26px;
        fill: $color_green;
    }
}

.hooper-prev {
    left: -30px !important;
}

.hooper-next {
    right: -30px !important;
}
