@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';
@import '~/assets/styles/extend.scss';
.innerMenuPage {
    &__h1 {
        margin-bottom: 36px;
    }
    &__content {
        strong {
            font-weight: 700;
        }
        p {
            margin-bottom: 24px;
            line-height: 1.2;
        }
        ol {
            list-style-type: decimal;
            padding-left: 30px;
            margin-bottom: 16px;
        }
        ul {
            list-style-type: disc;
            padding-left: 30px;
            margin-bottom: 16px;
        }
        li {
            margin: 6px 0;
            line-height: 1.2;
        }
        a {
            text-decoration: none;
            color: $color_green;
            transition: 0.3s;
            &:hover {
                color: lighten($color_green, 10%);
            }
        }
        i {
            font-style: italic;
        }
        h2 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 30px;
        }
    }
    &__img-link {
        display: block;
        position: relative;
        @media (max-width: 480px) {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
            margin-bottom: 16px;
        }
    }
    &__relative {
        width: 100%;
        padding-bottom: 100%;
    }
    &__relative-content {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
    }
}
.articlesAndNews {
    &__item {
        display: flex;
        margin-bottom: 50px;
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    }
    &__img-wr {
        @media (min-width: 481px) {
            flex: 0 0 300px;
            margin-right: 16px;
        }
        @media (max-width: 480px) {
            flex: 1 1 auto;
        }
    }
    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        font-size: 18px;
    }
    &__title {
        font-family: RotondaC;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        color: $color_black;
        margin-bottom: 12px;
    }
    &__date {
        color: rgba(0, 33, 11, 0.7);
        font-size: 14px;
        margin-bottom: 16px;
    }
    &__description {
        margin-bottom: 16px;
    }
    &__button {
        display: inline-flex;
        margin-top: auto;
        align-self: flex-start;
        @extend .productButton;
    }
}
