@import 'assets/styles/vars.scss';
@import 'assets/styles/mixins.scss';

.innerProduct {
    &__h1 {
        margin-bottom: 10px;
    }
    &__brand {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__brand-img {
        width: 42px;
        height: 42px;
        margin-right: 10px;
    }
    &__brand-name {
        font-family: RotondaC;
        font-size: 24px;
        color: rgba(0, 33, 11, 0.7);
    }
    &__tabs {
        margin-top: 50px;
    }
    &__img-row {
        @include row(5px);
    }
    &__img-col {
        @include col(4, 5px);
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        @media (max-width: 768px) {
            @include col(3, 5px);
        }
    }
    &__img-relative {
        padding-bottom: 100%;
        width: 100%;
    }
    &__additional-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.innerProduct-product {
    &__img-wr {
        position: relative;
        margin-bottom: 16px;
        cursor: pointer;
    }
    &__label {
        font-family: 'Rotonda Bold';
        font-size: 16px;
        padding: 4px 12px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        border-radius: 2px;
        color: #ffffff;
        background: $color_orange;
    }
    &__relative {
        width: 100%;
        padding-bottom: 125%;
    }
    &__relative-content {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
    }
    &__img {
        width: 100%;
    }
    &__row {
        @include row(12px);
    }
    &__col {
        &_left {
            @include col(4, 12px);
            position: relative;
            @media (max-width: 768px) {
                @include col(12, 12px);
                margin-bottom: 30px;
            }
        }
        &_right {
            @include col(8, 12px);
            @media (max-width: 768px) {
                @include col(12, 12px);
            }
        }
    }
    &__not-available {
        position: absolute;
        top: 30px;
        left: 0;
        background: $color_red;
        box-shadow: 0px 2px 8px rgba(172, 0, 0, 0.48);
        font-family: RotondaC;
        font-size: 18px;
        padding: 10px 16px;
        color: #fff;
    }
}

.product-container {
    padding: 20px 30px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    .star-container {
        width: 16px;
        height: 16px;
    }
    .indicator {
        display: none;
    }
    &__row {
        @include row(10px)
    }
    &__col {
        &_left {
            @include col(4, 10px);
            @media (max-width: 768px) {
                @include col(6, 10px);
                margin-bottom: 24px;
            }
            @media (max-width: 768px) {
                @include col(7, 10px);
            }
        }
        &_right {
            @include col(8, 10px);
            @media (max-width: 768px) {
                @include col(12, 10px);
            }
        }
    }
    &__saving-value {
        font-size: 18px;
        color: $color_orange;
    }
    &__text {
        &_save {
            font-size: 18px;
            color: $color_orange;
        }
    }
    &__price {
        font-family:'Rotonda Bold';
        font-weight: bold;
        font-size: 36px;
        line-height: 1.2;
        color: $color_black;
        margin-bottom: 14px;
        &_discount {
            color: $color_orange;
            margin-bottom: 10px;
        }
        &_old {
            font-size: 16px;
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    border-bottom: 2px solid #FF6B00;
                    width: 100%;
                    height: 50%;
                    transform: rotate(8deg);
                    z-index: 1;
                }
            }

        }
    }
    &__stars {
        margin-bottom: 6px;
        display: flex;
        align-items: center;
    }
    &__text-label {
        font-family: 'Rotonda Bold';
        font-weight: bold;
        font-size: 16px;
        color: $color_black;
        margin-bottom: 10px;
    }
    &__packings {
        margin-bottom: 24px;
    }
    &__count-input {
        display: none;
    }
    &__count {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }
    &__count-value {
        margin: 0 8px;
        font-family: RotondaC;
        font-size: 16px;
        color:$color_black;
    }
    &__changeCount {
        width: 14px;
        height: 14px;
        position: relative;
        cursor: pointer;

        &_decriment {
            &:before {
                content: '';
                display: block;
                width: 14px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                background: $color_black;
            }
        }

        &_increment {
            &:before {
                content: '';
                display: block;
                width: 14px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                background: $color_black;
            }

            &:after {
                content: '';
                display: block;
                width: 14px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%) rotate(90deg);
                background: $color_black;
            }
        }

        &_disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    &__button {
        font-size: 16px;
        &_auto {
            display: inline-flex;
            padding: 0 40px;
        }
    }
    &__feedback-link {
        color: $color_light_green;
        font-size: 14px;
        cursor: pointer;
        border-bottom: 1px solid $color_light_green;
        margin-bottom: 26px;
        display: inline-block;
    }
}

.product-info-block {
    margin-bottom: 26px;
    padding-left: 40px;
    &__caption {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-family: 'Rotonda Bold';
        font-size: 16px;
        color: $color_black;
        position: relative;
    }
    &__img {
        margin-right: 8px;
        position: absolute;
        left: -40px;
        top: 0;
    }
    &__list {
    }
    &__list-item {
        padding-left: 10px;
        position: relative;
        margin: 5px 0;
        font-family: RotondaC;
        font-size: 12px;
        color: $color_black;
        line-height: 1.5;
        &::before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            top: 4px;
            left: 0;
            background: $color_light_green;
            border-radius: 1px;
        }
    }
    &__images {
        display: flex;
        align-items: center;
    }
    &__pay-img {
        margin-right: 14px;
        height: 26px;
    }
    &__location {
        font-family: 'Rotonda Bold';
        font-weight: bold;
        font-size: 16px;
        color: $color_light_green;
        display: inline-flex;
        align-items: center;
        margin-left: 6px;
        cursor: pointer;
    }
    &__location-img {
        margin-right: 6px;
    }
    &__action {
        color: $color_light_green;
        cursor: pointer;
    }
    &__row {
        @include row(6px);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__col {
        @include col(4, 6px);
        color: $color_black;
        &_right {
            font-weight: 700;
        }
    }
}

.tabs-component-tabs {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 480px) {
        flex-direction: column;
    }
}

.tabs-component-tab {
    @media (min-width: 769px) {
        border-bottom: 3px solid transparent;
    }
    @media (max-width: 768px) {
        border: 2px solid transparent;
        margin-bottom: 16px;
    }
    transition: 0.2s;
}

.tabs-component-tab.is-active {
    @media (min-width: 769px) {
        border-bottom: 3px solid $color_light_green;
    }
    @media (max-width: 768px) {
        border: 2px solid $color_light_green;
    }
    .tabs-component-tab-a {
        color: $color_black
    }
}

.tabs-component-panel {
    padding: 24px 32px;
    background: #F5F5F5;
    @media (max-width: 768px) {
        padding: 24px;
    }
}

.tabs-text {
    font-size: 18px;
    line-height: 1.2;
    color: $color-black;
    p {
        margin-bottom: 10px;
    }
}

.tabs-component-tab-a {
    text-decoration: none;
    padding: 15px;
    display: block;
    color: rgba(0, 33, 11, 0.7);
    font-size: 18px;
    font-family: RotondaC;
}

.tabs-table {
    &__row {
        @media (min-width: 481px) {
            @include row(6px);
            margin-bottom: 12px;
        }
        @media (max-width: 480px) {
            margin-bottom: 12px;
        }
    }
    &__col {
        font-family: RotondaC;
        font-size: 18px;
        &_left {
            color: rgba(0, 33, 11, 0.5);
            @media (min-width: 481px) {
                width: 200px;
                margin-left: 6px;
                margin-right: 6px;
            }
            @media (max-width: 480px) {
                margin-bottom: 6px;
            }
        }
        &_right {
            color: $color_black;
            @media (min-width: 481px) {
                width: calc(100% - 200px - 24px);
                margin-left: 6px;
                margin-right: 6px;
            }
        }
    }
}

.reviews {
    &__name {
        font-family: Capture it;
        font-size: 20px;
        margin-right: 16px;
        margin-bottom: 8px;
    }
    &__item {
        border-bottom: 1px solid $color_green;
        margin-bottom: 24px;
    }
    &__row {
        margin-bottom: 16px;
        &_flex {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    &__comment-caption {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px;
    }
    &__date {
        color: $color-green;
        margin-bottom: 8px;
    }
    &__comment {
        font-size: 16px;
        line-height: 1.2;
    }
    .star-svg {
        width: 16px;
        height: 16px;
    }
}

.blueimp-gallery {
    background: rgba(0,0,0,0.8);
}
