@import '~/assets/styles/vars.scss';

.notification-content {
    font-size: 18px !important;
}
.feedbackModal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    &__overlay {
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    &__window {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        transform: translate(-50% ,-50%);
        max-height: 90vh;
        @media (max-width: 550px) {
            width: 90%;
            overflow: auto;
            max-height: 70vh;
        }
    }
    &__header {
        padding: 12px 16px;
        background: $color_light_green;
        font-size: 20px;
        color: #fff;
        position: relative;
    }
    &__content {
        padding: 12px 16px;
        background: #fff;
    }
    &__close {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translate(0, -50%);
        width: 30px;
        height: 30px;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(45deg);
            width: 100%;
            height: 2px;
            background: #ffffff;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(-45deg);
            width: 100%;
            height: 2px;
            background: #ffffff;
        }
    }
    &__stars {
        margin-bottom: 16px;
    }
    &__button {
        font-size: 16px;
        display: inline-flex;
    }
    &__file {
        display: none;
    }
    &__ext {
        font-size: 12px;
        color: #767676;
        line-height: 1.2;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    &__clip {
        margin-right: 6px;
    }
}
.message-wr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
    }
    &__loader {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-bottom: 3px solid $color_light_green;
        border-top: 3px solid $color_light_green;
        animation: rotate 1s linear infinite;

    }
    &__message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color_light_green;
        font-size: 20px;
    }
}

.fileList {
    margin-bottom: 16px;
    &__item {
        display: flex;
        align-items: center;
        margin: 6px 0;
    }
    &__delete {
        width: 14px;
        margin-left: 10px;
        cursor: pointer;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
