@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';

.product {
    padding: 30px;
    background: #FFFFFF;
    border-left: 1px solid rgba(18, 77, 37, 0.5);
    border-top: 1px solid rgba(18, 77, 37, 0.5);
    border-right: 1px solid rgba(18, 77, 37, 0.5);
    border-bottom: 1px solid rgba(18, 77, 37, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    transition: 0.3s;
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    &:hover {
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
        border-color: transparent;
    }
    &_plites {
        width: 25%;
        padding: 16px;
        margin: 0 -1px -1px 0;
        &:hover {
            box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
            border-left: 1px solid rgba(18, 77, 37, 0.5);;
            border-top: 1px solid rgba(18, 77, 37, 0.5);;
            border-right: 1px solid rgba(18, 77, 37, 0.5);;
            border-bottom: 1px solid transparent;
        }
        @media (max-width: 768px) {
            width: 50%;
        }
        @media (max-width: 480px) {
            width: 100%;
        }
        &:hover {
            .product__group_absolute {
                display: block;
            }
        }
        .product {
            position: relative;
            &__button {
                &_plites {
                    display: flex !important;
                }
            }
            &__margin-group {
                margin-top: auto;
            }
            &__plites-price {
                display: block;
            }
            &__row {
                display: flex;
                flex-direction: column;
                margin-left: 0;
                margin-right: 0;
                height: 100%;
            }
            &__col {
                &_left {
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 16px;
                }
                &_right {
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                    flex: 1 1 auto;
                }
            }
            &__sub-row {
                display: block;
                margin-left: 0;
                margin-right: 0;
                height: 100%;
            }
            &__sub-col {
                &_left {
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                    height: 100%;
                }
                &_right {
                    display: none;
                }
            }
            &__caption-link {
                margin-right: 0;
                font-size: 20px;
                margin-bottom: 10px;
            }
            &__group {
                &_max-height {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }
                &_absolute {
                    box-shadow: 0px 6px 4px 4px rgba(0, 0, 0, 0.2);
                    padding: 16px;
                    background: #fff;
                    z-index: 2;
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    margin-left: -1px;
                    margin-right: -1px;
                    border-top: 1px solid #fff;
                    border-left: 1px solid rgba(18, 77, 37, 0.5);
                    border-right: 1px solid rgba(18, 77, 37, 0.5);
                    border-bottom: 1px solid rgba(18, 77, 37, 0.5);
                }
            }
        }
    }
    &__img-link {
        display: block;
        position: relative;
    }
    &__saving-value {
        font-size: 18px;
        color: $color_orange;
    }
    &__text {
        &_save {
            font-size: 18px;
            color: $color_orange;
        }
    }
    &__label {
        font-family: 'Rotonda Bold';
        font-size: 16px;
        padding: 4px 12px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        border-radius: 2px;
        color: #ffffff;
        background: $color_orange;
    }
    &__relative {
        width: 100%;
        padding-bottom: 100%;
    }
    &__plites-price {
        display: none;
    }
    .star-container {
        width: 14px;
        height: 14px;
    }
    .indicator {
        display: none;
    }
    @media (max-width: 480px) {
        padding: 20px;
    }

    &__not-available {
        position: absolute;
        top: 30px;
        left: 0;
        background: $color_red;
        box-shadow: 0px 2px 8px rgba(172, 0, 0, 0.48);
        font-family: RotondaC;
        font-size: 18px;
        padding: 10px 16px;
        color: #fff;
        z-index: 1;
    }
    &__row {
        @include row(15px);
    }
    &__col {
        &_left {
            @include col(4, 15px);
            @media (max-width: 480px) {
                @include col(12, 15px);
                margin-bottom: 16px;
            }
        }
        &_right {
            @include col(8, 15px);
            @media (max-width: 480px) {
                @include col(12, 15px);
            }
        }
    }
    &__sub-row {
        @include row(10px);
    }
    &__sub-col {
        &_left {
            @include col(8, 10px);
            @media (max-width: 768px) {
                @include col(12, 10px);
            }
        }
        &_right {
            @include col(4, 10px);
            @media (max-width: 768px) {
                @include col(7, 10px);
            }
        }
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &_caption {
            margin-bottom: 10px;
        }
        &_brand {
            margin-bottom: 20px;
        }
    }
    &__caption-link {
        font-family: 'Capture it';
        font-size: 28px;
        color: $color_black;
        margin-right: 16px;
        text-decoration: none;
    }
    &__stars {
        margin: 8px 0;
    }
    &__brand-img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }
    &__brand-name {
        font-family: RotondaC;
        font-size: 18px;
        line-height: 1.2;
        color: $color_black;
    }
    &__description {
        font-family: RotondaC;
        font-size: 14px;
        line-height: 1.2;
        color: $color_black;
        margin-bottom: 24px;
    }
    &__params-row {
        //@include row(10px);
        display: flex;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    &__params-col {
        //@include col(6, 10px);
        font-family: RotondaC;
        font-size: 14px;
        line-height: 1;
        &_label {
            color: #809085;
        }
        &_value {
            color: $color_black;
        }
        &_dots {
            height: 10px;
            margin: 0 2px;
            flex: 1 1 auto;
            border-bottom: 1px dotted #809085;
        }
    }
    &__price {
        font-family:'Rotonda Bold';
        font-weight: bold;
        font-size: 28px;
        line-height: 1.2;
        color: $color_black;
        margin-bottom: 14px;
        &_discount {
            color: $color_orange;
            margin-bottom: 10px;
        }
        &_old {
            font-size: 16px;
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    border-bottom: 2px solid #FF6B00;
                    width: 100%;
                    height: 50%;
                    transform: rotate(8deg);
                    z-index: 1;
                }
            }

        }
    }
    &__text-label {
        font-family: 'Rotonda Bold';
        font-weight: bold;
        font-size: 14px;
        color: $color_black;
        margin-bottom: 10px;
    }
    &__packings {
        margin-bottom: 16px;
    }
    &__count-input {
        display: none;
    }
    &__count {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }
    &__count-value {
        margin: 0 8px;
        font-family: RotondaC;
        font-size: 14px;
        color:$color_black;
    }
    &__changeCount {
        width: 10px;
        height: 10px;
        position: relative;
        cursor: pointer;
        &_decriment {
            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                background: $color_black;
            }
        }

        &_increment {
            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                background: $color_black;
            }
            &:after {
                content: '';
                display: block;
                width: 10px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%) rotate(90deg);
                background: $color_black;
            }
        }
        &_disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    &__button-wr {
        margin-bottom: 14px;
    }

    &__button {
        width: 100%;
        //font-size: 16px;
        &_plites {
            display: none !important;
        }
    }

}

