@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';

.profile {
    &__row {
        margin-bottom: 16px;
        @include row();
    }
    &__sub-row {
        @include row(10px);
    }
    &__sub-col {
        @include col(4, 10px);
        margin-bottom: 16px;
        &_center {
            display: flex;
            align-items: center;
        }
        @media (max-width: 768px) {
            @include col(6, 10px);
        }
        @media (max-width: 480px) {
            @include col(12, 10px);
        }
    }
    &__col {
        @include col(4);
        margin-bottom: 16px;
        @media (max-width: 768px) {
            @include col(12);

        }
        &_adress {
            @include col(6);
            @media (max-width: 768px) {
                @include col(12);

            }
        }
    }

    &__h1 {
        margin-bottom: 32px;
    }
    &__h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px;
    }
    &__userData {
        margin-bottom: 36px;
    }
}

.select-wr {
    * {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    width: 100%;
    position: relative;

    select {
        padding: 14px 32px 14px 24px;
        background: #ffffff;
        outline: 0;
        border: 0;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: $color_black;
        font-weight: normal;
        font-size: 18px;
        box-shadow: 0px 2px 32px rgba(0, 0, 0, .1);
        cursor: pointer;

        &:focus {
            outline: 0;
        }
        &:active {
            + img {
                transform: translate(0, -50%) rotate(180deg);
            }
        }
        &:disabled {
            background-color: #e7e7e7;
            box-shadow: none;
        }
    }

    img {
        max-width: 16px;
        position: absolute;
        right: 10px;
        top: 55%;
        transform: translate(0, -50%) rotate(0deg);
        pointer-events: none;
        z-index: 2;
        width: 16px !important;
        transition: transform 0.3s;
    }
}
