@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';

.reviewsWidget {
    margin-bottom: 30px;
    &__row {
        @include row();
    }
    &__col {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 16px;
        &_left {
            flex: 0 0 130px;
        }
        &_center {
            flex: 1 1 300px;
        }
        &_right {
            flex: 0 0 170px;
        }
    }
    &__rating {
        font-size: 80px;
    }
    &__text {
        color: $color_grey;
        margin-bottom: 10px;
        &_green {
            color: $color_green
        }
    }
    .star-rating {
        margin-bottom: 10px;
    }
}

.reviewsWidget-scale-row {
    @include row(10px);
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px;
    &__rating {
        margin-left: 10px;
        margin-right: 10px;
        flex: 0 0 10px;
    }
    &__bar {
        margin-left: 10px;
        margin-right: 10px;
        flex: 1 1 auto;
        height: 10px;
    }
    &__bg {
        background: #e9e9e9;
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
    }
    &__status {
        height: 100%;
        background: $color_light_green;
        transition: 0.3s;
    }
    &__count {
        margin-left: 10px;
        margin-right: 10px;
        flex: 0 0 80px;
    }
}

.reviews-list {
    &__item {
        padding-bottom: 20px;
        border-bottom: 1px solid $color_black;
        margin-bottom: 16px;
    }
    &__admin {
        padding-left: 30px;
    }
    &__row {
        margin-bottom: 16px;
        &_flex {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 0;
        }
        &_images {
            @include row(5px);
        }
    }
    &__col-img {
        cursor: pointer;
        @include col(2, 5px);
        position: relative;
        @media (max-width: 480px) {
            @include col(4, 5px);
        }
    }
    &__img-relative {
        padding-bottom: 100%;
        width: 100%;
    }
    &__attachImg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__name {
        font-family: Capture it;
        font-size: 20px;
        margin-right: 16px;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    &__date {
        color: $color-green;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    &__caption {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px;
    }
}
