$color_black: #00210b;
$color_yellow: #FEBD3E;
$color_green: #124D25;
$color_green_catalog: #7BA000;
$color_light_green: #9DBB3B;
$color_light_green_button: #EDFFB3;
$color_green2: #E9F5C1;
$color_green3: #A9C392;
$color_orange: #FF6B00;
$color_red: #ff001f;
$color_grey: #809085;
