<template>
    <div class="rootDiv">
        <Header />
        <div class="rootDiv__content">
            <div class="wrapper">
                <Nuxt />
            </div>
        </div>
        <Footer/>
        <notifications group="all" position="top center" width="400px"/>
        <loader :transparent="true" :fixed="true" v-model="showLoader"></loader>
    </div>
</template>

<script>
import Footer from '~/components/sections/Footer'
import { mapFields } from 'vuex-map-fields';
import loader from '~/components/loader'
export default {
    name: 'default',
    components: {
        Header: () => import('~/components/sections/Header'),
        loader,
        Footer,
    },
    created () {
        this.cart = this.$store.state.localStorage.cart || []
    },
    computed: {
        ...mapFields('menu', [
            'showLoader',
            'windowWidth'
        ]),
        ...mapFields('cart', [
            'cart'
        ]),
        loaded() {
            return this.$store.state.localStorage.status
        }
    },
}
</script>

<style lang="scss">
html, body {
    height: 100%;
}
body {
    #__nuxt, #__layout {
        height: 100%;
    }
}
.rootDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__content {
        flex: 1 0 auto;
    }
}

.vue-notification-template {
    position: relative;
    padding-right: 25px !important;
    &::before {
        content: '';
        width: 20px;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 15px;
        right: 5px;
        transform: rotate(-45deg);
    }
    &::after {
        content: '';
        width: 20px;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 15px;
        right: 5px;
        transform: rotate(45deg);
    }
}

.vue-notification-group {
    @media(max-width: 500px) {
        width: 100% !important;
    }
}
</style>
