<template>
    <div class="cart">
        <client-only>
            <h2 class="main__h2 cart__h2">Содержимое корзины</h2>
            <div class="cart__products" v-if="cart.length">
                <div class="cart__row cart__row_caption">
                    <div class="cart__col cart__col_img">
                        Товар
                    </div>
                    <div class="cart__col cart__col_name">
                        Наименование
                    </div>
                    <div class="cart__col cart__col_price">
                        Цена за ед.
                    </div>
                    <div class="cart__col cart__col_count">
                        Кол-во
                    </div>
                    <div class="cart__col cart__col cart__col_total">
                        Итого
                    </div>
                </div>
                <div class="cart__list">
                    <div class="cart__row" v-for="(product, index, key) in cart" :key="key">
                        <div class="cart__col cart__col_img">
                            <div class="cart__mobile-label">Товар</div>
                            <img :src="product.img" :alt="product.name" class="cart__img">
                        </div>
                        <div class="cart__col cart__col_name">
                            <div class="cart__mobile-label">Наименование</div>
                            <div class="cart__group">
                                <n-link :to="{ path: product.productLink }" class="cart__product-link">
                                    {{ product.name }}
                                </n-link>
                                <div class="cart__delete-button" @click="removeItem(index)"></div>
                                <div class="cart__pack">Упаковка: {{ product.packingValue }} шт</div>
                            </div>
                        </div>
                        <div class="cart__col cart__col_price">
                            <div class="cart__mobile-label">Цена за ед.</div>
                            <div class="cart__group">
                                <div v-if="product.oldPrice !== product.price" class="cart__price cart__price_discount"><span>{{ product.price }} ₽</span></div>
                                <div class="cart__price" :class="{ 'cart__price_old': product.oldPrice !== product.price }"><span>{{ product.oldPrice }} ₽</span></div>
                            </div>
                        </div>
                        <div class="cart__col cart__col_count">
                            <div class="cart__mobile-label">Кол-во</div>
                            <div class="cart__count">
                                <input type="number" v-model="product.count" class="cart__count-input">
                                <div class="cart__changeCount cart__changeCount_decriment" :class="{'cart__changeCount_disabled': isDiabledCartProductDecriment(index)}" @click="decrimentCartProduct(index)"></div>
                                <div class="cart__count-value">{{ product.count }}</div>
                                <div class="cart__changeCount cart__changeCount_increment" :class="{'cart__changeCount_disabled': isDiabledCartProductIncrement(index)}" @click="incrementCartProduct(index)"></div>
                            </div>
                        </div>
                        <div class="cart__col cart__col cart__col_total">
                            <div class="cart__mobile-label">Итого</div>
                            <div class="cart__group cart__group_bold">
                                {{ product.price * product.count }} ₽
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart__result">
                    <div class="cart__total-cart-text">Итоговая стоимость</div>
                    <div class="cart__total-cart-value">{{ totalCartValue }} ₽</div>
                </div>
                <div class="cart__buttons-wr">
                    <div @click="clearCart" class="cart__cart-button cart__cart-button_cart">
                        Очистить корзину
                    </div>
                    <n-link :to="{ path: `/checkout` }" class="cart__cart-button">
                        Оформить заказ
                    </n-link>
                </div>
            </div>
            <div class="cart__products" v-else>
                <div class="cart__empty-text">Ваша корзина пуста</div>
            </div>
        </client-only>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import global from '~/mixins/global'
    export default {
    mixins: [global],
        computed: {
            ...mapFields('cart', [
                'cart'
            ]),
            ...mapGetters('cart', [
                'isDiabledCartProductIncrement',
                'isDiabledCartProductDecriment',
                'totalCartValue'
            ])
        },
        methods: {
            ...mapMutations('cart', [
                'incrementCartProduct',
                'decrimentCartProduct',
                'clearCart',
                'removeItem'
            ])
        }
    }
</script>

<style lang="scss">
@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';
@import '~/assets/styles/extend.scss';
.cart {
    &__h2 {
        margin-bottom: 20px;
    }
    &__row {
        display: flex;
        @media (max-width: 768px) {
            flex-direction: column;
            border: 1px solid $color_green;
            border-bottom: none;
            &:last-child {
                border-bottom: 1px solid $color_green;
            }
        }
        &_caption {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    &__img {
        @media (max-width: 768px) {
            width: 50%;
        }
        @media (max-width: 480px) {
            width: 100%;
        }
    }
    &__list {
        @media (max-width: 768px) {
            margin-bottom: 24px;
        }
    }
    &__mobile-label {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 16px;
        @media (min-width: 769px) {
            display: none;
        }
    }
    &__col {
        padding: 10px 5px;
        @media (max-width: 768px) {
            padding: 10px;
            border-bottom: 1px solid $color_light_green;
            &:last-child {
                border-bottom: 0;
            }
        }
        &_img {
            @media (min-width: 769px) {
                flex: 0 1 150px;
            }
        }
        &_name {
            @media (min-width: 769px) {
                flex: 1 1 auto;
            }
        }
        &_price {
            @media (min-width: 769px) {
                flex: 0 0 120px;
            }
        }
        &_count {
            @media (min-width: 769px) {
                flex: 0 0 80px;
            }
        }
        &_total {
            @media (min-width: 769px) {
                flex: 0 0 120px;
            }
        }
    }
    &__group {
       &_bold {
           font-family: "Rotonda Bold";
       }
    }
    &__result {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 30px;
    }
    &__total-cart-text {
        font-size: 26px;
        margin-right: 16px;
    }
    &__total-cart-value {
        font-family: "Rotonda Bold";
        font-size: 26px;
        margin-right: 16px;
    }
    &__product-link {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 6px;
        font-family: "Capture it";
        color: $color_black;
        text-decoration: none;
    }
    &__buttons-wr {
        display: flex;
        justify-content: space-between;
    }
    &__empty-text {
        text-align: center;
        padding: 30px 10px;
        background: #f6f6f6;
        font-size: 18px;
    }
    &__delete-button {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #a2a2a2;
        cursor: pointer;
        position: relative;
        display: inline-block;
        &:before {
            content: '';
            width: 12px;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            background: #fff;
        }
        &:after {
            content: '';
            width: 12px;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 50%;
            background: #fff;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &__cart-button {
        @extend .productButton;
        &_cart {
            @extend .productButton_empty
        }

    }
    &__price {
        font-family:'Rotonda Bold';
        font-weight: bold;
        font-size: 16px;
        line-height: 1.2;
        color: $color_black;
        margin-bottom: 14px;
        &_discount {
            color: $color_orange;
            margin-bottom: 10px;
        }
        &_old {
            font-size: 16px;
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    border-bottom: 2px solid #FF6B00;
                    width: 100%;
                    height: 50%;
                    transform: rotate(8deg);
                    z-index: 1;
                }
            }

        }
    }
    &__count-input {
        display: none;
    }
    &__count {
        display: flex;
        align-items: center;
    }
    &__count-value {
        margin: 0 8px;
        font-family: RotondaC;
        font-size: 14px;
        color:$color_black;
    }
    &__changeCount {
        width: 10px;
        height: 10px;
        position: relative;
        cursor: pointer;
        &_decriment {
            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                background: $color_black;
            }
        }

        &_increment {
            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                background: $color_black;
            }
            &:after {
                content: '';
                display: block;
                width: 10px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%) rotate(90deg);
                background: $color_black;
            }
        }
        &_disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}
</style>
