<template>
    <div class="checkout">
        <client-only>
            <h2 class="main__h2 checkout__h2">Оформление заказа</h2>
            <div class="checkout__row">
                <div class="checkout__col checkout__col_left">
                    <div class="checkout__box">
                        <div class="checkout__input-wr">
                            <div class="checkout__label">1. Выберите страну</div>
                            <div class="select-wr">
                                <select name="shipping" id="country" v-model="checkoutModel.country">
                                    <option value="" selected disabled>...</option>
                                    <option v-for="(country, index) in availableCountries" :value="country" :key="index">{{ country }}</option>
                                </select>
                                <img src="~/assets/img/selectArrow.svg" alt="">
                            </div>
                            <div class="input-component__inputHint input-component__inputHint_error" v-if="!$v.checkoutModel.country.required && $v.checkoutModel.country.$anyDirty">Обязательное поле</div>
                        </div>
                        <div class="checkout__input-wr checkout__dropdown">
                            <div class="checkout__label">2. Выберите населенный пункт</div>
                            <inputText field-name="city" v-model="checkoutModel.city" placeholder="Введите название вашего населенного пункта" :validator="$v.checkoutModel.city" @keyup.native="searchLocation"></inputText>
                            <div v-if="select_location_dropdown" class="checkout__dropdown-list">
                                <div v-if="foundLocations.length != 0" v-for="(location, index) in foundLocations" :key="index" class="checkout__dropdown-list-item checkout__location" @click="selectLocation(location)">
                                    <div class="checkout__location-city">{{ location.city }}</div>
                                    <div v-if="location.area" class="checkout__location-area">{{ location.area }}</div>
                                    <div v-if="location.region != location.city" class="checkout__location-region">{{ location.region }}</div>
                                </div>
                                <div v-else class="checkout__dropdown-list-item">Ничего не найдено</div>
                            </div>
                        </div>
                        <div class="checkout__input-wr">
                            <div class="checkout__label">3. Выберите способ доставки</div>
                            <div class="select-wr">
                                <select name="shipping" id="shipping" v-model="checkoutModel.shipping_type_id">
                                    <option value="" selected disabled>...</option>
                                    <option v-for="(shippingType, index) in locationShippingTypes" :value="shippingType.id" :key="index">{{ shippingType.name }}</option>
                                </select>
                                <img src="~/assets/img/selectArrow.svg" alt="">
                            </div>
                            <div class="input-component__inputHint input-component__inputHint_error" v-if="!$v.checkoutModel.shipping_type_id.required && $v.checkoutModel.shipping_type_id.$anyDirty">Обязательное поле</div>
                        </div>
                        <div class="checkout__input-wr" v-if="shippingTypePoints.length != 0">
                            <div class="checkout__label">3.1. Выберите пункт выдачи</div>
                            <div class="select-wr">
                                <select name="shipping" id="shipping2" v-model="checkoutModel.point_code">
                                    <option value="" selected disabled>...</option>
                                    <option v-for="(point, index) in shippingTypePoints" :value="point.code" :key="index">{{ point.address || point.name }} ({{ point.code }})</option>
                                </select>
                                <img src="~/assets/img/selectArrow.svg" alt="">
                            </div>
                            <div class="input-component__inputHint input-component__inputHint_error" v-if="!$v.checkoutModel.shipping_type_id.required && $v.checkoutModel.shipping_type_id.$anyDirty">Обязательное поле</div>
                        </div>
                        <div class="checkout__input-wr">
                            <div class="checkout__label">4. Выберите способ оплаты</div>
                            <div class="radio-wr" v-for="(paymentType) in paymentTypesMod" :key="paymentType.id">
                                <div class="radio-wr__radio">
                                    <input type="radio" name="paymentType" :id="`paymentType-${paymentType.id}`" v-model="checkoutModel.payment_type_id" :value="paymentType.id">
                                    <label :for="`paymentType-${paymentType.id}`" class="radio-wr__label">
                                    <span class="radio-wr__label-text">
                                        {{ paymentType.name }} <img :src="`${$domainRoot}${paymentType.logo}`" alt="">
                                    </span>
                                    </label>
                                </div>
                            </div>
                            <div class="input-component__inputHint input-component__inputHint_error" v-if="!$v.checkoutModel.payment_type_id.required && $v.checkoutModel.payment_type_id.$anyDirty">Обязательное поле</div>
                        </div>
                        <div class="checkout-userData">
                            <div class="checkout__label">5. Введите данные покупателя </div>
                            <div class="checkout__input-wr" v-if="checkoutModel.shipping_type_id && (selectedPointAddress === null || shippingTypePoints.length == 0)">
                                <inputText field-name="postalСode" v-model="checkoutModel.postal_code" mask="999999" placeholder="000000" label-text="Почтовый индекс" :validator="$v.checkoutModel.postal_code"></inputText>
                            </div>
                            <div class="checkout__input-wr" v-if="checkoutModel.shipping_type_id && (selectedPointAddress === null || shippingTypePoints.length == 0)">
                                <inputText field-name="street" v-model="checkoutModel.street" placeholder="Введите улицу" label-text="Улица" :validator="$v.checkoutModel.street"></inputText>
                            </div>
                            <div class="checkout-userData__row" v-if="checkoutModel.shipping_type_id && (selectedPointAddress === null || shippingTypePoints.length == 0)">
                                <div class="checkout-userData__col checkout-userData__col_adress">
                                    <label class="input-component__label"><span class="input-component__label-text input-component__label-text_required">Дом</span></label>
                                    <div class="checkout-userData__sub-row">
                                        <div class="checkout-userData__sub-col">
                                            <inputText
                                                v-model="checkoutModel.house"
                                                placeholder="Номер"
                                                field-name="userHouse"
                                                :validator="$v.checkoutModel.house"
                                            />
                                        </div>
                                        <div class="checkout-userData__sub-col">
                                            <inputText
                                                v-model="checkoutModel.block"
                                                placeholder="Корпус"
                                                field-name="userBlock"
                                                :validator="$v.checkoutModel.block"
                                            />
                                        </div>
                                        <div class="checkout-userData__sub-col">
                                            <inputText
                                                v-model="checkoutModel.building"
                                                placeholder="Строение"
                                                field-name="userBuilding"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout-userData__col checkout-userData__col_adress">
                                    <label class="input-component__label"><span class="input-component__label-text input-component__label-text_required">Квартира</span></label>
                                    <div class="checkout-userData__sub-row">
                                        <div class="checkout-userData__sub-col">
                                            <inputText
                                                v-model="checkoutModel.apartment"
                                                placeholder="Номер"
                                                field-name="userapartment"
                                                :disabled="checkoutModel.private_house"
                                                :validator="$v.checkoutModel.apartment"
                                            />
                                        </div>
                                        <div class="checkout-userData__sub-col checkout-userData__sub-col_center">
                                            <checkboxFilter v-model="checkoutModel.private_house" label-text="Частный дом" field-name="userPrivate_house" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input-wr">
                                <inputText field-name="name" v-model="checkoutModel.name" label-text="Имя" :validator="$v.checkoutModel.name"></inputText>
                            </div>
                            <div class="checkout__input-wr">
                                <inputText field-name="last_name" v-model="checkoutModel.last_name" label-text="Фамилия" :validator="$v.checkoutModel.last_name"></inputText>
                            </div>
                            <div class="checkout__input-wr">
                                <inputText field-name="patronymic_name" v-model="checkoutModel.patronymic_name" label-text="Отчество" :validator="$v.checkoutModel.patronymic_name"></inputText>
                            </div>
                            <div class="checkout__input-wr">
                                <inputText field-name="phone" v-model="checkoutModel.phone" mask="+9(999) 999-99-99" label-text="Телефон" :validator="$v.checkoutModel.phone"></inputText>
                            </div>
                            <div class="checkout__input-wr">
                                <inputText field-name="email" v-model="checkoutModel.email" label-text="E-mail" :validator="$v.checkoutModel.email"></inputText>
                            </div>
                            <div class="checkout__input-wr">
                            <textArea
                                label-text="Комментарий к заказу"
                                v-model="checkoutModel.comment"
                                fieldName="message"
                            ></textArea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="checkout__col checkout__col_right checkout-right-col">
                    <div class="checkout__box">
                        <div class="checkout-right-col__caption" v-if="cart.length">Ваш заказ</div>
                        <div class="checkout-right-col__caption" v-else>Список заказов пуст</div>
                        <div class="checkout-right-col__wrapper" v-if="cart.length">
                            <div class="checkout-right-col__row">
                                <div class="checkout-right-col__col">
                                    Товаров в корзине: {{ total }}
                                </div>
                                <div class="checkout-right-col__col">
                                    <div class="checkout-right-col__list">
                                        <div class="checkout-right-col__list-item" v-for="(product, index) in cart" :key="index">
                                            <n-link :to="{ path: product.productLink }" class="checkout-right-col__product-link">
                                                {{ product.name }}
                                            </n-link>
                                            <div v-if="isSeedsCart" class="checkout-right-col__pack">Упаковка: {{ product.packingValue }} шт</div>
                                            <div class="checkout-right-col__pack">{{ product.count }} x {{ product.price }} руб.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-right-col__row">
                                <div class="checkout-right-col__col">
                                    Стоимость товаров
                                </div>
                                <div class="checkout-right-col__col">
                                    {{ totalCartValue }} руб.
                                </div>
                            </div>
                            <div class="checkout-right-col__row" v-if="checkoutModel.shipping_taxi || checkoutModel.shipping_taxi === 0">
                                <div class="checkout-right-col__col">
                                    Доставка
                                </div>
                                <div class="checkout-right-col__col" v-if="!isFreeShiping && checkoutModel.shipping_taxi">
                                    {{ checkoutModel.shipping_taxi }} руб.
                                </div>
                                <div class="checkout-right-col__col" v-if="!isFreeShiping && !checkoutModel.shipping_taxi">
                                    Стоимость доставки будет рассчитана после оформления заказа
                                </div>
                                <div class="checkout-right-col__col" v-if="isFreeShiping">
                                    Бесплатно
                                </div>
                            </div>
                            <div class="checkout-right-col__row">
                                <div class="checkout-right-col__col checkout-right-col__col_bold">
                                    Всего к оплате
                                </div>
                                <div class="checkout-right-col__col checkout-right-col__col_bold">
                                    {{ totalCartValue + checkoutModel.shipping_taxi }} руб.
                                </div>
                            </div>
                            <div class="checkout-right-col__wr">
                                <mjButton theme="green" c-class="checkout-right-col__button" @click.prevent="checkout">
                                    Оформить заказ
                                </mjButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </client-only>
    </div>
</template>

<script>
import inputText from '~/components/inputText'
import textArea from '~/components/textArea'
import mjButton from '~/components/mjButton'
import global from '~/mixins/global'
import { mapFields } from 'vuex-map-fields'
import { validationMixin } from 'vuelidate'
import { required, requiredIf } from 'vuelidate/lib/validators'
import { mapGetters, mapActions, mapMutations } from 'vuex'
import checkboxFilter from '~/components/checkboxFilter'
    export default {
        mixins: [global, validationMixin],
        components: {
            inputText,
            textArea,
            mjButton,
            checkboxFilter
        },
        async asyncData ({ store }) {
            await store.dispatch('checkout/getСumulativeDiscount')
        },
        mounted () {
            if(this.$auth.loggedIn) {
                this.checkoutModel = { ...this.checkoutModel, ...this.$auth.user }
            }
            this.pushCart()
        },
        validations () {
            return {
                checkoutModel: {
                    email: {
                        required
                    },
                    name: {
                        required
                    },
                    last_name: {
                        required
                    },
                    patronymic_name: {
                        required
                    },
                    street: {
                        required: requiredIf(() => {
                            return this.selectedPointAddress === null
                        })
                    },
                    house: {
                        required: requiredIf(() => {
                            return this.selectedPointAddress === null
                        })
                    },
                    apartment: {
                        required: requiredIf(() => {
                            return !this.checkoutModel.private_house && this.selectedPointAddress === null
                        })
                    },
                    city: {
                        required
                    },
                    country: {
                        required
                    },
                    postal_code: {
                        required: requiredIf(() => {
                            return this.selectedPointAddress === null
                        })
                    },
                    subtotal: {
                        required
                    },
                    shipping_taxi: {
                        required
                    },
                    shipping_type_id: {
                        required
                    },
                    payment_type_id: {
                        required
                    },
                    order_items: {
                        required
                    }
                }
            }
        },
        data: () => ({
            checkoutModel: {
                email: null,
                name: null,
                last_name: null,
                patronymic_name: null,
                street: null,
                address: null,
                house: null,
                block: null,
                building: null,
                apartment: null,
                city: null,
                country: null,
                postal_code: null,
                phone: null,
                discount: 0,
                subtotal: null,
                shipping_taxi: null,
                private_house: false,
                shipping_type_id: '',
                point_code: null,
                comment: null,
                payment_type_id: null,
                is_dropshipping: 0,
                order_items: null
            },
            foundLocations: [],
            select_location_dropdown: false,
            selectedLocation: null,
            foundPoints: [],
            locationShippingTypes: [],
            shippingTypePoints: [],
            selectedPointAddress: null,
        }),
        computed: {
            ...mapFields('checkout', [
                'paymentTypes',
                'shippingTypes'
            ]),
            ...mapFields('menu', [
                'showLoader'
            ]),
            ...mapFields('cart', [
                'cart'
            ]),
            ...mapGetters('cart', [
                'totalCartValue',
                'total',
                'isSeedsCart',
                'isDropCart'
            ]),
            ...mapFields('profile', [
                'availableCountries'
            ]),
            fullAddress() {
                const arr = []
                arr.push(`${this.checkoutModel.street} ${this.checkoutModel.house}`)
                if(this.checkoutModel.block) {
                    arr.push(`Корпус: ${this.checkoutModel.block}`)
                }
                if(this.checkoutModel.building) {
                    arr.push(`Строение: ${this.checkoutModel.building}`)
                }
                if(this.checkoutModel.private_house) {
                    arr.push(`Частный дом`)
                }
                if(this.checkoutModel.apartment && !this.checkoutModel.private_house) {
                    arr.push(`Квартира: ${this.checkoutModel.apartment}`)
                }

                return arr.join(', ')
            },
            fullName () {
                return `${this.checkoutModel.last_name} ${this.checkoutModel.name} ${this.checkoutModel.patronymic_name}`
            },
            isFreeShiping () {
                const freeTypes = [15, 10]
                const freeSum = 5000
                const totalCartValue = parseInt(this.totalCartValue)
                return freeTypes.includes(this.checkoutModel.shipping_type_id) && totalCartValue >= freeSum && this.isSeedsCart
            },
            shippingTypesMod () {
                let result = null
                if(this.isSeedsCart) {
                    result = this.shippingTypes.filter(shippingType => {
                        return shippingType.use_to === 'seeds_only' || shippingType.use_to === 'seeds_and_dropshipping'
                    })
                }
                if(this.isDropCart) {
                    result = this.shippingTypes.filter(shippingType => {
                        return shippingType.use_to === 'dropshipping_only' || shippingType.use_to === 'seeds_and_dropshipping'
                    })
                }
                return result
            },
            paymentTypesMod () {
                let result = this.paymentTypes
                const CODPayments = [14, 16]
                if(!CODPayments.includes(this.checkoutModel.shipping_type_id)) {
                    result = this.paymentTypes.filter(paymentType => {
                        return paymentType.id !== 7
                    })
                }
                return result
            }
        },
        methods: {
            ...mapActions('checkout',[
                'vuexCheckout',
                'getLocations',
                'getPoints',
                'getLocationShippingTypes',
                'calculateDelivery',
                'calcDeliveryDrop',
            ]),
            ...mapMutations('cart',[
                'syncWithStore'
            ]),
            closeModal() {
                this.showModal = false
            },
            async checkout () {
                const name = this.checkoutModel.name
                this.checkoutModel.subtotal = this.totalCartValue
                this.checkoutModel.address = this.selectedPointAddress ? this.selectedPointAddress : this.fullAddress
                this.checkoutModel.name = this.fullName
                if (this.isSeedsCart) {
                    this.checkoutModel.is_dropshipping = 0
                }
                if (this.isDropCart) {
                    this.checkoutModel.is_dropshipping = 1
                }
                this.$v.$touch()
                console.log(this.checkoutModel)
                console.log(this.$v)
                if(this.$v.$invalid) {
                    this.$notify({ group: 'all', text: `Проверьте правильность заполнения всех полей`, type: 'error' })
                } else {
                    this.showLoader = true
                    const data = await this.vuexCheckout(this.checkoutModel)
                    if(data.success) {
                        await this.$router.push({ path: '/confirm' })
                        this.cart = []
                    }
                    if(data.warning) {
                        const availableInfo = data.items
                        this.syncWithStore(availableInfo)
                        this.$notify({ group: 'all', text: `Превышено максимально допустимое количество некторых товаров к корзине. Максимальное количество установлено в соотвествии с остатками на складе.`, type: 'warn', duration: 10000 })
                    }
                    this.showLoader = false
                }
                this.checkoutModel.name = name
            },
            pushCart () {
                if(this.cart.length) {
                    const orderItems = this.cart.map(item => {
                        if (this.isSeedsCart) {
                            return {
                                product_id: item.product_id,
                                product_type_packing_id: item.packingId,
                                quantity: item.count,
                                price: item.oldPrice,
                                discount: item.oldPrice - item.price,
                            }
                        } else {
                            return {
                                product_id: item.product_id,
                                quantity: item.count,
                                price: item.oldPrice,
                                discount: item.oldPrice - item.price,
                            }
                        }

                    })
                    this.checkoutModel.order_items = orderItems
                }
            },
            async searchLocation() {
                this.foundPoints = []
                this.locationShippingTypes = []
                this.shippingTypePoints = []
                this.selectedPointAddress = null
                this.checkoutModel.shipping_type_id = ''
                const found_locations = await this.getLocations({
                    q: this.checkoutModel.city,
                    country: this.checkoutModel.country,
                })
                if (found_locations) {
                    this.foundLocations = found_locations

                }
                this.select_location_dropdown = true
            },
            async selectLocation(location) {
                // console.log(location)
                this.selectedLocation = location
                this.checkoutModel.city = location.city
                this.select_location_dropdown = false
                    this.showLoader = true
                const found_points = await this.getPoints(location)
                let location_companies = []
                for (let company in found_points) {
                    if (found_points[company].location) {
                        location_companies.push({
                            delivery_type: 'courier',
                            alias: company,
                            country_code: location.country_code,
                        })
                    }
                    if (found_points[company].points.length != 0) {
                        // location_companies.push(company)
                        location_companies.push({
                            delivery_type: 'point',
                            alias: company,
                            country_code: location.country_code,
                        })
                    }
                }
                this.foundPoints = found_points
                const location_shipping_types = await this.getLocationShippingTypes(location_companies)
                if(this.isSeedsCart) {
                    this.locationShippingTypes = location_shipping_types.filter(shippingType => {
                        return shippingType.use_to === 'seeds_only' || shippingType.use_to === 'seeds_and_dropshipping'
                    })
                }
                if(this.isDropCart) {
                    this.locationShippingTypes = location_shipping_types.filter(shippingType => {
                        return shippingType.use_to === 'dropshipping_only' || shippingType.use_to === 'seeds_and_dropshipping'
                    })
                }
                    this.showLoader = false
            },
            async getCalculation(shipping_type) {
                this.showLoader = true
                let calculation = {price: 0, days: null}
                if (this.isSeedsCart) {
                    calculation = await this.calculateDelivery({
                        shipping_type: shipping_type,
                        location: this.selectedLocation,
                        total_sum: this.totalCartValue,
                    })
                }
                if (this.isDropCart) {                    
                    calculation = await this.calcDeliveryDrop({
                        shipping_type: shipping_type,
                        location: this.selectedLocation,
                        total_sum: this.totalCartValue,
                        order_items: this.checkoutModel.order_items,
                    })
                }
                console.log(calculation)
                if (calculation) {
                    this.checkoutModel.shipping_taxi = calculation.price
                }
                this.showLoader = false
            }
        },
        watch: {
            'checkoutModel.shipping_type_id' (newValue, oldValue) {
                const findShippingType = this.shippingTypesMod.find(item => {
                    return item.id === newValue
                })
                if(findShippingType) {
                    if(this.isFreeShiping) {
                        this.checkoutModel.shipping_taxi = 0
                    } else {
                        // this.checkoutModel.shipping_taxi = findShippingType.shipping_taxi
                        this.getCalculation(findShippingType);
                    }
                    this.checkoutModel.point_code = null
                    if (findShippingType.delivery_type == 'point') {
                        this.shippingTypePoints = this.foundPoints[findShippingType.alias].points
                    }
                    if (findShippingType.delivery_type == 'courier') {
                        this.shippingTypePoints = []
                    }
                    this.selectedPointAddress = null
                }
                this.checkoutModel.payment_type_id = null
            },
            'checkoutModel.point_code' (newValue, oldValue) {
                const findShippingPoint = this.shippingTypePoints.find(item => {
                    return item.code === newValue
                })
                if (findShippingPoint) {
                    this.selectedPointAddress = `Отделение ${findShippingPoint.code}, ${findShippingPoint.address || findShippingPoint.name}`
                    // console.log(this.selectedPointAddress)
                }
            },
            'checkoutModel.country' (newValue, oldValue) {
                this.checkoutModel.city = null
                this.checkoutModel.shipping_type_id = ''
                this.checkoutModel.shipping_taxi = null
                this.foundLocations = []
                this.select_location_dropdown = false
                this.selectedLocation = null
                this.foundPoints = []
                this.locationShippingTypes = []
                this.shippingTypePoints = []
                this.selectedPointAddress = null
            },
            cart: {
                handler() {
                    this.pushCart()
                },
                deep: true
            }

        }
    }
</script>

<style lang="scss" scoped>
@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';
@import '~/assets/styles/extend.scss';
.select-wr {
    * {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    width: 100%;
    position: relative;

    select {
        padding: 14px 32px 14px 24px;
        background: #ffffff;
        outline: 0;
        border: 0;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: $color_black;
        font-weight: normal;
        font-size: 18px;
        box-shadow: 0px 2px 32px rgba(0, 0, 0, .1);
        cursor: pointer;

        &:focus {
            outline: 0;
        }
        &:active {
            + img {
                transform: translate(0, -50%) rotate(180deg);
            }
        }
        &:disabled {
            background-color: #e7e7e7;
            box-shadow: none;
        }
    }

    img {
        max-width: 16px;
        position: absolute;
        right: 10px;
        top: 55%;
        transform: translate(0, -50%) rotate(0deg);
        pointer-events: none;
        z-index: 2;
        width: 16px !important;
        transition: transform 0.3s;
    }
}
.radio-wr {
    position: relative;
    color: #000;

    &__radio {
        position: relative;
        font-size: 18px;
        margin: 10px 0;
        padding: 10px 0;
    }
    input[type="radio"] {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        &:checked {
            + .radio-wr__label {
                &:after {
                    content: '';
                    background: $color_light_green;
                }
            }
        }
    }
    &__label {
        cursor: pointer;
        position: relative;
        display: flex;
        margin-bottom: 0;
        &:before {
            content: '';
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 2px solid $color_light_green;
            background: #fff;
            display: block;
            flex: 0 0 auto;
            margin-right: 20px;
        }
        &:after {
            content: '';
            width: 10px;
            height: 10px;
            background: transparent;
            position: absolute;
            border-radius: 50%;
            left: 6px;
            top: 6px;
            display: block;
            transition: background 0.3s;
        }
    }
    &__label-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        img {
            max-height: 30px;
            margin-left: 10px;
        }
    }
    &__label-text {
        display: flex;
        align-items: center;
    }
}
.checkout__dropdown {
    position: relative;
    &-list {
        position: absolute;
        width: 100%;
        background: #ffffff;
        z-index: 5;
        border: 1px solid #9DBB3B;
        border-radius: 5px;
        padding: 0 24px;
        margin-top: -20px;
        &-item {
            cursor: pointer;
            padding: 12px 0;
            &:not(:last-child) {
                border-bottom: 1px solid #9DBB3B;
            }
        }
    }
}
.checkout__location {
    &-city {
        font-size: 16px;
    }
    &-area {
        font-size: 12px;
        font-style: italic;
    }
    &-region {
        font-size: 14px;
    }
}
</style>

<style lang="scss">
@import '~/assets/styles/checkout.scss';
</style>
