<template>
    <div class="confirm">
        <div class="confirm__wr" v-if="Object.keys(checkoutResponse).length">
            <div class="confirm__group">
                <h2 class="main__h2 confirm__h2">Благодарим вас за заказ</h2>
                <div class="confirm__orderNumber">Ваш заказ <span class="confirm__strong">{{ checkoutResponse.order_nr }}</span></div>
                <div class="confirm__text">Способ оплаты: <span class="confirm__strong">{{ checkoutResponse.payment_type }}</span></div>
                <div class="confirm__text">Способ доставки: <span class="confirm__strong">{{ checkoutResponse.shipping_type }}</span></div>
                <div class="confirm__text" v-if="checkoutResponse.payment_type_id === 4 || checkoutResponse.payment_type_id === 1">Инструкция к оплате:</div>
                <div class="confirm__text" v-if="checkoutResponse.payment_type_id === 4">Осуществите перевод на карту {{ getPaymentAccount(checkoutResponse.payment_type_id) }} из своего личного кабинета <br>
                    или можете воспользоваться переводом через сайт <a target="_blank" href="https://www.tinkoff.ru/cardtocard/">https://www.tinkoff.ru/cardtocard/</a>
                </div>
                <div class="confirm__text" v-if="checkoutResponse.payment_type_id === 1">Осуществите перевод на аккаунт {{ getPaymentAccount(checkoutResponse.payment_type_id) }}</div>
                <div class="confirm__text">После оплаты сообщите об этом на почту admin@mjcabinet.online</div>
            </div>

            <div class="confirm__group">
                <h2 class="main__h2 confirm__h2">Информация по заказу</h2>
                <div class="confirm__text">Покупатель: {{ checkoutResponse.billing_name }}</div>
                <div class="confirm__text">Адрес: {{ checkoutResponse.billing_country }}, {{ checkoutResponse.billing_postal_code }}, {{ checkoutResponse.billing_city }}, {{ checkoutResponse.billing_address }}</div>
                <table class="confirm__table">
                    <tbody>
                    <tr>
                        <td>Сумма покупок</td>
                        <td> {{ checkoutResponse.billing_subtotal }} руб. </td>
                    </tr>
                    <tr>
                        <td>Доставка</td>
                        <td> {{ checkoutResponse.shipping_taxi }} руб.</td>
                    </tr>
                    <tr>
                        <td>Общая сумма к оплате</td>
                        <td><span class="confirm__strong">{{ checkoutResponse.billing_subtotal + checkoutResponse.shipping_taxi }} руб.</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapFields } from 'vuex-map-fields'
    import { mapGetters } from 'vuex'
    import global from '~/mixins/global'
    export default {
        middleware: ['orderDone'],
        mixins: [global],
        computed: {
            ...mapFields('checkout', [
                'checkoutResponse'
            ]),
            ...mapGetters('checkout', [
                'getPaymentAccount'
            ])
        }
    }
</script>

<style lang="scss">
.confirm {
    &__strong {
        font-weight: 700;
    }
    &__h2 {
        margin-bottom: 20px;
    }
    &__group {
        margin-bottom: 30px;
    }
    &__orderNumber {
        font-size: 28px;
        margin-bottom: 16px;
    }
    &__text {
        margin-bottom: 16px;
        line-height: 1.2;
        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.718);
        }
    }
    &__table {
        td{
            padding: 10px;
        }
    }
}
</style>
