<template>
    <main class="main">
        <section class="main__banner main-banner">
            <n-link to="/promotions/skidka-10-na-ves-assortiment-brelok-devajs-v-kazhdyj-zakaz" class="main-banner__banner-link">
                <img src="~assets/img/mainBanner.jpg" alt="">
            </n-link>
<!--            <div class="main-banner__row">-->
<!--                <div class="main-banner__title">Original Auto ТЕСТ Amnesia</div>-->
<!--                <div class="main-banner__description">Высоко урожайный, Haze доминантный гибрид, готовый Тест</div>-->
<!--                <div class="main-banner__buttons">-->
<!--                    <mjButton theme="yellow" cClass="main-banner__button">Купить</mjButton>-->
<!--                    <n-link to="/" class="mjLink main-banner__link">Подбробнее</n-link>-->
<!--                </div>-->
<!--            </div>-->
        </section>
        <section class="main__promo promo" v-if="promotionMain && endMainPromotionDate && isMainPromoActive">
            <div class="promo__row">
                <div class="promo__col promo__col_left">
                    <div class="promo__label">Промо</div>
                    <div class="promo__title">{{ promotionMain.title }}</div>
                    <div class="promo__text">ДО ЗАВЕРШЕНИЯ АКЦИИ ОСТАЛОСЬ</div>
                    <timer v-if="endMainPromotionDate" :deadline="endMainPromotionDate" customClass="promo__timer"></timer>
                    <div class="promo__links">
                        <n-link :to="`/promotions/${promotionMain.slug}`" class="mjLink promo__link">Подробнее об этой промо акции</n-link>
                        <n-link to="/promotions" class="mjLink promo__link">Посмотреть весь список акций</n-link>
                    </div>
                </div>
                <div class="promo__col promo__col_right">
                    <hooper :settings="hooperSettingsPromo" class="product-slider promo__slider" ref="promoSlider">
                        <slide v-for="(product, index) in promotionMain.products.data" :key="index" :index="index">
                            <productSlideItem customClass="product-slider__slide" :product="product"></productSlideItem>
                        </slide>
                        <hooper-navigation slot="hooper-addons"></hooper-navigation>
                    </hooper>
                </div>
            </div>
        </section>
        <section class="main__hit hit">
            <h2 class="main__h2 hit__h2">Пользуются спросом</h2>
            <hooper :settings="hooperSettingsHit" class="product-slider hit__slider" ref="hitSlider">
                <slide v-for="(product, index) in hitOnMain" :key="index" :index="index">
                    <productSlideItem customClass="product-slider__slide" :product="product" :label="`Хит`"></productSlideItem>
                </slide>
                <hooper-navigation slot="hooper-addons"></hooper-navigation>
            </hooper>
        </section>
        <section class="main__hit hit">
            <h2 class="main__h2 hit__h2">Новинки</h2>
            <hooper :settings="hooperSettingsHit" class="product-slider hit__slider" ref="hitSlider">
                <slide v-for="(product, index) in newOnMain" :key="index" :index="index">
                    <productSlideItem customClass="product-slider__slide" :product="product" :label="`Новинка`"></productSlideItem>
                </slide>
                <hooper-navigation slot="hooper-addons"></hooper-navigation>
            </hooper>
        </section>
        <section class="main__news news" v-if="newsOnMain.data.length">
            <div class="news__caption-row">
                <h2 class="main__h2 news__h2">Новости магазина</h2>
                <n-link to="/news/" class="mjLink news__link">Посмотреть все новости</n-link>
            </div>
            <div class="news__row">
                <div class="news__col" v-for="(news, index) in newsOnMain.data" :key="index">
                    <n-link :to="`/news/${innerSlug(news.details)}`" class="news__img-link">
                        <div class="news__relative"></div>
                        <img :src="`${$baseUrlImg}${news.image}`" :alt="news.title" class="news__relative-content">
                    </n-link>
                    <n-link :to="`/news/${innerSlug(news.details)}`" class="news__text-link">{{ news.title }}</n-link>
                </div>
            </div>
        </section>
        <section class="main__articles articles" v-if="articlesOnMain.data.length">
            <div class="articles__caption-row">
                <h2 class="main__h2 articles__h2">Статьи и обзоры</h2>
                <n-link to="/articles/" class="mjLink articles__link">Посмотреть все статьи</n-link>
            </div>
            <div class="articles__row">
                <div class="articles__col" v-for="(article, index) in articlesOnMain.data" :key="index">
                    <n-link :to="`/articles/${innerSlug(article.details)}`" class="articles__img-link">
                        <div class="articles__relative"></div>
                        <img :src="`${$baseUrlImg}${article.image}`" :alt="article.title" class="articles__relative-content">
                    </n-link>
                    <n-link :to="`/articles/${innerSlug(article.details)}`" class="articles__text-link">{{ article.title }}</n-link>
                </div>
            </div>
        </section>
        <section class="main__constant-promo constant-promo">
            <div class="news__caption-row">
                <h2 class="main__h2 news__h2">Постоянные акции</h2>
                <n-link to="/promotions/" class="mjLink news__link">Посмотреть все акции</n-link>
            </div>
            <hooper :settings="hooperSettingsOtherPromo" class="promo-slider hit__slider" ref="constant-promo-slider">
                <slide v-for="(promo, index) in otherPromotions" :key="index" :index="index">
                    <div class="promo-slider__slider-content">
                        <n-link :to="`/promotions/${promo.slug}`" class="promo-slider__img-wr">
                            <div class="promo-slider__relative"></div>
                            <img :src="`${$baseUrlImg}${promo.image}`" alt="" class="promo-slider__img">
                        </n-link>
                        <div class="promo-slider__info-row">
                            <div class="promo-slider__remaining-info">{{ getRemainingText(promo.end_date) }}</div>
                            <div class="promo-slider__remaining-dates">{{ getRemaningDates(promo.start_date, promo.end_date) }}</div>
                        </div>
                    </div>
                </slide>
                <hooper-navigation slot="hooper-addons"></hooper-navigation>
            </hooper>
        </section>
<!--        <mailing></mailing>-->
        <section class="main__reviews mainReviews">
            <div class="mainReviews__caption-row">
                <h2 class="main__h2 mainReviews__h2">Отзывы о магазине</h2>
                <n-link to="/reviews/" class="mjLink mainReviews__link">Посмотреть все отзывы</n-link>
            </div>
            <hooper :settings="hooperSettingsReviews" class="product-slider hit__slider" ref="hitSlider">
                <slide v-for="(review, index) in reviewsOnMain.data" :key="index" :index="index">
                    <reviewsItem :review-item="review"></reviewsItem>
                </slide>
                <hooper-navigation slot="hooper-addons"></hooper-navigation>
            </hooper>
        </section>
    </main>
</template>

<script>
import { declOfNum } from '~/helpers/helpers'
import global from '@/mixins/global'
import mjButton from '@/components/mjButton';
import timer from '@/components/timer'
import productSlideItem from '@/components/productSlideItem'
import reviewsItem from '@/components/reviewsItem'
import { Hooper, Slide, Navigation as HooperNavigation } from 'hooper';
import 'hooper/dist/hooper.css';
import { mapFields } from 'vuex-map-fields';
import moment from 'moment'
import mailing from "@/components/mailing";
moment.locale('ru');
export default {
    mixins: [global],
    components: {
        mjButton,
        Hooper,
        Slide,
        HooperNavigation,
        timer,
        productSlideItem,
        reviewsItem,
        mailing
    },
    async asyncData({ store }) {
        await Promise.all([
            store.dispatch('articlesAndNews/getNewsOnMain'),
            store.dispatch('articlesAndNews/getArticlesOnMain'),
            store.dispatch('catalog/getHitOnMain'),
            store.dispatch('catalog/getNewOnMain'),
            store.dispatch('reviews/getReviews', { page: 1 })
        ])
    },
    data () {
        return {
            hooperSettingsPromo: {
                itemsToShow: 1,
                itemsToSlide: 1,
                wheelControl: false,
                breakpoints: {
                    480: {
                        itemsToShow: 2
                    },
                    1000: {
                        itemsToShow: 3
                    }
                }
            },
            hooperSettingsHit: {
                itemsToShow: 1,
                itemsToSlide: 1,
                wheelControl: false,
                breakpoints: {
                    480: {
                        itemsToShow: 2,
                    },
                    768: {
                        itemsToShow: 3
                    },
                    900: {
                        itemsToShow: 4
                    }
                }
            },
            hooperSettingsOtherPromo: {
                itemsToShow: 1,
                itemsToSlide: 1,
                wheelControl: false,
                trimWhiteSpace: true,
                breakpoints: {
                    480: {
                        itemsToShow: 2,
                    },
                    768: {
                        itemsToShow: 3
                    },
                    900: {
                        itemsToShow: 4
                    }
                }
            },
            hooperSettingsReviews: {
                itemsToShow: 1,
                itemsToSlide: 1,
                wheelControl: false,
                breakpoints: {
                    480: {
                        itemsToShow: 2,
                    },
                    768: {
                        itemsToShow: 3
                    }
                },
                trimWhiteSpace: true
            }
        }
    },
    computed: {
        ...mapFields('catalog', [
            'promotionsDetailKostyl',
            'hitOnMain',
            'newOnMain'
        ]),
        ...mapFields('articlesAndNews', [
            'newsOnMain',
            'articlesOnMain'
        ]),
        ...mapFields('reviews', [
            'reviewsOnMain'
        ]),
        isMainPromoActive () {
            let date = new Date()
            date = moment(date)
            return date <= moment(this.endMainPromotionDate)
        },
        loaded() {
            return this.$store.state.localStorage.status
        },
        endMainPromotionDate () {
            return this.promotionMain.hasOwnProperty('end_date') ? this.promotionMain.end_date : null
        },
        promotionMain () {
            return this.promotionsDetailKostyl.find(item => {
                return item.priority === '1'
            }) || {}
        },
        otherPromotions () {
            return this.promotionsDetailKostyl.filter(item => {
                return item.priority !== '1'
            })
        },
        innerSlug: () => url => {
            const adress = url.replace(/https?:\/\//, '')
            const adressArr = adress.split('/')
            return adressArr[adressArr.length - 1]
        },
    },
    methods: {
        getRemainingText (date) {
            if (!date) {
                return 'Бессрочно'
            }
            const currentDate = moment()
            const diff = Math.abs(moment(date).diff(currentDate, 'day'))
            return `Осталось ${diff} ${declOfNum(diff, 'days')}`
        },
        getRemaningDates (startDate, endDate) {
            const start = moment(startDate).format('DD.MM') || moment().format('DD.MM')
            const end = moment(endDate).format('DD.MM')
            if (!endDate) {
                return ''
            }
            return `с ${start} по ${end}`
        }
    }
}

</script>

<style lang="scss">
@import '~assets/styles/home.scss';
</style>
