<template>
    <div class="login">
        <h2 class="main__h2 login__h2">Вход</h2>
        <form action="" class="login__form" @submit.prevent="sendForm">
            <div class="login__row">
                <div class="login__wr"><inputText field-name="email" v-model="form.email" label-text=E-mail :validator="$v.form.email"></inputText></div>
                <div class="login__wr"><inputText field-name="password" v-model="form.password" label-text="Пароль" input-type="password" :validator="$v.form.password"></inputText></div>
                <div class="login__wr"><checkboxFilter v-model="form.remember_me" label-text="Запомнить меня" field-name="remember_me"></checkboxFilter></div>
                <div class="login__wr"><productButton button-type="submit" c-class="login__button" :disabled="!isValid">Войти</productButton></div>
            </div>
        </form>
    </div>
</template>

<script>
    import inputText from '@/components/inputText'
    import mjButton from '~/components/mjButton'
    import checkboxFilter from '~/components/checkboxFilter'
    import { validationMixin } from 'vuelidate'
    import { required } from 'vuelidate/lib/validators'
    import global from '~/mixins/global'
    import productButton from '@/components/productButton'
    import { mapActions } from 'vuex'
    export default {
        mixins: [validationMixin, global],
        components: {
            inputText,
            mjButton,
            checkboxFilter,
            productButton
        },
        data: () => ({
            form: {
                email: null,
                password: null,
                remember_me: false
            }
        }),
        validations: {
            form: {
                email: {
                    required
                },
                password: {
                    required
                }
            }
        },
        computed: {
            isValid() {
                return !this.$v.$invalid
            }
        },
        methods: {
            ...mapActions('checkout', [
                'getСumulativeDiscount'
            ]),
            async sendForm () {
                if (this.isValid) {
                    this.pending = true
                    this.showLoader = true
                    try {
                        await this.$auth.loginWith('local', { data: this.form })
                        await this.getСumulativeDiscount()
                        this.form.email = null
                        this.form.password = null
                        this.$v.$reset()
                        this.show = false
                        this.$notify({ group: 'all', text: 'Вы успешно авторизованы', type: 'success' })
                    } catch (err) {
                        this.$notify({ group: 'all', text: 'Неправильная пара логин/пароль', type: 'error' })
                    }
                    finally {
                        this.showLoader = false
                        this.pending = false
                    }
                }
            }
        }
    }
</script>

<style lang="scss">
    .login {
        padding-top: 30px;
        &__h2 {
            margin-bottom: 30px;
        }
        &__row {
            max-width: 600px;
            margin: 0 auto;
        }
        &__wr {
            margin-bottom: 16px;
        }
        &__button {
            font-size: 14px;
        }
    }

</style>
