<template>
    <div class="login">
        <div class="wrapper">
            <h2 class="main__h2 login__h2">Регистрация</h2>
            <form action="" class="login__form" @submit.prevent="sendForm">
                <div class="login__row">
                    <div class="login__wr">
                        <inputText field-name="name" v-model="form.name" label-text="Имя" :validator="$v.form.name" />
                    </div>
                    <div class="login__wr">
                        <inputText field-name="last_name" v-model="form.last_name" label-text="Фамилия" />
                    </div>
                    <div class="login__wr">
                        <inputText field-name="patronymic_name" v-model="form.patronymic_name" label-text="Отчество" />
                    </div>
                    <div class="login__wr">
                        <inputText field-name="email" v-model="form.email" label-text=E-mail :validator="$v.form.email" />
                    </div>
                    <div class="login__wr">
                        <inputText
                            field-name="password"
                            v-model="form.password"
                            label-text="Пароль"
                            input-type="password"
                            :validator="$v.form.password"
                            :error-message="{
                                'minLength': 'Минимальная длина парола 6 символов'
                            }"
                        />
                    </div>
                    <div class="login__wr">
                        <inputText
                            field-name="password_confirmation"
                           v-model="form.password_confirmation"
                           label-text="Повторите пароль"
                           input-type="password"
                           :validator="$v.form.password_confirmation"
                           :error-message="{
                            'sameAsPassword': 'Пароли должны совпадать'
                        }"
                        />
                    </div>
                    <div class="login__wr"><checkboxFilter v-model="form.remember_me" label-text="Запомнить меня" field-name="remember_me" /></div>
                    <div class="login__wr"><productButton button-type="submit" c-class="login__button" :disabled="!isValid">Зарегистрироваться</productButton></div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import inputText from '@/components/inputText'
import mjButton from '~/components/mjButton'
import checkboxFilter from '~/components/checkboxFilter'
import { validationMixin } from 'vuelidate'
import { minLength, required, sameAs } from 'vuelidate/lib/validators'
import global from '~/mixins/global'
import { mapFields } from 'vuex-map-fields'
import productButton from '@/components/productButton'
import { mapActions } from 'vuex'
export default {
    mixins: [validationMixin, global],
    components: {
        inputText,
        mjButton,
        checkboxFilter,
        productButton
    },
    data: () => ({
        form: {
            name: null,
            last_name: null,
            patronymic_name: null,
            email: null,
            password: null,
            password_confirmation: null,
            remember_me: false
        }
    }),
    validations: {
        form: {
            name: {
                required
            },
            email: {
                required
            },
            password: {
                required,
                minLength: minLength(6)
            },
            password_confirmation: {
                required,
                sameAsPassword: sameAs('password')
            }
        }
    },
    computed: {
        ...mapFields('menu', [
            'showLoader'
        ]),
        isValid() {
            return !this.$v.$invalid
        }
    },
    methods: {
        ...mapActions('checkout', [
            'getСumulativeDiscount'
        ]),
        async sendForm () {
            if (this.isValid) {
                this.showLoader = true
                try {
                    await this.$axios.$post('/auth/signup', this.form)
                    await this.$auth.loginWith('local', { data: this.form })
                    await this.getСumulativeDiscount()
                    this.form.email = null
                    this.form.password = null
                    this.form.last_name = null
                    this.form.patronymic_name = null
                    this.form.name = null
                    this.form.password_confirmation = null
                    this.$v.$reset()
                    this.$notify({ group: 'all', text: 'Вы успешно зарегистрированы', type: 'success' })
                } catch (err) {
                    if (err.response.status === 422) {
                        this.$notify({ group: 'all', text: 'Пользователь с таким E-mail уже зарегистрирован', type: 'error' })
                    } else {
                        this.$notify({ group: 'all', text: 'Произошла ошибка', type: 'error' })
                    }
                }
                finally {
                    this.showLoader = false
                }
            }
        }
    }
}
</script>

<style lang="scss">
.login {
    &__h2 {
        margin-bottom: 30px;
    }
    &__row {
        max-width: 600px;
        margin: 0 auto;
    }
    &__wr {
        margin-bottom: 16px;
    }
    &__button {
        font-size: 14px;
    }
}

</style>
