<template>
    <div class="innerCatalog">
        <div class="innerCatalog__content">
            <div class="innerCatalog__row">
<!--                <div class="innerCatalog__col innerCatalog__col_left">-->
<!--                    <div class="innerCatalog__filter innerCatalog-filter">-->
<!--                        <div class="innerCatalog-filter__caption">Фильтр</div>-->
<!--                        <div class="innerCatalog-filter__group-params" v-for="(groupParams) in filterParams" :key="groupParams.attributeType">-->
<!--                            <div class="innerCatalog-filter__group" v-for="(item) in groupParams.attributeGroup">-->
<!--                                <checkboxFilter :caption="item.caption" :params="item.props" v-model="filterValue[groupParams.attributeType]"></checkboxFilter>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="innerCatalog__col innerCatalog__col_right innerCatalog__col_full" v-if="Object.keys(searchResult).length">
                    <h1 class="h1 innerCatalog__h1">Результаты поиска - найдено {{ searchResult.meta.total }}</h1>
                    <div class="innerCatalog__product-container" >
                        <product v-for="(product) in searchResult.data" :key="product.id" :product="product" ></product>
                    </div>
                    <pagination :data="searchResult" @pagination-change-page="getResults" v-if="Object.keys(searchResult).length" :limit="2">
                        <span slot="prev-nav">&lt; Назад</span>
                        <span slot="next-nav">Вперед &gt;</span>
                    </pagination>
                </div>
                <div class="innerCatalog__col innerCatalog__col_right innerCatalog__col_full" v-else>
                    <h1 class="h1 innerCatalog__h1">Не найдено результатов</h1>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import global from '~/mixins/global'
import product from '~/components/product'
import pagination from 'laravel-vue-pagination'
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
export default {
    mixins:[global],
    components: {
        product,
        pagination
    },
    async mounted () {
        if(!this.searchQuery) {
            this.searchQuery = this.nameQuery
            await this.getResults()
        }
    },
    computed: {
        ...mapFields('catalog', [
            'searchResult',
            'searchQuery'
        ]),
        ...mapFields('menu', [
            'showLoader'
        ]),
        nameQuery() {
            let result = ''
            if(this.$route.query.hasOwnProperty('name')) {
                result = this.$route.query.name
            }
            return result
        }
    },
    methods: {
        ...mapActions('catalog', [
            'getSearchResult'
        ]),
        async getResults(page = 1) {
            this.showLoader = true
            await this.getSearchResult({
                query: this.nameQuery,
                page: page
            })
            this.showLoader = false
        },
    }
}
</script>

<style lang="scss" scoped>
@import '/assets/styles/catalog.scss';
</style>
