<template>
    <div class="innerCatalog">
        <div class="innerCatalog__content">
            <div class="innerCatalog__row">
                <div class="innerCatalog__col innerCatalog__col_right innerCatalog__col_full" >
                    <h1 class="h1 innerCatalog__h1">{{ detailPromotion.title }}</h1>
                    <div class="innerCatalog__description" v-html="detailPromotion.description"></div>
                    <client-only>
                        <div class="innerCatalog__product-container" v-if="detailPromotion.products.data.length">
                            <product v-for="(product) in detailPromotion.products.data" :key="product.id" :product="product"></product>
                        </div>
                        <infinite-loading @infinite="infiniteHandler" spinner="spiral" v-if="detailPromotion.products.data.length">
                            <div class="innerCatalog__infiniteScrollMessage" slot="no-more">Показан весь список товаров</div>
                            <div class="innerCatalog__infiniteScrollMessage" slot="no-results">Показан весь список товаров</div>
                        </infinite-loading>
<!--                        <pagination :data="detailPromotion.products" v-if="detailPromotion.products.data.length" @pagination-change-page="getResults" :limit="1">-->
<!--                            <span slot="prev-nav">&lt; Назад</span>-->
<!--                            <span slot="next-nav">Вперед &gt;</span>-->
<!--                        </pagination>-->
                    </client-only>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import global from '@/mixins/global'
import { mapActions, mapGetters } from 'vuex'
import pagination from 'laravel-vue-pagination'
import { mapFields } from 'vuex-map-fields'
import InfiniteLoading from 'vue-infinite-loading';
export default {
    mixins: [global],
    components: {
        pagination,
        InfiniteLoading
    },
    async asyncData ({ store, params }) {
        const isset = store.getters['catalog/getDetailPromotion'](params.slug)
        if(!isset) {
            await store.dispatch('catalog/getPromotion', {
                slug: params.slug,
                page: 1
            })
        }
    },
    computed: {
        ...mapGetters('catalog', [
            'getDetailPromotion',
            'getCurrentMetaPromotionPageBySlug'
        ]),
        ...mapFields('menu', [
            'showLoader'
        ]),
        detailPromotion () {
            return this.getDetailPromotion(this.slug)
        },
        slug() {
            return this.$route.params.slug
        }
    },
    methods: {
        ...mapActions('catalog', [
            'getPromotion',
            'getInfiniteInnerDetailPromotion'
        ]),
        async getResults(page = 1) {
            this.showLoader = true
            await this.getPromotion({
                slug: this.slug,
                page
            })
            this.showLoader = false
        },
        async infiniteHandler ($state) {
            this.infiniteState = $state
            const currentPage = this.getCurrentMetaPromotionPageBySlug(this.slug).current_page
            const lastPage = this.getCurrentMetaPromotionPageBySlug(this.slug).last_page
            if (currentPage < lastPage) {
                await this.getInfiniteInnerDetailPromotion({
                    slug: this.slug
                })
                $state.loaded()
            } else {
                $state.complete();
            }
        }
    }
}
</script>

<style lang="scss">
@import '/assets/styles/catalog.scss';
</style>
