<template>
    <div class="promotionsMain">
        <h1 class="h1 promotionsMain__h1">ПРОМО-АКЦИИ И СКИДКИ</h1>
        <div class="promotionsMain__row">
            <div class="promotionsMain__col" v-for="(promotion, index) in promotions" :key="index">
                <div class="promotionsMain__img-wr">
                    <n-link :to="{ path: `/promotions/${promotion.slug}` }" class="promotionsMain__img-link">
                        <div class="promotionsMain__relative"></div>
                        <img :src="`${$baseUrlImg}${promotion.image}`" alt="" class="promotionsMain__relative-content" v-if="promotion.image">
                        <img v-else src="~/assets/img/empty-img.jpg" alt="" class="promotionsMain__relative-content">
                    </n-link>
                </div>
                <n-link :to="{ path: `/promotions/${promotion.slug}` }" class="promotionsMain__promotion-caption">
                    {{ promotion.title }}
                </n-link>
            </div>
        </div>
    </div>
</template>

<script>
import global from '@/mixins/global'
import { mapFields } from 'vuex-map-fields'
export default {
    mixins: [global],
    computed: {
        ...mapFields('catalog', [
            'promotions'
        ])
    }
}
</script>

<style lang="scss">
@import '~/assets/styles/vars.scss';
@import '~/assets/styles/mixins.scss';
    .promotionsMain {
        &__h1 {
            margin-bottom: 36px;
        }
        &__row {
            @include row();
        }
        &__col {
            @include col(3);
            @media(max-width: 768px) {
                @include col(4);
            }
            @media(max-width: 480px) {
                @include col(12);
                margin-bottom: 16px;
            }
        }
        &__img-wr {
            margin-bottom: 16px;
        }
        &__img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        &__img-link {
            display: block;
            text-decoration: none;
            position: relative;
        }
        &__relative {
            width: 100%;
            padding-bottom: 100%;
        }
        &__relative-content {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
        }
        &__promotion-caption {
            font-family: RotondaC;
            font-size: 18px;
            line-height: 1.2;
            color: $color_black;
            text-decoration: none;
        }
    }
</style>
